@import '../../base_styles/base';

.main-container {
    padding-bottom: $spacing-small;
    display: grid;
    align-content: center;

    #address {
        font-size: $font-xsmall;
        margin: $spacing-xsmall auto;
        text-align: center;
        color: $coolgrey;

        span {
            color: $matteblack;
        }
    }

    .sameAddress {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 50%;
        margin: $spacing-small auto;
        align-content: center;

        label {
            font-size: $font-xxsmall;
            justify-self: start;
        }

        input {
            justify-self: end;
        }
    }
}

h2, h6 {
    text-align: center;
    margin: $spacing-normal;
}

#cc-number, #cc-expiry, #cc-cvv {
    display: block;
    padding: $spacing-xsmall;
    margin-bottom: $spacing-small;
    border-radius: $spacing-xsmall;
    border: 1px solid $lightgrey;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    height: 35px;

    &:focus {
        border-color: $matteblack;
    }
}

input {
    display: block;
    padding: $spacing-xsmall;
    margin-bottom: $spacing-small;
    border-radius: $spacing-xsmall;
    border: 1px solid $lightgrey;
    width: 75%;
    margin-left: auto;
    margin-right: auto;

    &:focus {
        border-color: $matteblack;
    }
}

.settings-btn {
    width: 60%;
    margin: $spacing-normal auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5px;

    #error {
        background: $inputError;

        &:hover {
            background:  $inputError;
        }
    }
}

.expiration {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5px;
    width: 60%;
    margin-bottom: $spacing-large;
    margin-left: auto;
    margin-right: auto;

    select {
        padding: $spacing-xsmall;
        border: none;
    }
}

.card-accepted {
    width: 60%;
    margin: $spacing-xxsmall auto;

    fa-icon {
        margin-right: $spacing-xsmall;
        font-size: $font-large;
    }

    .amex-active {
        color: $amex;
    }

    .visa-active {
        color: $visa;
    }

    .mastercard-active {
        color: $mastercard;
    }
}