<app-navbar></app-navbar>

<div class="main-container">
  <section class="content-container">
    <fa-icon *ngIf="good" [icon]="['fas', 'check-circle']"></fa-icon>
    <h3 *ngIf="good">Account Activated</h3>

    <h6 *ngIf="good">Thank you for choosing NXTDROP.</h6>

    <fa-icon *ngIf="error" class="error-icon" [icon]="['fas', 'exclamation-circle']"></fa-icon>

    <h3 *ngIf="error">Error</h3>

    <h6 *ngIf="error">Try later or contact our support team.</h6>
  </section>
</div>

<app-footer></app-footer>