@import '../../base_styles/base';

.main-container {
    display: grid;
    align-content: center;
}

.content-container {
    display: grid;
    align-items: center;
    justify-items: center;

    h3, h6 {
        text-align: center;
    }

    fa-icon {
        color: $green;
        display: block;
        font-size: $font-large;
    }

    .error-icon {
        color: $inputError;
    }
}