<app-navbar></app-navbar>

<div class="main-container">
  <section class="review-container" *ngIf="!error && transaction && user">
    <h2>Transaction ID:</h2>
    <h6>{{ transactionID }}</h6>

    <div class="review-items">
      <div class="review-item">
        <img src="{{ transaction.assetURL }}" alt="{{ transaction.model }}">
        <h5>{{ transaction.model + ', ' + transaction.size }}</h5>
        <h5>{{ transaction.price | currency: 'CAD' }}</h5>
      </div>
    </div>

    <div class="review-details">
      <div class="review-summary">
        <div class="subtotal">
          <h5>Subtotal</h5>
          <h5>{{ transaction.price | currency: 'CAD' }}</h5>
        </div>

        <div class="auth">
          <h5>Authentication Fee</h5>
          <h5>FREE</h5>
        </div>

        <div class="shipping">
          <h5>Shipping</h5>
          <h5 *ngIf="transaction.shippingCost">{{ transaction.shippingCost | currency: 'CAD' }}</h5>
          <h5 *ngIf="!transaction.shippingCost">{{ 0 | currency: 'CAD' }}</h5>
        </div>

        <div class="tax" *ngIf="transaction.discount">
          <h5>Discount</h5>
          <h5>- {{ transaction.discount | currency: 'CAD' }}</h5>
        </div>

        <div class="total">
          <h5>Total</h5>
          <h5>{{ transaction.total | currency: 'CAD' }}</h5>
        </div>
      </div>

      <div class="review-action" *ngIf="!transaction.status.sellerConfirmation && transaction.sellerID == user.uid && !transaction.status.cancelled">
        <h3>Seller Confirmation</h3>

        <button class="btn" (click)="confirmCancel()" *ngIf="!confLoading && !confError">Confirm Order</button>

        <button class="btn" *ngIf="confLoading">
          <fa-icon [icon]="['fas', 'spinner']" [spin]=true></fa-icon>
        </button>

        <button class="btn error" *ngIf="confError">Error</button>

        <button class="btn" (click)="confirmCancel()" *ngIf="!cancelLoading && !cancelError">Cancel Order</button>

        <button class="btn" *ngIf="cancelLoading">
          <fa-icon [icon]="['fas', 'spinner']" [spin]=true></fa-icon>
        </button>

        <button class="btn error" *ngIf="cancelError">Error</button>
      </div>

      <div class="review-action"
        *ngIf="!transaction.status.sellerConfirmation && transaction.buyerID == user.uid && !transaction.status.cancelled">
        <h3>Want a Refund?</h3>
        <button class="btn" (click)="cancelOrder()" *ngIf="!cancelLoading && !cancelError">Cancel Order</button>

        <button class="btn" *ngIf="cancelLoading">
          <fa-icon [icon]="['fas', 'spinner']" [spin]=true></fa-icon>
        </button>

        <button class="btn error-btn" *ngIf="cancelError">Error</button>
      </div>
    </div>

    <button class="btn" routerLink=".." *ngIf="!redirectTo">Back</button>
    <button class="btn" routerLink="../{{ redirectTo }}" *ngIf="redirectTo">Back</button>
  </section>

  <fa-icon style="text-align: center;" *ngIf="error" class="error-icon" [icon]="['fas', 'exclamation-circle']">
  </fa-icon>

  <h3 *ngIf="error" style="text-align: center;">Error</h3>

  <h6 *ngIf="error" style="text-align: center;">Try later or contact our support team.</h6>
</div>

<app-footer></app-footer>