<div class="main-container">
  <app-navbar></app-navbar>

  <section class="review-container">
    <h2>Transaction #1</h2>

    <div class="review-items">
      <div class="review-item">
        <img src="../../../assets/Air-Force-1-Low-Off-White-Volt.jpg" alt="Air-Force-1-Low-Off-White-Volt">
        <h5>Nike x OFF--WHITE AF1 Low Volt, US9</h5>
        <h5>$300</h5>
      </div>

      <div class="review-item">
        <img src="../../../assets/Jordan-4-Retro-Black-Laser.jpg" alt="Jordan-4-Retro-Black-Laser">
        <h5>Jordan 4 Retro Black Laser, US9</h5>
        <h5>$300</h5>
      </div>
    </div>

    <div class="review-details">
      <div class="review-summary">
        <div class="subtotal">
          <h5>Subtotal</h5>
          <h5>$600</h5>
        </div>

        <div class="shipping">
          <h5>Shipping</h5>
          <h5>$0</h5>
        </div>

        <div class="tax">
          <h5>Tax</h5>
          <h5>$0</h5>
        </div>

        <div class="total">
          <h5>Total</h5>
          <h5>$600</h5>
        </div>
      </div>

      <div class="review-shipment">
        <h5>Shipping To:</h5>
        <h5>Momar Cisse</h5>
        <h5>1234 Main St.</h5>
        <h5>Philadelphia, PA 19131</h5>
        <h5>USA</h5>
      </div>
    </div>

    <button class="btn" routerLink="..">Back</button>
  </section>
</div>

<app-footer></app-footer>