@import "../../base_styles/base";

#sell-page-1 {
  h3 {
    text-align: center;
    margin: $spacing-large 0 $spacing-large 0;
  }

  #how-it-works-content {
    div {
      display: grid;
      align-items: center;
      margin: $spacing-large 0;

      fa-icon {
        justify-self: center;
        color: $black;
      }
    }
  }
}

#sell-page-2 {
  align-self: baseline;
}

#sell-page-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90vw;
  height: $productContainerHeight;
  column-gap: 0;
  margin: 0 5vw;

  .disabled {
    background: $lightgrey !important;
    cursor: not-allowed;

    &:hover {
      background: $lightgrey !important;
    }
  }

  .product-info {
    text-align: center;
    display: grid;
    align-items: center;
    justify-items: center;

    img {
      display: block;
      margin: 0 auto;
      object-fit: contain;
      background: $white;
      border: none;
      width: 80%;
    }

    .product-stats {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: $spacing-normal;
      align-self: flex-start;

      h4 {
        &:first-child {
          color: $prodBtnPrimary2;
        }

        &:last-child {
          color: $prodBtnPrimary;
        }
      }
    }
  }

  .sizes {
    background: $lightergrey;
    overflow-y: auto;
    padding: $spacing-small;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    column-gap: $spacing-xsmall;
    row-gap: $spacing-xsmall;

    .size {
      @include vendor(transition, 0.2s ease-in);
      padding: $spacing-xsmall;
      border: 2px solid $black;
      background: $white;
      height: 70px;
      width: 70px;
      border-radius: $spacing-xxsmall;
      cursor: pointer;
      display: grid;
      align-items: center;

      #size,
      #highestBid {
        background: none;
        font-weight: $weight-black;
        font-size: $font-xsmall;
        border: none;
        cursor: pointer;
        text-align: center;
        height: 80%;
        outline: none;
      }

      #size {
        font-size: $font-normal;
        letter-spacing: 1px;
      }

      #highestBid {
        color: $prodBtnPrimary2;
      }

      &:hover {
        background: $black;

        #size {
          color: $white;
        }
      }
    }
  }

  .selling-form {
    background: $lightergrey;
    padding: $spacing-normal;

    .size-display {
      display: grid;
      grid-template-columns: 1fr 2fr;
      width: 80%;
      margin: $spacing-small auto;
      align-items: center;
      background: $white;
      padding: $spacing-normal;
      border: 1px solid $lightgrey;

      h4 {
        justify-self: center;
        font-size: $font-large;
      }

      button {
        justify-self: end;
        background: $black;
        padding: $spacing-small;
        font-size: $font-small;
        text-transform: uppercase;

        &:hover {
          background: $matteblack;
        }
      }
    }

    .offer-display {
      width: 100%;
      margin: $spacing-small auto;

      .sell-now-container {
        @extend .size-display;

        div {
          display: grid;
          grid-template-rows: 1fr 1fr;
          justify-items: center;
          align-items: center;

          h4 {
            font-size: $font-normal;
          }

          p {
            color: $prodBtnPrimary2;
            font-size: $font-large;
            font-weight: $weight-black;
            justify-self: center;
            text-align: center;
          }
        }

        button {
          background: $prodBtnPrimary2;

          &:hover {
            background: #f2635a;
          }
        }
      }

      .place-ask-container {
        display: grid;
        width: 80%;
        margin: $spacing-small auto;
        align-items: center;
        background: $white;
        padding: $spacing-normal;
        border: 1px solid $lightgrey;

        .seller-input {
          display: grid;
          grid-template-columns: 1fr 6fr;
          margin: $spacing-small auto;
          width: 100%;

          button,
          input {
            @include vendor(transition, 0.25s ease-in-out);
          }

          button {
            background: $prodBtnPrimary;
            color: $white;
            border: 1px solid $lightgrey;
            border-right: 1px solid $lightergrey;
            font-size: $font-normal;
            font-weight: $weight-black;
          }

          input {
            padding: $spacing-small;
            border: 1px solid $lightgrey;
            border-left: none;
            font-size: $font-normal;
          }

          &:hover {
            button,
            input {
              border-color: #61a6eb;
            }
          }
        }

        .fee-calculator {
          margin: $spacing-small auto;
          width: 100%;

          div {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: $spacing-small 0;
            border-bottom: 1px dotted $black;

            p {
              align-self: center;
              font-size: $font-small;

              &:first-child {
                justify-self: start;
              }

              &:last-child {
                justify-self: end;
              }
            }

            &:last-child {
              border-bottom: none;
            }
          }

          .payout {
            font-weight: $weight-black;

            p {
              font-size: $font-normal;
            }
          }
        }

        .place-ask-btn {
          width: 50%;
          padding: $spacing-small;
          text-transform: uppercase;
          margin: $spacing-small auto;
          background: $prodBtnPrimary;

          &:hover {
            background: #61a6eb;
          }
        }

        .sell-now-btn {
          @extend .place-ask-btn;
          background: $prodBtnPrimary2;

          &:hover {
            background: #f2635a;
          }
        }
      }
    }
  }
}

.main-container {
  display: grid;
  align-content: center;
}

.sell-container {
  h3 {
    text-align: center;
  }

  ol {
    list-style-type: decimal;
    font-size: $font-xsmall;
    margin-left: $spacing-normal;
    margin-top: $spacing-xsmall;
  }

  .prod-search {
    @include vendor(transition, 0.25s ease-in-out);
    display: block;
    padding: $spacing-small;
    width: 90%;
    margin: $spacing-normal auto;
    border-radius: $spacing-xxsmall;
    border: 1px solid $lightgrey;

    &:focus,
    &:hover {
      border-color: $matteblack;
    }
  }

  .search-results {
    width: 90%;
    margin: $spacing-small auto;
    border-radius: $spacing-xxsmall;
    height: 400px;
    overflow-y: auto;

    .hit {
      @include vendor(transition, 0.25s ease-in-out);
      height: 60px;
      display: grid;
      grid-template-columns: 1fr 5fr;
      align-items: center;
      padding: $spacing-xxsmall;

      &:hover {
        cursor: pointer;

        .hit-info {
          h3 {
            color: $green;
          }
        }
      }

      img {
        height: inherit;
        width: 100%;
        object-fit: contain;
      }

      .hit-info {
        display: grid;
        grid-template-rows: 1fr 1fr;
        padding-left: $spacing-xxsmall;

        h3 {
          text-align: left;
          color: $black;
          font-size: $font-xsmall;
        }

        h6 {
          color: $matteblack;
          font-size: $font-xxsmall;
        }
      }
    }
  }

  .sell-btns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: $spacing-normal;
    width: 90%;
    margin: $spacing-large auto;

    button {
      padding: $spacing-small;

      &:first-child {
        background: $black;

        &:hover {
          background: $matteblack;
        }
      }

      &:last-child:hover {
        background: $matteblue;
      }
    }
  }
}

// MEDIA QUERIES

@media only screen and (min-width: 0px) and (max-width: 400px) {
  h3 {
    font-size: $font-normal;
  }

  #sell-page-1 {
    #how-it-works-content {
      div {
        grid-template-columns: 1fr 9fr;
      }

      h6 {
        font-size: $font-xsmall;
      }
    }

    .sell-btns {
      margin: $spacing-large auto;
    }
  }

  .sell-container {
    padding: 0 !important;
    width: 98vw;
    justify-items: center;
    justify-content: center;
  }
}

@media only screen and (min-width: 400px) and (max-width: 800px) {
  h3 {
    font-size: $font-normal;
  }

  #sell-page-1 {
    #how-it-works-content {
      div {
        grid-template-columns: 1fr 9fr;
      }

      h6 {
        font-size: $font-xsmall;
      }
    }

    .sell-btns {
      margin: $spacing-large auto;
    }
  }

  .sell-container {
    padding: 0 !important;
    width: 90vw;
    justify-self: center;
    justify-items: center;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
  h3 {
    font-size: $font-large;
  }

  #sell-page-1 {
    #how-it-works-content {
      div {
        grid-template-columns: 1fr 9fr;
      }

      h6 {
        font-size: $font-xsmall;
      }
    }

    .sell-btns {
      margin: $spacing-large auto;
    }
  }

  .sell-container {
    padding: 0 !important;
    width: 75vw;
    justify-self: center;
    justify-items: center;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1800px) {
  h3 {
    font-size: $font-large;
  }

  #sell-page-1 {
    #how-it-works-content {
      div {
        grid-template-columns: 1fr 9fr;
      }

      h6 {
        font-size: $font-xsmall;
      }
    }

    .sell-btns {
      margin: $spacing-large auto;
    }
  }

  .sell-container {
    padding: 0 !important;
    width: 60vw;
    justify-self: center;
    justify-items: center;
  }
}

@media only screen and (min-width: 1800px) and (max-width: 2000px) {
  h3 {
    font-size: $font-large;
  }

  #sell-page-1 {
    #how-it-works-content {
      div {
        grid-template-columns: 1fr 9fr;
      }

      h6 {
        font-size: $font-xsmall;
      }
    }

    .sell-btns {
      margin: $spacing-large auto;
    }
  }

  .sell-container {
    padding: 0 !important;
    width: 50vw;
    justify-self: center;
    justify-items: center;
  }
}

@media only screen and (min-width: 2000px) {
  h3 {
    font-size: $font-large;
  }

  #sell-page-1 {
    width: 60vw;
    justify-self: center;

    #how-it-works-content {
      div {
        grid-template-columns: 2fr 8fr;
      }

      h6 {
        font-size: $font-small;
      }
    }

    .sell-btns {
      margin: $spacing-large auto;

      button {
        font-size: $font-normal;
      }
    }
  }

  #sell-page-2,
  #sell-page-3 {
    justify-self: center;
    width: 60vw;
  }

  .sell-container {
    padding: 0 !important;
    width: 45vw;
    justify-self: center;
    justify-items: center;
  }
}
