@import '../../base_styles/base';

#sell-page-1 {
    h3 {
        text-align: center;
        margin: $spacing-large 0 $spacing-large 0;
    }

    #how-it-works-content {
        div {
            display: grid;
            grid-template-columns: 1fr 8fr;
            align-items: center;
            margin: $spacing-large 0;

            fa-icon {
                justify-self: center;
                color: $black;
            }
        }
    }

    .sell-btns {
        margin: $spacing-xxlarge auto;
    }
}

#sell-page-2 {
    align-self: baseline
}

#sell-page-2, #sell-page-3, #sell-page-4 {
    display: none;
}

#sell-page-3 {
    h3 {
        margin: $spacing-large auto;
    }
}

#sell-page-4 {
    .pairStats {
        margin-top: $spacing-normal;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
    }
}

.main-container {
    display: grid;

    .sell-container {
        align-self: center;
    }
}

.sell-container {
    padding: $spacing-small;

    h3 {
        text-align: center;
    }

    ol {
        list-style-type: decimal;
        font-size: $font-xsmall;
        margin-left: $spacing-normal;
        margin-top: $spacing-xsmall;
    }

    ::ng-deep .ais-SearchBox {
        input {
            @include vendor(transition, 0.25s ease-in-out);
            display: block;
            padding: $spacing-small;
            width: 90%;
            margin: $spacing-normal auto;
            border-radius: $spacing-xxsmall;
            border: 1px solid $lightgrey;

            &:focus, &:hover {
                border-color: $matteblack;
            }
        }

        button {
            display: none;
        }
    }

    .search-results {
        width: 90%;
        margin: $spacing-small auto;
        border-radius: $spacing-xxsmall;
        height: 400px;
        overflow-y: auto;

        .hit {
            @include vendor(transition, 0.25s ease-in-out);
            height: 60px;
            display: grid;
            grid-template-columns: 1fr 5fr;
            align-items: center;
            padding: $spacing-xxsmall;

            &:hover {
                cursor: pointer;
                
                .hit-info {
                    h3 {
                        color: $green;
                    }
                }
            }

            img {
                height: inherit;
                width: 100%;
                object-fit: contain;
            }

            .hit-info {
                display: grid;
                grid-template-rows: 1fr 1fr;
                padding-left: $spacing-xxsmall;

                h3 {
                    text-align: left;
                    color: $black;
                    font-size: $font-xsmall;
                }

                h6 {
                    color: $matteblack;
                    font-size: $font-xxsmall;
                }
            }
        }
    }

    .sell-radios {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: $spacing-normal auto;
        align-items: center;
        justify-items: center;

        div {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;

            label {
               font-size: $font-small; 
            }
        }
    }

    .sell-price-input {
        width: 90%;
        margin: $spacing-normal auto;
        display: grid;
        grid-template-columns: 10% 80% 10%;
        background: $white;
        border: 1px solid $lightgrey;
        border-radius: $spacing-xxsmall;

        input {
            border: none;
            height: inherit;
            padding: $spacing-small;
            font-size: $font-normal;
            letter-spacing: 2px;
            font-weight: $weight-black;
        }

        button {
            border: none;
            height: inherit;
            background: $matteblack;
            color: $white;

            &:first-child {
                border-top-left-radius: $spacing-xxsmall;
                border-bottom-left-radius: $spacing-xxsmall;
            }

            &:last-child {
                border-top-right-radius: $spacing-xxsmall;
                border-bottom-right-radius: $spacing-xxsmall;
            }
        }
    }

    #item-size {
        display: block;
        width: 50%;
        height: 35px;
        margin: $spacing-normal auto;
    }

    .sell-btns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: $spacing-normal;
        width: 90%;
        margin: $spacing-large auto;

        button {
            padding: $spacing-small;

            &:first-child {
                background: $black;

                &:hover {
                    background: $matteblack;
                }
            }

            &:last-child:hover {
                background: $matteblue;
            }
        }
    }

    .error-btn {
        background: $inputError;

        &:hover {
            background: $inputError!important;
        }
    }

    .listed-btn {
        background: $green;

        &:hover {
            background: $green!important;
        }
    }

    .disabled {
        background: $lightgrey;
        cursor: not-allowed;

        &:hover {
            background: $lightgrey!important;
        }
    }
}