<app-navbar></app-navbar>

<div class="main-container">

  <section class="sell-container" id="sell-page-1" *ngIf="showHowItWorks">
    <h3>How It Works</h3>

    <div id="how-it-works-content">
      <div>
        <fa-icon [icon]="['fas', 'tag']"></fa-icon>
        <h6>List an item for sale</h6>
      </div>

      <div>
        <fa-icon [icon]="['fas', 'box']"></fa-icon>
        <h6>When your item sells. Confirm then ship within 2 business days. We'll authenticate it and ship it to the
          buyer.</h6>
      </div>

      <div>
        <fa-icon [icon]="['fas', 'money-bill-wave']"></fa-icon>
        <h6>You receive your money A$AP.</h6>
      </div>
    </div>

    <div class="sell-btns">
      <button class="btn" *ngIf="selectedPair" routerLink="/product/{{ selectedPair.productID }}">Back</button>
      <button class="btn" *ngIf="!selectedPair" routerLink="..">Back</button>
      <button class="btn" (click)="nextPage()">Next</button>
    </div>
  </section>

  <section class="sell-container" id="sell-page-2" *ngIf="showSearch">
    <h3>Select a product</h3>
    <input autofocus type="text" (keyup)="searchChanged($event)" placeholder="Search for product" class="prod-search">

    <div *ngIf="showResults">
      <div class="search-results">
        <div *ngFor="let hit of results">

          <div class="hit" (click)="selectPair(hit, true)">
            <img src="{{ hit.assetURL }}">

            <div class="hit-info">
              <h3>{{ hit.model }}</h3>
              <h6>{{ hit.colorway }}</h6>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section id="sell-page-3" *ngIf="showItem">
    <div class="product-info">
      <h1>{{ selectedPair.model }}</h1>

      <div class="product-stats">
        <h4 *ngIf="currentBid">Highest Bid: {{ currentBid.price | currency: 'CAD' : 'symbol' : '1.0-0' }}</h4>
        <h4 *ngIf="!currentBid">Highest Bid: --</h4>
        <h4 *ngIf="currentAsk">Lowest Ask: {{ currentAsk.price | currency: 'CAD' : 'symbol' : '1.0-0' }}</h4>
        <h4 *ngIf="!currentAsk">Lowest Ask: --</h4>
      </div>

      <img src="{{ selectedPair.assetURL }}" alt="{{ selectedPair.model }}">
    </div>

    <div class="sizes" *ngIf="!selectedSize">
      <div class="size" id="{{ offer.size }}" *ngFor="let offer of offers" (click)="selectSize(offer.size)">
        <button id="size">{{ offer.size }}</button>
        <button id="highestBid"
          *ngIf="offer.HighestBid">{{ offer.HighestBid.price | currency: 'CAD' : 'symbol' : '1.0-0' }}</button>
        <button id="highestBid" *ngIf="!offer.HighestBid">--</button>
      </div>
    </div>

    <div class="selling-form" *ngIf="selectedSize">
      <div class="offer-display">
        <div class="sell-now-container">
          <div>
            <h4>Highest Bid</h4>
            <p *ngIf="currentBid">{{ currentBid.price | currency: 'CAD' : 'symbol' : '1.0-0' }}</p>
            <p *ngIf="!currentBid">--</p>
          </div>

          <button class="btn" *ngIf="currentBid" (click)="sellNow()">Sell Now</button>
          <button class="btn disabled" *ngIf="!currentBid">Sell Now</button>
        </div>

        <div class="place-ask-container">
          <div class="seller-input">
            <button>CA$</button>
            <input type="text" name="input" id="input" placeholder="Enter Price" mask="0000000000"
              (keyup)="priceChanges($event)">
          </div>

          <div class="fee-calculator">
            <div class="fee">
              <p>Transaction Fee (9.5%)</p>
              <p *ngIf="consignmentFee > 0">-{{ consignmentFee | currency: 'CAD' : 'symbol' : '1.2-2' }}</p>
              <p *ngIf="consignmentFee === 0">--</p>
            </div>

            <div class="processing">
              <p>Payment Processing (3%)</p>
              <p *ngIf="paymentProcessingFee > 0">-{{ paymentProcessingFee | currency: 'CAD' : 'symbol' : '1.2-2' }}</p>
              <p *ngIf="paymentProcessingFee === 0">--</p>
            </div>

            <div class="shipping">
              <p>Shipping</p>
              <p *ngIf="paymentProcessingFee > 0">{{ 0 | currency: 'CAD' : 'symbol' : '1.2-2' }}</p>
              <p *ngIf="paymentProcessingFee === 0">--</p>
            </div>

            <div class="payout">
              <p>Total Payout</p>
              <p *ngIf="payout > 0">{{  payout | currency: 'CAD' : 'symbol' : '1.2-2' }}</p>
              <p *ngIf="payout === 0">--</p>
            </div>
          </div>

          <button class="btn ripple place-ask-btn"
            *ngIf="priceAdded && (pairPrice > currentBid.price || !currentBid) && !loading && !listed"
            (click)="submitListing()">Place Ask</button>
          <button class="btn ripple place-ask-btn disabled" *ngIf="!priceAdded">Place Ask</button>
          <button class="btn ripple place-ask-btn" *ngIf="loading"><fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon></button>
          <button class="btn ripple place-ask-btn" *ngIf="listed">Listed</button>
          <button class="btn ripple sell-now-btn" *ngIf="priceAdded && currentBid && pairPrice <= currentBid.price"
            (click)="sellNow()">Sell Now</button>
        </div>
      </div>

      <div class="size-display">
        <h4>{{ selectedSize }}</h4>
        <button class="btn ripple" (click)="changeSize()">Change Size</button>
      </div>
    </div>
  </section>
</div>

<app-footer></app-footer>