<app-navbar></app-navbar>

<div class="main-container">

  <section class="sell-container" id="sell-page-1">
    <h3>How It Works</h3>

    <div id="how-it-works-content">
      <div>
        <fa-icon [icon]="['fas', 'tag']"></fa-icon>
        <h6>List an item for sale</h6>
      </div>

      <div>
        <fa-icon [icon]="['fas', 'box']"></fa-icon>
        <h6>Ship the item within 2 business days. We'll authenticate it and ship it to the buyer.</h6>
      </div>

      <div>
        <fa-icon [icon]="['fas', 'money-bill-wave']"></fa-icon>
        <h6>You receive your money A$AP.</h6>
      </div>
    </div>

    <div class="sell-btns">
      <button class="btn" routerLink="..">Back</button>
      <button class="btn" (click)="goToPage2(true)">Next</button>
    </div>    
  </section>

  <section class="sell-container" id="sell-page-2">
    <h3>Select a product</h3>
    <ais-instantsearch [config]="searchConfig">

      <ais-search-box [autofocus]="true" (change)="searchChanged($event)" placeholder="Search for product"></ais-search-box>

      <ais-hits *ngIf="showResults">
        <ng-template let-hits="hits">
          <div class="search-results">
            <div *ngFor="let hit of hits">

              <div class="hit" (click)="selectPair(hit)">
                <img src="{{ hit.assetURL }}">

                <div class="hit-info">
                  <h3>{{ hit.model }}</h3>
                  <h6>{{ hit.colorway }}</h6>
                </div>
              </div>

            </div>
          </div>
        </ng-template>
      </ais-hits>

    </ais-instantsearch>
  </section>

  <section class="sell-container" id="sell-page-3">
      <h3>Condition and size?</h3>
  
      <div class="sell-radios">
        <div>
          <input type="radio" name="condition" value="new" (change)="radioHandler($event)">
          <label for="condition">New</label>
        </div>
        
        <div>
          <input type="radio" name="condition" value="used" (change)="radioHandler($event)">
          <label for="condition">Used</label>
        </div>
      </div>
  
      <select name="size" id="item-size" (change)="sizeChanges($event)">
        <option value="none" selected>Select Size</option>
        <option value="US6">US 6</option>
        <option value="US6.5">US 6.5</option>
        <option value="US7">US 7</option>
        <option value="US7.5">US 7.5</option>
        <option value="US8">US 8</option>
        <option value="US8.5">US 8.5</option>
        <option value="US9">US 9</option>
        <option value="US9.5">US 9.5</option>
        <option value="US10">US 10</option>
        <option value="US10.5">US 10.5</option>
        <option value="US11">US 11</option>
        <option value="US11.5">US 11.5</option>
        <option value="US12">US 12</option>
        <option value="US12.5">US 12.5</option>
        <option value="US13">US 13</option>
        <option value="US13.5">US 13.5</option>
        <option value="US14">US 14</option>
        <option value="US14.5">US 14.5</option>
        <option value="US15">US 15</option>
      </select>
  
      <div class="sell-btns">
        <button class="btn" id="page-2-back-btn" (click)="goToPage2(false)">Back</button>
        <button class="btn" id="page-2-back-btn-alt" routerLink="../">Cancel</button>
        <button class="btn" (click)="goToPage4()" id="add-btn" *ngIf="nextToPage4">Next</button>
        <button class="btn disabled" id="add-btn" *ngIf="!nextToPage4">Next</button>
      </div>
    </section>

  <section class="sell-container" id="sell-page-4">
    <!--<ol>
      <li>You&apos;ll be notified via email when a buyer purchases your item.</li>
      <li>Once you confirm the order, you&apos;ll have 48 hours to ship the item and confirm that you shipped it.</li>
      <li>We&apos;ll verify the item and you&apos;ll get paid when it passes our verification process.</li>
      <li>If it doesn&apos;t pass our verification process, we&apos;ll charge you 15% of the item price. Please, do not make us take your money.</li>
      <li>We&apos;ll take a 12% consignment fee on all sales.</li>
    </ol>-->

    <h3>Almost Done...</h3>

    <ol>
      <li>If your item does not pass our verification process, we will charge you 15% of the item price.</li>
      <li>We take a 13% consignment fee on all sales.</li>
    </ol>

    <div class="pairStats">
      <p *ngIf="highestOffer == 0">Highest Offer: --</p>
      <p *ngIf="highestOffer > 0">Highest Offer: {{ highestOffer | currency: 'CAD' }}</p>
      <p *ngIf="lowestListing == 0">Lowest Price: --</p>
      <p *ngIf="lowestListing > 0">Lowest Price: {{ lowestListing | currency: 'CAD' }}</p>
    </div>

    <div class="sell-price-input">
      <button>CA<fa-icon [icon]="['fas', 'dollar-sign']"></fa-icon></button>
      <input type="text" placeholder="Enter Price" id="sell-price-input" (keyup)="priceChanges($event)">
      <button>.00</button>
    </div>

    <div class="sell-btns">
      <button class="btn" (click)="goToPage3()">Back</button>
      <button class="btn disabled" id="add-btn" *ngIf="!error && !listed && !loading && !priceAdded">Finish</button>
      <button class="btn" id="add-btn" (click)="submitListing()" *ngIf="!error && !listed && !loading && priceAdded && pairPrice > highestOffer">Finish</button>
      <button class="btn" id="add-btn" (click)="sellNow()" *ngIf="!error && !listed && !loading && priceAdded && pairPrice <= highestOffer">Sell at {{ highestOffer | currency: 'CAD' }}</button>
      <button class="btn error-btn" *ngIf="error">Error</button>
      <button class="btn listed-btn" *ngIf="listed">Listed</button>
      <button class="btn" *ngIf="loading"><fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon></button>
    </div>
  </section>
</div>

<app-footer></app-footer>