<div class="main-container">
  <app-navbar></app-navbar>

  <section class="cart-container">
    <h2>Your Cart</h2>

    <div class="cart-items">
      <div class="cart-item">
        <img src="../../../assets/Air-Force-1-Low-Off-White-Volt.jpg" alt="Air-Force-1-Low-Off-White-Volt">

        <div class="cart-item-specs">
            <h5 id="item-name">Nike x OFF--WHITE AF1 Low Volt, US9</h5>
            <button class="btn">Remove</button>
        </div>

        <h5 id="item-price">$200</h5>
      </div>
    </div>

    <div class="cart-divider"></div>

    <div class="cart-subtotal">
      <h5>Subtotal</h5>
      <h5>$200</h5>
    </div>

    <button class="btn cart-checkout-btn">Checkout</button>
  </section>
</div>

<app-footer></app-footer>