<div class="main-container">
  <app-navbar></app-navbar>

  <section class="cart-container">
    <h2>Your Cart</h2>

    <div class="cart-items" *ngFor="let cartItem of cartItems">
      <div class="cart-item">
        <img src="{{ cartItem.assetURL }}" alt="{{ cartItem.model }}">

        <div class="cart-item-specs">
            <h5 id="item-name">{{ cartItem.model }}, {{ cartItem.size }}</h5>
            <button class="btn" (click)="removeFromCart(cartItem.listingID)">Remove</button>
        </div>

        <h5 id="item-price">{{ cartItem.price | currency: 'CAD' }}</h5>
      </div>
    </div>

    <div class="cart-divider"></div>

    <div class="cart-subtotal">
      <h5>Subtotal</h5>
      <h5>{{ subtotal | currency: 'CAD' }}</h5>
    </div>

    <button class="btn cart-checkout-btn" routerLink="/checkout">Checkout</button>
  </section>
</div>

<app-footer></app-footer>