<app-navbar></app-navbar>

<div class="main-container">
  <div>
    <h2>Account Settings</h2>
    <a class="settings-btn" routerLink="/settings/profile">Profile</a>
    <a class="settings-btn" routerLink="/settings/password">Password</a>
    <a class="settings-btn" routerLink="/settings/shipping">Shipping Address</a>
    <!--<button class="settings-btn" routerLink="/settings/buying">Buying</button>
    <button class="settings-btn" routerLink="/settings/selling">Selling</button>
    <button class="settings-btn" routerLink="/settings/payout">Payout</button>-->
  </div>
</div>

<app-footer></app-footer>