@import '../../base_styles/base';

.main-container {
    display: grid;
    align-items: center;
}

h2 {
    text-align: center;
    margin: $spacing-large;
}

button {
    display: block;
    border: none;
    margin: $spacing-large auto;
    padding: $spacing-small;
    border-radius: $spacing-xsmall;
    cursor: pointer;
    font-size: $font-large;
    font-weight: $weight-black;
    letter-spacing: 2px;
    background: $black;
    color: $white;
    @include vendor(transition, 0.25s ease-in-out);

    &:hover {
        background: $matteblack;
    }
}

// MEDIA QUERIES

@media only screen and (min-width: 0px) and (max-width: 400px) {
    h2 {
        font-size: $font-large;
    }

    button {
        width: 90%;
    }
}

@media only screen and (min-width: 400px) and (max-width: 800px) {
    h2 {
        font-size: $font-large;
    }

    button {
        width: 80%;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
    h2 {
        font-size: $font-large;
    }

    button {
        width: 50%;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1800px) {
    h2 {
        font-size: $font-large;
    }

    button {
        width: 35%;
    }
}

@media only screen and (min-width: 1800px) and (max-width: 2000px) {
    h2 {
        font-size: $font-large;
    }

    button {
        width: 30%;
    }
}

@media only screen and (min-width: 2000px) {
    h2 {
        font-size: $font-large;
    }

    button {
        width: 30%;
    }
}