<footer>
  <section>
    <div class="blueLine"></div>
    <div class="greenLine"></div>
  </section>

  <img src="../../../assets/Negative w- letterspng.png" alt="NXTDROP, Inc. Logo Negative" class="footer-logo">

  <a class="blog-btn" routerLink="/request">
    Product Request
  </a>

  <a class="support-btn" routerLink="/support">
    Support
  </a>

  <a class="terms-btn" routerLink="/terms">
    Terms
  </a>

  <a class="privacy-btn" routerLink="/privacy">
    Privacy
  </a>

  <a href="https://instagram.com/nxtdrop" target="_blank" class="instagram-btn social">
    <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
  </a>

  <a href="https://facebook.com/nxtdrop" target="_blank" class="facebook-btn-footer social">
    <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
  </a>

  <a href="https://twitter.com/nxtdrop" target="_blank" class="twitter-btn social">
    <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
  </a>
</footer>