<footer>
  <section>
      <div class="blueLine"></div>
      <div class="greenLine"></div>
  </section>
  
  <img src="../../../assets/Negative w- letterspng.png" alt="NXTDROP, Inc. Logo Negative" class="footer-logo">

  <button class="blog-btn">
    
  </button>

  <button class="support-btn" routerLink="/support">
    Support
  </button>

  <button class="terms-btn">
    Terms
  </button>

  <button class="privacy-btn">
    Privacy
  </button>

  <button (click)="goToLink('instagram')" class="instagram-btn social">
    <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
  </button> 
  
  <button (click)="goToLink('facebook')" class="facebook-btn-footer social">
      <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
  </button>

  <button (click)="goToLink('twitter')" class="twitter-btn social">
      <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
  </button>
</footer>