@import "../../base_styles/base";

footer {
  background: $black;
  display: grid;
  grid-template-rows: 1fr;
  row-gap: $spacing-large;
  align-items: center;

  .links {
    display: inline;

    a {
      color: $white;
      padding: 0;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        color: $coolgrey;
      }
    }
  }

  .end {
    display: grid;
    align-items: center;

    .social {
      a {
        color: $white;
        @include vendor(transition, $transition-fast ease-in-out);

        margin-right: $spacing-normal;

        &:last-child {
          margin-right: 0;
        }

        fa-icon {
          font-size: $font-large;
        }
      }

      .instagram-btn:hover {
        color: $instagram;
      }

      .facebook-btn-footer:hover {
        color: $facebook;
      }

      .twitter-btn:hover {
        color: $twitter;
      }

      .youtube-btn:hover {
        color: $youtube;
      }
    }

    p {
      color: $white;
      font-size: $font-xsmall;
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 400px) {
  footer {
    padding: $spacing-normal;

    .links {
      a {
        margin-right: $spacing-normal;
        font-size: $font-xsmall;
      }
    }

    .end {
      grid-template-rows: 1fr 1fr;
      row-gap: $spacing-normal;

      .social {
        justify-self: center;
      }

      p {
        justify-self: center;
      }
    }
  }
}

@media only screen and (min-width: 400px) and (max-width: 800px) {
  footer {
    padding: $spacing-normal;

    .links {
      a {
        margin-right: $spacing-normal;
        font-size: $font-xsmall;
      }
    }

    .end {
      grid-template-rows: 1fr 1fr;
      row-gap: $spacing-normal;

      .social {
        justify-self: center;
      }

      p {
        justify-self: center;
      }
    }
  }
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
  footer {
    padding: $spacing-large;

    .links {
      a {
        margin-right: $spacing-small;
        font-size: $font-small;
      }
    }

    .end {
      grid-template-columns: 1fr 1fr;

      .social {
        justify-self: start;
      }

      p {
        justify-self: end;
      }
    }
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1800px) {
  footer {
    padding: $spacing-xlarge;

    .links {
      a {
        margin-right: $spacing-small;
        font-size: $font-small;
      }
    }

    .end {
      grid-template-columns: 1fr 1fr;

      .social {
        justify-self: start;
      }

      p {
        justify-self: end;
      }
    }
  }
}

@media only screen and (min-width: 1800px) and (max-width: 2000px) {
  footer {
    padding: $spacing-xlarge;

    .links {
      a {
        margin-right: $spacing-small;
        font-size: $font-normal;
      }
    }

    .end {
      grid-template-columns: 1fr 1fr;

      .social {
        justify-self: start;
      }

      p {
        justify-self: end;
        font-size: $font-small !important;
      }
    }
  }
}

@media only screen and (min-width: 2000px) {
  footer {
    padding: $spacing-xlarge;

    .links {
      a {
        margin-right: $spacing-small;
        font-size: $font-normal;
      }
    }

    .end {
      grid-template-columns: 1fr 1fr;

      .social {
        justify-self: start;
      }

      p {
        justify-self: end;
        font-size: $font-small !important;
      }
    }
  }
}
