<section>
  <div class="blueLine"></div>
  <div class="greenLine"></div>
</section>

<footer>
  <div class="links">
    <a class="how-it-works-btn" routerLink="/how-it-works">
      How It Works
    </a>

    <a class="faq-btn" routerLink="/faq">
      FAQ
    </a>

    <a class="reviews-btn" href="https://www.trustpilot.com/review/nxtdrop.com" target="_blank">
      Reviews
    </a>

    <a class="terms-btn" routerLink="/terms">
      Terms
    </a>

    <a class="privacy-btn" routerLink="/privacy">
      Privacy
    </a>

    <a class="support-btn" routerLink="/support">
      Support
    </a>

    <a class="request-btn" routerLink="/request">
      Product Request
    </a>

    <a class="news-btn" routerLink="/news">
      News
    </a>
  </div>

  <div class="end">
    <div class="social">
      <a href="https://instagram.com/nxtdrop" target="_blank" class="instagram-btn">
        <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
      </a>

      <a href="https://facebook.com/nxtdrop" target="_blank" class="facebook-btn-footer">
        <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
      </a>

      <a href="https://twitter.com/nxtdrop" target="_blank" class="twitter-btn">
        <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
      </a>

      <a href="https://www.youtube.com/channel/UCB-JQGXYaskh-h_LKZT83zA" target="_blank" class="youtube-btn">
        <fa-icon [icon]="['fab', 'youtube']"></fa-icon>
      </a>
    </div>

    <p>&copy; 2020 NXTDROP, Inc. All Rights Reserved.</p>
  </div>
</footer>