@import '../../base_styles/base';

footer {

    display: grid;
    grid-template-rows: 5px 95px;
    height: $footerHeight;
    width: 100%;
    background: $black;

    .footer-logo {
        margin-left: $spacing-small;
        align-self: center;
    }

    a {
        background: transparent;
        border: none;
        align-self: center;
        justify-self: center;
        color: $white;
        cursor: pointer;
        @include vendor(transition, $transition-fast ease-in-out);

        &:hover {
            color: $coolergrey;
        }
    }

    //double line
    section {
        grid-column: 1/6;
    }

    .instagram-btn {
        grid-column: 3/4;

        &:hover, :focus {
            color: #e1306c;
        }
    }

    .facebook-btn-footer {
        grid-column: 4/5;

        &:hover, :focus {
            color: #3c5a99;
        }
    }

    .twitter-btn {
        grid-column: 5/6;

        &:hover, :focus {
            color: #38A1F3;
        }
    }

    .social {
        font-size: $font-xlarge;
        color: $white;
        align-self: baseline;
        cursor: pointer;

        @include vendor(transition, $transition-normal ease-in-out);
    }
}

// MEDIA QUERIES

@media only screen and (min-width: 0px) and (max-width: 400px) {
    footer {
        grid-template-columns: 8fr 3fr 3fr 3fr 3fr;
    }

    a {
        font-size: $font-xsmall;
    }

    .footer-logo {
        height: $spacing-large;
    }
}

@media only screen and (min-width: 400px) and (max-width: 800px) {
    footer {
        grid-template-columns: 8fr 3fr 3fr 3fr 3fr;
    }

    a {
        font-size: $font-xsmall;
    }

    .footer-logo {
        height: $spacing-large;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
    footer {
        grid-template-columns: 12fr 2fr 2fr 2fr 2fr;
    }
    
    a {
        font-size: $font-small;
    }

    .footer-logo {
        height: $spacing-xlarge;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1800px) {
    footer {
        grid-template-columns: 12fr 2fr 2fr 2fr 2fr;
    }
    
    a {
        font-size: $font-normal;
    }

    .footer-logo {
        height: $spacing-xxlarge;
    }
}

@media only screen and (min-width: 1800px) and (max-width: 2000px) {
    footer {
        grid-template-columns: 16fr 1fr 1fr 1fr 1fr;
    }
    
    a {
        font-size: $font-normal;
    }

    .footer-logo {
        height: $spacing-xxlarge;
    }
}

@media only screen and (min-width: 2000px) {
    footer {
        grid-template-columns: 16fr 1fr 1fr 1fr 1fr;
    }
    
    a {
        font-size: $font-normal;
    }

    .footer-logo {
        height: $spacing-xxlarge;
    }
}