<div class="main-container">
  <app-navbar></app-navbar>

  <section class="dashboard-nav">
    <a routerLink="/dashboard/purchases" (click)="getPurchases()"><button class="btn"
        id="purchase-btn">Purchases</button></a>
    <a routerLink="/dashboard/sales" (click)="getSales()"><button class="btn" id="sales-btn">Sales</button></a>
  </section>

  <section class="dashboard-stats">
    <div class="dashboard-purchases">
      <h6>Purchases</h6>
      <h5 *ngIf="user">{{ user.ordered }}</h5>
      <h5 *ngIf="!user">0</h5>
    </div>

    <div class="dashboard-sales">
      <h6>Sales</h6>
      <h5 *ngIf="user">{{ user.sold }}</h5>
      <h5 *ngIf="!user">0</h5>
    </div>
  </section>

  <table *ngIf="showPurchases">
    <tr>
      <th>Item</th>
      <th>Purchase Date</th>
      <th>Status</th>
      <th>Action</th>
    </tr>

    <tr class="purchases-row" *ngFor="let purchase of purchases">
      <td>{{ purchase.model + ', ' + purchase.size }}</td>
      <td>{{ purchase.purchaseDate | date:'medium' }}</td>
      <td>{{ printOrderStatus(purchase.status) }}</td>

      <td *ngIf="printOrderStatus(purchase.status) === 'awaiting seller confirmation'" [routerLink]="['/transaction']"
        [queryParams]="{ transactionID: purchase.id, redirectTo: 'dashboard/purchases' }">More
        Details/Cancel</td>

      <td *ngIf="printOrderStatus(purchase.status) != 'awaiting seller confirmation'" [routerLink]="['/transaction']"
        [queryParams]="{ transactionID: purchase.id, redirectTo: 'dashboard/purchases' }">More
        Details
      </td>
    </tr>
  </table>

  <table *ngIf="showSales">
    <tr>
      <th>Item</th>
      <th>Purchase Date</th>
      <th>Status</th>
      <th>Action</th>
    </tr>

    <tr class="sales-row" *ngFor="let sale of sales">
      <td>{{ sale.model + ', ' + sale.size }}</td>
      <td>{{ sale.purchaseDate | date:'medium' }}</td>
      <td>{{ printOrderStatus(sale.status) }}</td>

      <td *ngIf="printOrderStatus(sale.status) === 'awaiting seller confirmation'" [routerLink]="['/transaction']"
        [queryParams]="{ transactionID: sale.id, redirectTo: 'dashboard/sales' }">Confirm/Cancel
      </td>

      <td *ngIf="printOrderStatus(sale.status) != 'awaiting seller confirmation'" [routerLink]="['/transaction']"
        [queryParams]="{ transactionID: sale.id, redirectTo: 'dashboard/sales' }">More Details
      </td>
    </tr>
  </table>

  <button class="btn dashboard-btn" *ngIf="showPurchases && purchases.length > 15 || showSales && sales.length > 15" (click)="more()">See
    More</button>
</div>
<app-footer></app-footer>