<div class="slide-menu" id="slide-menu">
  <section class="menu-header">
    <fa-icon [icon]="['fas', 'times']" (click)="closeMenu()"></fa-icon>
    <img src="../../../assets/Negative w- letterspng.png" alt="NXTDROP, Inc. Logo Negative">
    <div class="blueLine"></div>
    <div class="greenLine"></div>
  </section>

  <section class="menu-content">
    <ul class="main-menus" *ngIf="connected; else altMenu">
      <li>
        <a routerLink="/">Home</a>
      </li>

      <li>
          <a routerLink="/sell">Sell</a>
      </li>
      
      <li>
          <a routerLink="/dashboard">Dashboard</a>
      </li>

      <li>
          <a routerLink="/profile">Profile</a>
      </li>

      <li>
          <a routerLink="/settings">Settings</a>
      </li>

      <li>
          <a routerLink="/blog">Blog</a>
      </li>

      <li>
          <a routerLink="/logout">Log out</a>
      </li>
    </ul>

    <ng-template #altMenu>
      <ul class="main-menus">
        <li>
          <a routerLink="/">Home</a>
        </li>
      
        <li>
          <a routerLink="/blog">Blog</a>
        </li>

        <li>
          <a routerLink="/signin">Sign in</a>
        </li>
      </ul>
    </ng-template>

    <ul class="bottom-menus">
      <li>
        <a routerLink="/terms">Terms</a>
      </li>

      <li>
          <a routerLink="/support">Support</a>
      </li>

      <li>
          <a routerLink="/privacy">Privacy</a>
      </li>
    </ul>
  </section>
</div>

<nav [class]="connected ? 'col-5' : 'col-4'">
  <button class="nav-hamburger" (click)="openMenu()">
    <fa-icon [icon]="['fas', 'bars']"></fa-icon>
  </button>

  <a routerLink="/" class="nav-home">
    <img src="../../../assets/Color w- letterspng.png" alt="NXTDROP, Inc. Logo">
  </a>

  <section class="nav-icons" *ngIf="connected; else navBtns">
    <button class="nav-notifications nav-icon">
      <fa-icon [icon]="['fas', 'bell']"></fa-icon>
    </button>
        
    <button class="nav-cart nav-icon">
      <fa-icon [icon]="['fas', 'shopping-cart']"></fa-icon>
    </button>
      
    <button class="nav-profile">
      <a routerLink="/profile">
        <fa-icon [icon]="['fas', 'user-circle']"></fa-icon>
      </a>
    </button>
  </section>

  <ng-template #navBtns>
    <section class="nav-btns">
      <button class="nav-login">
        <a routerLink="/login">LOG IN</a>
      </button>
      
      <button class="nav-signup">
        <a routerLink="/signup">SIGN UP</a>
      </button>
    </section>
  </ng-template>
  
  <div class="blueLine"></div>
  <div class="greenLine"></div>
</nav>