@import '../../base_styles/base';

.col-4 {
    display: grid;
    grid-template-columns: 2fr 9fr 9fr;
    height: $navHeight;
}

.col-5 {
    display: grid;
    grid-template-columns: 2fr 12fr 6fr;
    height: $navHeight;
}

.slide-menu {
    @include vendor(transition, all 0.5s);
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 100vh;
    z-index: 5;
    overflow-x: hidden;
    background: $black;

    .menu-header {
        display: grid;
        grid-template-columns: 2fr 18fr;
        grid-template-rows: 59px 2.5px 2.5px;
        height: $navHeight;
        align-items: center;
        position: relative;

        img {
            height: $spacing-xlarge;
        }
    
        fa-icon {
            color: $white;
            font-size: $font-large;
            justify-self: center;
            @include vendor(transition, 500ms ease-in-out);

            &:hover {
                color: $matteblue;
                cursor: pointer;
            }
        }
    }

    .menu-content {
        text-align: center;
        position: relative;
        
        & > ul li {
            list-style-type: none;
            
            a {
                color: $white;
                font-size: $font-xxlarge;
                font-weight: $weight-black;
                line-height: $spacing-xlarge;

                &:hover {
                    color: $matteblue;
                }
            }
        }

        .main-menus {
            margin-top: 50px;
        }

        .bottom-menus {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin-top: 50px;

            & > li a {
                font-size: $font-normal;
            }
        }
    }

}

nav {
    margin-bottom: 5px;
    
    .nav-icons {
        grid-column: 3/6;
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
    }

    .nav-btns {
        grid-column: 3/6;
        display: grid;
        grid-template-columns: 3fr 3fr;
    }

    .nav-hamburger {
        @include navbarItems;
        @include vendor(transition, $transition-normal ease-in-out);

        fa-icon {
            font-size: $font-large;
        }

        &:hover {
            background: $matteblue;

            fa-icon {
                color: $white;
            }
        }
    }

    .nav-home {
        img {
            display: block;
            margin-top: ($navHeight - $spacing-xlarge) / 2;
            margin-bottom: ($navHeight - $spacing-xlarge) / 2;
            height: $spacing-xlarge;
        }
    }

    .nav-profile {
        @include navbarItems;
        color: $darkblue;

        fa-icon {
            font-size: $font-large;
        }

        &:hover {
            a {
                @include vendor(transition, $transition-xslow ease-in-out);
                color: $matteblue;
            }
        }
    }

    .nav-icon {
        @include vendor(transition, $transition-normal ease-in-out);
        @include navbarItems;
        color: $darkblue;

        fa-icon {
            font-size: $font-large;
        }

        &:hover {
            color: $matteblue;
        }
    }

    .nav-signup, .nav-login {
        font-size: $font-small;
        font-weight: $weight-black;
        letter-spacing: 2px;
        background: $darkblue;
        border: none;
        margin: 15px 2.5px;
        border-radius: $spacing-xsmall;
        cursor: pointer;
        color: $white;

        &:hover {
            background: $matteblue;
        }
    }

}