<nav>
  <button class="nav-hamburger">
    <fa-icon [icon]="['fas', 'bars']"></fa-icon>
  </button>

  <a href="" class="nav-home">
    <img src="../../../assets/Color w- letterspng.png" alt="NXTDROP, Inc. Logo">
  </a>

  <button class="nav-notifications nav-icon">
    <fa-icon [icon]="['fas', 'bell']"></fa-icon>
  </button>
  
  <button class="nav-cart nav-icon">
    <fa-icon [icon]="['fas', 'shopping-cart']"></fa-icon>
  </button>

  <button class="nav-profile">
    <a href="">
      <fa-icon [icon]="['fas', 'user-circle']"></fa-icon>
    </a>
  </button>
  <div class="blueLine"></div>
  <div class="greenLine"></div>
</nav>