<nav class="navbar" *ngIf="!isMobile">
  <button class="nav-hamburger" (click)="openMenu()">
    <fa-icon [icon]="['fas', 'bars']"></fa-icon>
  </button>

  <div class="nav-home">
    <a routerLink="/"><img src="../../../assets/Color w- letterspng.png" alt="NXTDROP, Inc. Logo"></a>
  </div>

  <div class="search-bar">
    <input type="text" name="search-bar" id="search-bar" placeholder="Seach for brand, color, etc." *ngIf="showSearchBar"
      (keyup)="search($event)">
  </div>

  <ul class="links">
    <li>
      <a routerLink="/how-it-works">How It Works</a>
    </li>

    <li class="dropdown">
      <a>About</a>

      <ul class="dropdown-menu">
        <li>
          <a routerLink="/faq">FAQ</a>
        </li>

        <li>
          <a href="https://www.trustpilot.com/review/nxtdrop.com" target="_blank">Reviews</a>
        </li>

        <li>
          <a routerLink="/support">Support</a>
        </li>
      </ul>
    </li>

    <li>
      <a routerLink="/sell">Sell</a>
    </li>

    <li class="dropdown" *ngIf="connected">
      <a>My Account</a>

      <ul class="dropdown-menu">
        <li>
          <a routerLink="/profile">Profile</a>
        </li>

        <li>
          <a routerLink="/dashboard">Dashboard</a>
        </li>

        <li>
          <a routerLink="/settings">Settings</a>
        </li>
      </ul>
    </li>

    <li *ngIf="!connected">
      <a routerLink="/login">Log In</a>
    </li>
  </ul>

  <div class="blueLine"></div>
  <div class="greenLine"></div>
</nav>

<nav class="navbar" *ngIf="isMobile">
  <button class="nav-hamburger" (click)="openMenu()">
    <fa-icon [icon]="['fas', 'bars']"></fa-icon>
  </button>

  <div class="nav-home" *ngIf="!showSearchBar">
    <a routerLink="/"><img src="../../../assets/Color w- letterspng.png" alt="NXTDROP, Inc. Logo"></a>
  </div>

  <div class="search-bar" *ngIf="showSearchBar">
    <input type="text" name="search-bar" id="search-bar" placeholder="Seach for brand, color, etc."
      (keyup)="search($event)">
  </div>

  <button class="nav-search" (click)="openSearch()" *ngIf="!showSearchBar">
    <fa-icon [icon]="['fas', 'search']"></fa-icon>
  </button>

  <button class="nav-search" (click)="openSearch()" *ngIf="showSearchBar">
    <fa-icon [icon]="['fas', 'times']"></fa-icon>
  </button>

  <div class="blueLine"></div>
  <div class="greenLine"></div>
</nav>

<app-side-menu></app-side-menu>

<!--<app-notifications></app-notifications>-->