<div class="showcase-container">
  <h2>New Releases</h2>

  <div class="showcase-windows">
    <div *ngFor="let newRelease of newReleases" class="showcase-window">
        <section routerLink="/product/{{ newRelease.productID }}">
            <h6 id="window-price">{{ newRelease.lowestPrice | currency:'CAD' }}</h6>
            <div id="window-image"><img src="{{ newRelease.assetURL }}" alt="{{ newRelease.model }}"></div>
            <h3 id="window-model">{{ newRelease.model }}</h3>
        </section>
    </div>
  </div>
</div>