@import '../../base_styles/base';

.main-container {
    display: grid;
    align-content: center;
}

.content-container {
    h3 {
        text-align: center;
        margin: $spacing-small 0;
    }

    h6 {
        text-align: center;
        width: 75%;
        margin: $spacing-small auto;
    }

    input {
        display: block;
        margin: $spacing-normal auto;
        padding: $spacing-small;
        border: 1px solid $lightgrey;
        border-radius: $spacing-xsmall;
        letter-spacing: 0.8px;
    }

    button {
        display: block;
    }

    .send-btn {
        margin: $spacing-normal auto;
        padding: $spacing-xsmall;

        &:hover {
            background: $matteblue;
        }
    }

    .back-btn {
        @extend .send-btn;
        margin: $spacing-large auto;
        background: $black;

        &:hover {
            background: $matteblack;
        }
    }

    .disabled {
        background: $lightgrey;
        cursor: not-allowed;

        &:hover {
            background: $lightgrey;
        }
    }
}

// MEDIA QUERIES

@media only screen and (min-width: 0px) and (max-width: 400px) {
    input, .send-btn {
        width: 80%;
    }

    .back-btn {
        width: 50%!important;
    }
}

@media only screen and (min-width: 400px) and (max-width: 800px) {
    input, .send-btn {
        width: 60%;
    }

    .back-btn {
        width: 30%!important;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
    input, .send-btn {
        width: 50%;
    }

    .back-btn {
        width: 20%!important;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1800px) {
    input, .send-btn {
        width: 40%;
    }

    .back-btn {
        width: 10%!important;
    }
}

@media only screen and (min-width: 1800px) and (max-width: 2000px) {
    input, .send-btn {
        width: 30%;
    }

    .back-btn {
        width: 10%!important;
    }
}

@media only screen and (min-width: 2000px) {
    input, .send-btn {
        width: 30%;
    }

    .back-btn {
        width: 10%!important;
    }
}