<app-navbar></app-navbar>

<div class="main-container">
  <section class="content-container">
    <h3>Trouble Logging In?</h3>

    <h6>Enter your email and we&apos;ll send you a link to reset your password.</h6>

    <input type="email" id="inputEmail" name="forget-pwd-input" placeholder="Email" (keyup)="verifyEmail()">

    <button *ngIf="!loading && !error && !sent" [className]="validEmail ? 'btn send-btn' : 'btn send-btn disabled'" (click)="sendLink()">Send Link</button>

    <button *ngIf="loading" class="btn send-btn"><fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon></button>

    <button *ngIf="error" class="btn error">Error</button>

    <button *ngIf="sent" class="btn sent"><fa-icon [icon]="['fas', 'check']"></fa-icon></button>

    <button class="btn back-btn" routerLink="/login">Back</button>
  </section>
</div>

<app-footer></app-footer>