@import "../../base_styles/base";

.main-container {
  display: grid;
  align-content: center;
}

.content-container {
  h3 {
    text-align: center;
    margin: $spacing-small 0;
  }

  h6 {
    text-align: center;
    width: 75%;
    margin: $spacing-small auto;
  }

  input {
    display: block;
    margin: $spacing-normal auto;
    padding: $spacing-small;
    border: 1px solid $lightgrey;
    border-radius: $spacing-xsmall;
    letter-spacing: 0.8px;
  }

  button {
    display: block;
    text-transform: uppercase;
  }

  .send-btn {
    margin: $spacing-normal auto;
    padding: $spacing-small;
    background: $black;

    &:hover {
      background: $matteblack;
    }
  }

  .back-btn {
    @extend .send-btn;
    margin: $spacing-large auto;

    &:hover {
      background: $matteblack;
    }
  }

  .sent {
    @extend .send-btn;
    background: $white;

    fa-icon {
      color: $green;
    }

    &:hover {
      background: $white;
    }
  }

  .error {
    @extend .send-btn;
    background: $inputError;
    color: $white;

    &:hover {
      background: $inputError;
      color: $white;
    }
  }

  .disabled {
    background: $lightgrey;
    cursor: not-allowed;

    &:hover {
      background: $lightgrey;
    }
  }
}

// MEDIA QUERIES

@media only screen and (min-width: 0px) and (max-width: 399.5px) {
  input,
  .send-btn {
    width: 80%;
  }

  input {
    font-size: 0.6rem;
  }

  button {
    font-size: 0.8rem;
  }

  .back-btn {
    width: 50% !important;
  }
}

@media only screen and (min-width: 400px) and (max-width: 599.5px) {
  input,
  .send-btn {
    width: 70%;
  }

  input {
    font-size: 0.6rem;
  }

  button {
    font-size: 0.8rem;
  }

  .back-btn {
    width: 30% !important;
  }
}

@media only screen and (min-width: 600px) and (max-width: 799.5px) {
  input,
  .send-btn {
    width: 60%;
  }

  input {
    font-size: 0.8rem;
  }

  button {
    font-size: 1rem;
  }

  .back-btn {
    width: 30% !important;
  }
}

@media only screen and (min-width: 800px) and (max-width: 999.5px) {
  input,
  .send-btn {
    width: 50%;
  }

  input {
    font-size: 0.8rem;
  }

  button {
    font-size: 1rem;
  }

  .back-btn {
    width: 20% !important;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1199.5px) {
  input,
  .send-btn {
    width: 40%;
  }

  input {
    font-size: 0.8rem;
  }

  button {
    font-size: 1rem;
  }

  .back-btn {
    width: 20% !important;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1799.5px) {
  input,
  .send-btn {
    width: 30%;
  }

  input {
    font-size: 0.8rem;
  }

  button {
    font-size: 1rem;
  }

  .back-btn {
    width: 10% !important;
  }
}

@media only screen and (min-width: 1800px) and (max-width: 1999.5px) {
  input,
  .send-btn {
    width: 25%;
  }

  input {
    font-size: 1rem;
  }

  button {
    font-size: 1.2rem;
  }

  .back-btn {
    width: 10% !important;
  }
}

@media only screen and (min-width: 2000px) {
  input,
  .send-btn {
    width: 25%;
  }

  input {
    font-size: 1rem;
  }

  button {
    font-size: 1.2rem;
  }

  .back-btn {
    width: 10% !important;
  }
}
