<app-navbar></app-navbar>

<section class="main-container">
  <div class="terms_body">
    <h1>NXTDROP Privacy</h1>
    <h2>Effective date: January 22, 2018.</h2>
    <h3>1. TERMS OF USE</h3>
    <p>This privacy policy as well as our Terms of Use found here: <a href="terms">www.nxtdrop.com/terms</a> (“<b>Terms
        of Use</b>”) govern your access of the NXTDROP, Inc. Web App., whether: (a) accessed on a computer connected to
      the internet at <a href="/home">www.nxtdrop.com</a> (the “<b>Site</b>”); or (b) by mobile phone (individually and
      collectively, (a)
      and (b) are the “NXTDROP, Inc. Web App.”), as owned and operated by NXTDROP, Inc.(“<b>NXTDROP</b>”), an Ontario
      corporation having its registered address at Toronto, Ontario (referred to in these Terms as “<b>we</b>”,
      “<b>us</b>” or the “<b>Company</b>”). Terms capitalized but not defined in this Privacy Policy have the meanings
      set out in the Terms of Use. </p>
    <h3>2. INTRODUCTION TO PRIVACY POLICY</h3>
    <p>NXTDROP, Inc. is committed to maintaining the confidentiality, integrity and security of any Personal Information
      (as defined below) about our subscribers to the Site. The Company strives to support individuals and business
      owners with the NXTDROP, Inc. Web App., while respecting your privacy expectations and protecting your Personal
      Information. To demonstrate our commitment to protecting your privacy, we have developed this privacy policy
      (“<b>Privacy Policy</b>”), which describes how we will collect, use, disclose and protect your Personal
      Information through the Site.

      By accessing and/or using the NXTDROP, Inc. Web App., you agree to all the terms and conditions of this Privacy
      Policy and the Terms of Use found here: <a href="/terms">www.nxtdrop.com/terms</a> and which are incorporated here
      by reference. If you do not agree to all the terms and conditions of this Privacy Policy and the Terms of Use, do
      not use the NXTDROP, Inc. Web App.</p>
    <h3>3. AMENDMENTS TO THIS PRIVACY POLICY</h3>
    <p>The Company may amend or change this Privacy Policy at its sole discretion at any time, and in accordance with
      the amendment provisions set out in the Terms of Use. The use of the information we collect at any given point is
      subject to the Privacy Policy in effect at the time of collection. If we make any material changes we will notify
      you by email or by means of notice on the NXTDROP, Inc. Web App. prior to the change becoming effective. We will
      post the most current Privacy Policy on the NXTDROP, Inc. Web App., and your use of the NXTDROP, Inc. Web App. is
      subject to the most current Privacy Policy as posted on the NXTDROP, Inc. Web App. at any time. We encourage you
      to periodically check our Privacy Policy for the latest information on our current policy.</p>
    <h3>4. CONTACT INFORMATION</h3>
    <p>If you have questions or concerns regarding our policy or practices, please contact our privacy officer by email
      at <b>policies@nxtdrop.com</b>.

      If you do not receive acknowledgment of your inquiry or your inquiry has not been satisfactorily addressed, you
      can contact the Privacy Commissioner of Canada at:
      112 Kent Street,
      Ottawa Ontario, K1A 1H3
      1.800.282.1376
      <a href="http://www.priv.gc.ca/">http://www.priv.gc.ca/</a></p>
    <h3>6. COLLECTION OF PERSONAL INFORMATION</h3>
    <h4><b>6.1 Collection of information at registration</b></h4>
    <p>Registration is required if you want to use the NXTDROP, Inc. Web App. As part of this registration, we will
      require that you submit certain information that is relevant to the purposes of the NXTDROP, Inc. Web App. We
      collect the following information (“<b>Personal Information</b>”) from our subscriber’s registration information:
      first and last name, username, email address, and password.</p>

    <h4><b>6.2 Mobile Device Location Information </b></h4>
    <p>Upon registration or the use of our location-enabled services on the NXTDROP, Inc. Web App. (for example, when
      you
      access services from a mobile device), we may need to collect and process information about your actual Global
      Positioning System location (including the latitude, longitude or altitude of your mobile device) and the time the
      location information was recorded. Some of these services require your personal data for the feature to work and
      we may associate location data with your device identification and other information we hold about you. If you
      wish to use the particular feature, you will be asked for your consent. If you do not want your location
      information collected when you use the NXTDROP, Inc. Web App., please contact your device manufacturer or platform
      provider to determine how to disable the collection of this information.</p>

    <h4><b>6.3 Collection of information when you use the NXTDROP, Inc. Web App.</b></h4>
    <p>When you use the NXTDROP, Inc. Web App., we automatically collect and store certain information about your
      computer or device and your activities including:</p>
    <ul>
      <li>● the IP address of your computer;</li>
      <li>● the unique mobile device identifier;</li>
      <li>● technical information about your computer or mobile device such as the type of device, mobile device
        identification number, web browser, other browser information (e.g., size, connection speed and connection
        type), and operating system or platform;</li>
      <li>● your shopping habits;</li>
      <li>● your preferences and settings (time zone, language, etc.); and</li>
      <li>● your internet provider or mobile carrier name.</li>
    </ul>
    <p>
      <h4><b>6.4 Collection of information submitted by you</b></h4>
      <p>You may send electronic information or physical documentation to us in the following forms: messages or
        transaction information relating to your interactions with our Merchants; receipts, personal data in text and
        picture form; and other subscriber-generated content provided to us in the normal course of your use of the
        NXTDROP, Inc. Web App., including but not limited to posts, profiles, comments, suggestions, forwarded messages,
        feedback information, usage information, transaction information and Traffic Data (as defined below).</p>

      <h4><b>6.5 Collection through interaction with the NXTDROP, Inc. Web App.</b></h4>
      <p>We may collect your Personal Information when you communicate it to us by use of one of our web forms or other
        interactions with the NXTDROP, Inc. Web App., by email, or by any other means of communication.

        The NXTDROP, Inc. Web App. offers publicly-accessible blogs and allows you to create personal profiles which can
        be seen by others (collectively, “<b>Public Content</b>”). This Public Content and any of the information you
        post
        to the Site, such as reviews, are intended for public consumption. You should be aware that any information you
        provide in this area may be read, collected, and used by others who access them. We take no responsibility for
        any
        information which You post or publish on the NXTDROP, Inc. Web App. and you agree to indemnify and hold us
        harmless for any loss, cost, complaint, damage, claim or liability whatsoever arising from any such post or
        publication. We may post your testimonials along with your name on the NXTDROP, Inc. Web App. from time to time
        if
        such information is provided to us.

        We may collect and store information (including personal information) locally on your device using mechanisms
        such
        as browser web storage (including HTML 5) and application data caches.</p>

      <h4><b>6.6 Traffic Data</b></h4>
      <p>"<b>Traffic Data</b>" is collected by the NXTDROP, Inc. Web App. and our third-party traffic analysis provider
        through the use of software that is included on the NXTDROP, Inc. Web App. as well as cookies that are stored
        temporarily on your computer. Together, these technologies help us manage our content by identifying which
        content
        is effective.</p>

      <h4><b>6.7 Use of Cookies and Usage Data</b></h4>
      <p>Cookies are small data files that are stored on a user’s computer for record-keeping purposes. Cookies track
        where
        you travel on the NXTDROP, Inc. Web App. and what you look at. A session ID cookie expires when you close your
        browser. When you log into the NXTDROP, Inc. Web App., your browser may ask if you want it to remember you as a
        registered subscriber of the NXTDROP, Inc. Web App. If you accept, the session ID becomes a persistent cookie,
        which remains on your hard drive for an extended period of time. Although cookies are used by most major
        websites
        and are accepted by default by most web browsers, it may be possible to disable cookies via your browser
        settings.

        We use session cookies and usage data to make it possible to navigate the secure environment inside the NXTDROP,
        Inc. Web App. and to keep, and periodically track, information about you for the purpose of creating a
        personalized web experience and improving the NXTDROP, Inc. Web App. or measuring and conveying to others the
        performance levels of the NXTDROP, Inc. Web App. We may link the information we store in cookies to any
        personally
        identifiable information you submit while on the NXTDROP, Inc. Web App. This is for the purpose of creating a
        personalized experience within the NXTDROP, Inc. Web App., to assist NXTDROP, Inc. in understanding its users
        and
        subscribers and designing improvements to the NXTDROP, Inc. Web App., and for the purpose of collecting usage
        and
        performance metrics.</p>

      <h4><b>6.8 Online and Mobile Advertising</b></h4>
      <p>We may allow third parties to use cookies on the NXTDROP, Inc. Web App. to collect the same type of information
        for the same purposes as we do. Advertisers and advertising networks may place advertisements on our websites
        and
        mobile applications. These companies as well as data analytics companies who service them may collect
        information,
        such as your computer’s IP address, browser information, mobile device ID, and search queries as you use the
        NXTDROP, Inc. Web App. These companies also may use cookies and other technologies to collect data about you
        when
        you visit our Site. Cookies from advertising companies enable them to track your activity across various
        websites
        where they display advertisements and record and associate your activities, so they can show advertisements that
        they consider relevant to you. We do not have access to or control over the cookies that these third-parties
        use.</p>

      <h4><b>6.9 Use of analytics tools</b></h4>
      <p>The NXTDROP, Inc. Web App. may from time to time implement other third-party analytics services that also use
        cookies. We will ensure that no personally identifiable information is included in those cookies. If the use of
        cookies by any service provider differs materially from the practices already listed, we will revise this
        document
        accordingly and notify existing customers of the change(s). Other cookies created by the NXTDROP, Inc. Web App.
        are used to secure your login session and to help ensure the security of your account. Such cookies are
        unrelated
        to the aforementioned traffic analysis and are never shared with third parties.</p>

      <h4><b>6.10 Location Data</b></h4>
      <p>When you access the NXTDROP, Inc. Web App. using a web browser or other application, we may gather and store
        certain types of information including: traffic data from your browser, your IP address, location, GPS signals
        sent by a mobile device, cookie information, and the pages you visit on the NXTDROP, Inc. Web App. Traffic data
        is
        helpful in identifying and fixing problems with the NXTDROP, Inc. Web App.</p>
      <h3>7. USE AND DISCLOSURE OF PERSONAL INFORMATION</h3>
      <h4><b>7.1 General use</b></h4>
      <p>The Company will not use or disclose Personal Information for purposes other than the identified purposes of
        the
        NXTDROP, Inc. Web App. We may use your Personal Information (defined above) to:</p>
      <ul>
        <li>▪ enforce our Terms of Use;
          to send you offers, whether personalized or not, or to contact you by telephone regarding products or
          services;
        </li>
        <li>▪ share with service providers with whom we have entered into an agreement to help us provide our services
          on
          the website, such as financial service providers, marketing agencies and technical support. In such cases, the
          personal information shall remain under the control of NXTDROP, Inc.;</li>
        <li>▪ share with certain third parties (such as intellectual property rights holders, supervisory authorities,
          tax
          authorities, police and other regulatory authorities) if we are required to do so by law, or in accordance
          with
          our Privacy Policy or to comply with legal obligations or a court order; or if this is necessary for the
          prevention, detection or prosecution of criminal offenses, such as fraud, deceit or prosecution, or if it is
          necessary to maintain our policies or to protect the rights and freedoms of others;</li>
        <li>▪ provide customer service and support, administrative messages, resolve disputes, and troubleshoot problems
          including helping third-party service providers fulfil their functions;</li>
        <li>▪ fulfill your requests for certain features of the NXTDROP, Inc. Web App.;</li>
        <li>▪ customize, measure, and improve the NXTDROP, Inc. Web App.;</li>
        <li>▪ offer or provide you with products and services including providing you information relating to receipts,
          technical notices, updates, and security alerts;</li>
        <li>▪ inform you of targeted marketing, service updates, and promotional offers unless you opt out;</li>
        <li>▪ aggregate and anonymize data which will be shared, sold or otherwise provided to third
          parties for marketing, data analysis and other purposes;
        </li>
        <li>▪ share anonymized information collected in surveys with merchants</li>
        <li>▪ assist us to measure our performance and to share performance information with others;</li>
        <li>▪ comply with legal or regulatory requirements (as described below); and</li>
        <li>▪ fulfill other purposes, subject to your explicit consent.</li>
      </ul>
      <p>
        <h4><b>7.2 Third-party disclosure</b></h4>
        <p>We may share personal information or feedback with affiliates, third-party vendors, consultants and other
          service
          providers who work for us. We may share your first name and comments or feedback with third-parties. We will
          not
          tie any other information, other than your first name, that can identify you to your comments or feedback.
          However, third-parties may be able to tell who you are from your comments, particularly if you provide your
          full
          name or your contact information in the comments.</p>

        <h4><b>7.3 Surveys</b></h4>
        <p>From time to time, the Company may offer you the opportunity to participate in contests, giveaways and other
          promotions. Any information submitted in connection with such activities will be treated in accordance with
          this
          Privacy Policy, except as specifically set forth in the rules for those contests, giveaways or promotions.
          From
          time to time, the Company may also ask you to participate in surveys designed to help us improve the NXTDROP,
          Inc.
          Web App. Any Personal Information provided to the Company in connection with any survey will be used only in
          relation to that survey and as elsewhere set forth in this Policy.</p>

        <h4><b>7.4 Acquisition of the Company</b></h4>
        <p>In the event that the Company, or all or a portion of our business, or one or more of its divisions, is
          acquired
          by one or more third parties as a result of an acquisition, merger, sale, reorganization, consolidation,
          liquidation or another similar transaction, your Personal Information shall be one of the transferred
          assets.</p>
        <h4><b>7.5 Retaining Information</b></h4>
        <p>We may retain your personal information while you have an account with us and thereafter for as long as we
          need
          it
          for purposes not prohibited by applicable laws and subject to the provisions in our Terms. This data may be
          retained for approximately one year (12months) after your relationship with us has been terminated.</p>

        <h4><b>7.6 Legally compelled disclosures</b></h4>
        <p>Notwithstanding the foregoing, the Company reserves the right (and you authorize the Company) to share or
          disclose
          your Personal Information when the Company determines, at its sole discretion, that the disclosure of such
          information is necessary or appropriate:</p>
        <ul>
          <li>▪ to enforce our rights against you or in connection with a breach by you of this Privacy Policy or the
            Terms
            of Use;</li>
          <li>▪ to investigate or respond to suspected illegal or fraudulent activity or to protect the safety, rights,
            or
            property of us, our users, or others;</li>
          <li>▪ to prevent prohibited or illegal activities; or</li>
          <li>▪ when required by any applicable law, rule, regulation, subpoena, or other legal process.</li>
        </ul>
        <h3>8. DISCLOSURE OF PAYMENT CARD INFORMATION</h3>
        <p>To use certain services on the NXTDROP, Inc. Web App., we may require credit or debit card account
          information.
          By submitting your credit or debit card account information through the NXTDROP, Inc. Web App., you expressly
          consent to sharing of your information with third-party payment processors, other third-party service
          providers,
          and applicable businesses.
          <h4><b>8.1 DATA RETENTION AND ACCOUNT TERMINATION</b></h4>
          <p>Businesses may terminate their account by pressing the unsubscribe button located in the settings tab of
            their
            business dashboard panel. After thirty (30) days of receiving a termination request, or immediately after we
            terminate our relationship with you, the material you have posted, including all offereditems, will be
            removed
            from the NXTDROP, Inc. Web App., but we may retain information about you for the purposes authorized under
            this
            Privacy Policy and our Terms unless prohibited by law. For example, we may retain information to prevent,
            investigate, or identify possible wrongdoing in connection with the NXTDROP, Inc. Web App. or to comply with
            legal
            obligations.</p>

          <h4><b>8.2 CONSENT AND PRIVACY SETTINGS</b></h4>
          <p>By using the NXTDROP, Inc. Web App., you consent to the collection, use and disclosure of your Personal
            Information by us in the manner described in this Privacy Policy. You may always opt not to disclose certain
            Personal Information, but which may restrict access certain features of the NXTDROP, Inc. Web App. For
            example,
            your name and email address are necessary to complete the registration process. At any time after
            registration,
            you may opt out of most email communication from us by clicking on the opt-out link at the bottom of our
            emails,
            or by contacting us at the contact details listed above. However, we may still contact you for
            administrative
            purposes. Withdrawing consent will not apply to actions the Company has already taken based on your prior
            consent.

            When you sign up for an account, you are opting in to receive emails and notifications from the NXTDROP,
            Inc.
            Web
            App.</p>
          <h3>9. ACCURACY OF INFORMATION AND INDIVIDUAL ACCESS</h3>
          <p>The Company relies on you to ensure that the Personal Information you enter into our system is as accurate,
            complete and up-to-date as necessary for the purposes for which it is to be used. You may make changes or
            corrections to your Personal Information at any time. You may review or update your personal information by
            clicking on the “Edit Profile” button located within your personal profile. When updating your personal
            information, we may ask you to verify your identity before we can act on your request. Unless required by
            law, we
            may reject requests that are unreasonably repetitive, require disproportionate technical effort, risk the
            privacy
            of others, or would be extremely impractical. Where we can provide information access and correction, and
            when
            required by law, we will do so for free. We also make every effort to ensure the accuracy of the
            information in our reports, displays, articles and support queries. However, you must verify all information
            created from your use of the NXTDROP, Inc. Web App. You are responsible for ensuring that that the
            information you
            have entered into our system is accurate, reliable and complete.</p>
          <h3>10. THIRD PARTY SERVICE PROVIDERS</h3>
          <p>We may share your Personal Information with service providers who help us to run our operations or to
            otherwise
            fulfill your request or as required by law. Our service providers are restricted from using your Personal
            Information in any way other than for the service they are providing. We ensure that such third parties
            maintain
            reasonable and appropriate safeguards. You own your data in accordance with the rules for subscriber
            generated
            content set out in the Terms of Use <a href="/terms">www.nxtdrop.com/terms</a>. </p>
          <h3>11. BUSINESS TRANSFERS</h3>
          <p>We may share information from or about you with subsidiaries, joint ventures, or other companies under
            common
            control, in which case we will require them to honour this Privacy Policy.</p>
          <h3>12. LINKS TO OTHER WEBSITES</h3>
          <p>Links to sites controlled or operated outside of our domain (each individually a “<b>Third-party Site</b>”
            and collectively the “<b>Third Party Sites</b>”) are provided as a convenience to you only and do not imply
            an
            endorsement by us of a Third Party Site or the company it purports to represent. We do not assume any
            responsibility for information and materials found on, or the privacy practices of, a Third Party Site. This
            Privacy Policy does not apply to a Third Party Site.</p>
          <h3>13. SECURITY MEASURES</h3>
          <p>We take your privacy very seriously. To keep your Personal Information secure, you are required to
            safeguard
            your subscriber name and password information in accordance with the Terms of Use.

            In addition, we restrict unauthorized access through protective policies, procedures, and technical
            measures,
            including:</p>
          <ul>
            <li>a) providing reasonable physical and electronic safeguards with regard to the storage of Personal
              Information;</li>
            <li>b) limiting access to your Personal Information to those employees or contractors who we reasonably
              believe need to come into contact with that information to provide products or services to you or in order
              to do their jobs; and</li>
            <li>c) governing employees and other contractors by strict standards and policies to ensure that Personal
              Information is secure and treated with the utmost care and respect.</li>
          </ul>
          <p>Please note that no data transmission over the internet or otherwise can be guaranteed to be completely
            secure. As a result, while we strive to protect your Personal Information, we cannot warrant the security of
            any information you transmit to us, and you do so at your own risk.

            If you have a security related concern, please contact us at the contact details provided above. We will
            work
            closely with you to ensure a quick and personal response to your concerns.</p>
          <h3>14. DISCLAIMER</h3>
          <p><b>IF YOU CHOOSE TO ACCESS THE NXTDROP, Inc. Web App., YOU DO SO AT YOUR OWN RISK, AND ARE RESPONSIBLE FOR
              COMPLYING WITH ALL LOCAL LAWS, RULES AND REGULATIONS. WE MAY LIMIT THE AVAILABILITY OF THE NXTDROP, Inc.
              Web
              App., IN WHOLE OR IN PART, TO ANY PERSON, GEOGRAPHIC AREA AND/OR JURISDICTION WE CHOOSE, AT ANY TIME AND
              IN
              OUR SOLE DISCRETION. OUR PRIVACY POLICY DOES NOT COVER THE INFORMATION PRACTICES OF OTHER COMPANIES AND
              ORGANIZATIONS WHO ADVERTISE OUR SERVICES, AND WHO MAY USE COOKIES, PIXEL TAGS, AND OTHER TECHNOLOGIES TO
              SERVE AND OFFER RELEVANT ADVERTISEMENTS.</b></p>
          <h3>15. NOTIFICATIONS</h3>
          <p>In the unlikely event that we believe that the security of your Personal Information in our possession or
            control may have been compromised, we may seek to notify you of that development. If a notification is
            appropriate, we may notify you by the email address registered to your account.

            We will never send email messages to customers requesting confidential information such as passwords, credit
            card numbers, or social security or social insurance numbers. Please do not act on any such emails as you
            may
            compromise your Personal Information by replying or by following links to a fraudulent website.</p>
          <h3>16. MISCELLANEOUS</h3>
          <p>If any portion of this Privacy Policy is deemed unlawful, void or unenforceable by any arbitrator or court
            of
            competent jurisdiction, this Privacy Policy as a whole shall not be deemed unlawful, void or unenforceable,
            but only that portion of this Privacy Policy that is unlawful, void or unenforceable shall be stricken from
            this Privacy Policy. The insertions of headings are for convenient reference only and are not to affect the
            interpretation of this Privacy Policy.</p>
  </div>
</section>

<app-footer></app-footer>