<section class="signup-body">
  <div class="signup-card">
    <a routerLink="/"><img src="../../../assets/Negativepng.png" alt="NXTDROP, Inc. Logo Negative Symbol"></a>

    <button class="facebook-btn">
      <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
      <h3>Sign in with Facebook</h3>
    </button>

    <button class="google-btn">
      <fa-icon [icon]="['fab', 'google']"></fa-icon>
      <h3>Sign in with Google</h3>
    </button>

    <div class="divider">
      <h2>OR</h2>
    </div>

    <form>
      <input type="text" placeholder="First Name">
      <input type="text" placeholder="Last Name">
      <input type="text" placeholder="Username">
      <input type="email" placeholder="Email">
      <input type="password" placeholder="Password">
      <button class="btn signup-btn">Sign Up</button>
    </form>

    <p>By signing up, you agree to our Terms and Privacy Policy.</p>

    <a routerLink="/login"><button class="login-btn">Have an account? Log in</button></a>
  </div>

  <app-footer></app-footer>
</section>