@import '../../base_styles/base';

section {
    padding: $spacing-small 0 0 0;
    height: calc(100vh - #{$footerHeight});
    width: 100vw;
    max-width: 100%;
    background: $black;
    display: grid;

    .signup-card {
        justify-content: center;
        align-self: center;
        width: 90%;
        margin: 0 auto;
        padding: 8px;
        border-radius: 16px;
        background: linear-gradient(-50.23deg, $darkblue 65%, $green 95%);

        img {
            display: block;
            height: 40px;
            margin: 2.5px auto;
        }

        button {
            display: block;
            padding: 5px;
            border: none;
            border-radius: $spacing-xxsmall;
            font-size: $font-small;
            font-weight: $weight-black;
            margin: 5px auto;
            cursor: pointer;
            @include vendor(transition, all 0.25s ease-in-out);

            fa-icon {
                float: left;
                margin-left: 10px;
                font-size: $font-normal;
            }
        }

        .input-error {
            background: $inputError;
        }

        input {
            display: block;
            margin: 5px auto;
            height: 25px;
            width: 90%;
            border: none;
            border-radius: $spacing-xxsmall;
            padding: $spacing-xsmall;
            letter-spacing: 0.5px;
        }

        p {
            color: $white;
            font-size: $font-xsmall;
            text-align: center;
        }

        .signup-btn {
            margin: $spacing-xsmall auto;
            width: 50vw;
            cursor: pointer;
            padding: $spacing-xsmall;

            &:hover {
                background: $white;
                color: $navyblue;
            }
        }

        .loading {
            @extend .signup-btn;
            display: grid;
            background: $white;
            color: $navyblue;

            fa-icon {
                justify-self: center;
                align-self: center;
            }
        }

        .error {
            @extend .signup-btn;
            background: $inputError;
            
            &:hover {
                background: $inputError;
                color: $white;
            }
        }

        .login-btn {
            height: 30px;
            width: 80vw;
            color: $black;

            &:hover {
                background: $navyblue;
                color: $white;
            }
        }
    }
}