@import "../../base_styles//base";

.main-container {
  display: grid;
  align-content: center;
  justify-content: center;

  .referral-container {
    display: grid;

    h1 {
      text-align: center;
      margin: $spacing-normal 0;
      text-transform: uppercase;
      letter-spacing: 1.1px;
    }

    p {
      color: $black;
      text-align: center;
    }

    ol li {
      color: $black;
      text-align: center;
    }

    input {
      padding: $spacing-small;
      border: 1px solid $lightgrey;
      font-size: $font-normal;
      margin: $spacing-normal 0 0 0;
      align-self: center;
      justify-self: center;
      border-radius: $spacing-xsmall;
      text-align: center;
    }

    .disclaimer {
      font-size: $font-xxsmall;
      color: $coolgrey;
      margin: $spacing-small auto;
      text-align: center;
    }

    .btn {
      margin: $spacing-normal 0;
      justify-self: center;
      padding: $spacing-small;

      &:hover {
        background: $green;
        color: $black;
      }
    }

    .loading-btn {
      cursor: auto;

      &:hover {
        background: $navyblue;
        color: $white;
      }
    }

    .sent {
      cursor: auto;
      background: $green;
      color: $black;

      &:hover {
        background: $green;
        color: $black;
      }
    }

    .error-btn {
      cursor: auto;
      background: $googleRed;

      &:hover {
        background: $googleRed;
        color: $white;
      }
    }

    .skip-btn {
      justify-self: flex-end;
      text-transform: uppercase;
      color: $navyblue;
      margin: $spacing-normal 0;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
        color: $black;
      }
    }
  }
}

// MEDIA QUERIES

@media only screen and (min-width: 0px) and (max-width: 400px) {
  .referral-container {
    width: 95vw;

    h1 {
      font-size: $font-xxlarge;
    }

    p {
      font-size: $font-small;
    }

    ol li {
      font-size: $font-xsmall;
    }

    input {
      width: 90%;
    }

    .disclaimer {
      width: 80%;
    }

    .btn {
      width: 70%;
    }
  }
}

@media only screen and (min-width: 400px) and (max-width: 800px) {
  .referral-container {
    width: 90vw;

    h1 {
      font-size: $font-xxlarge;
    }

    p {
      font-size: $font-small;
    }

    ol li {
      font-size: $font-xsmall;
    }

    input {
      width: 80%;
    }

    .disclaimer {
      width: 70%;
    }

    .btn {
      width: 40%;
    }
  }
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
  .referral-container {
    width: 80vw;

    h1 {
      font-size: $font-xxlarge;
    }

    p {
      font-size: $font-normal;
    }

    ol li {
      font-size: $font-small;
    }

    input {
      width: 70%;
    }

    .btn {
      width: 30%;
    }
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1800px) {
  .referral-container {
    width: 70vw;

    h1 {
      font-size: $font-xxlarge;
    }

    p {
      font-size: $font-normal;
    }

    ol li {
      font-size: $font-small;
    }

    input {
      width: 50%;
    }

    .btn {
      width: 30%;
    }
  }
}

@media only screen and (min-width: 1800px) and (max-width: 2000px) {
  .referral-container {
    width: 60vw;

    h1 {
      font-size: $font-xxlarge;
    }

    p {
      font-size: $font-normal;
    }

    ol li {
      font-size: $font-small;
    }

    input {
      width: 50%;
    }

    .btn {
      width: 30%;
    }
  }
}

@media only screen and (min-width: 2000px) {
  .referral-container {
    width: 60vw;

    h1 {
      font-size: $font-xxlarge;
    }

    p {
      font-size: $font-normal;
    }

    ol li {
      font-size: $font-small;
    }

    input {
      width: 50%;
    }

    .btn {
      width: 30%;
    }
  }
}
