<app-navbar></app-navbar>

<div class="main-container">
  <div class="terms_body">
    <h1>NXTDROP Terms of Use</h1>
    <h2>Effective date: January 22, 2018.</h2>
    <h3>1. BACKGROUND</h3>
    <p>These terms of use (the “<b>Terms</b>” or “<b>Terms of Use</b>”) govern your access to the e-commerce web
      application, whether accessed: (a) on a computer connected to the internet at <a href="/home">www.nxtdrop.com</a> (the
      “<b>Website</b>”); or (b) by mobile device (individually and collectively, (a) and (b) are the “<b>Product</b>”),
      as owned and operated by NXTDROP, Inc., a company located at Toronto, Ontario (referred to in these Terms as
      “<b>we</b>”, “<b>us</b>” or the “<b>Company</b>”). These Terms govern the use of all persons using the Product,
      including every person who registers an account on the Product (the “<b>Account Manager</b>”) and all persons who
      use the account (collectively, along with the Account Manager, “<b>You</b>” or the “<b>User</b>”). For
      clarification, “You”, and “Users” include terms such as “your”,“yourself”, and “user”.</p>
    <h3>2. APPROVAL OF THE TERMS</h3>
    <p>It is important that You read these Terms carefully. If You do not agree to these Terms, please do not use the
      Product or browse the Website. By accessing or using the Product, You represent, warrant and signify that: (a) You
      are at least 18 years of age; (b) You have read, understood and agree to be bound by these Terms as they may be
      amended from time to time; and (c) You have read and understand our Privacy Policy, which can be accessed at <a
        href="/privacy">www.nxtdrop.com/privacy</a> (the "<b>Privacy Policy</b>"), the terms of which are incorporated
      herein by reference, and You agree to abide by the Privacy Policy.<br> You may not use the Product nor
      accept these Terms if you are not of a legal age to form a binding contract with us. If You accept these Terms,
      You represent that You have the capacity to be bound by them or if You are acting on behalf of a company or
      entity, that You have the authority to bind such company or entity (and in which case “You” will refer to the
      company or entity).</p>
    <h3>3. AMENDMENT</h3>
    <p>We may add to, discontinue or revise these Terms or any aspect, mode, design, or service provided under the
      Product, which include but are not limited to the:</p>
    <ul>
      <li>(a) scope of the features;</li>
      <li>(b) timing of the features;</li>
      <li>(c) software/hardware required for access to the Product; and</li>
      <li>(d) geographic locations or jurisdictions in which certain features may be available.</li>
    </ul>
    <p>We may amend the Terms without notice for non-material amendments. In the event of a material change, we will
      provide You with thirty (30) days’ notice of a material change in the Terms and conditions (including changes in
      pricing) via e-mail to the e-mail address supplied to us by the Account Manager, setting out:</p>
    <ul>
      <li>(a) the new or amended agreement terms;</li>
      <li>(b) how such terms read formerly;</li>
      <li>(c) the date of the coming into force of the amendment;</li>
      <li>(d) the means in which You can respond and the effects of not responding;</li>
      <li>(e) the option to either terminate the agreement or retain the existing agreement unchanged; and</li>
      <li>(f) the language of this provision with reference to the applicable consumer protection legislation rules for
        amending these terms and making any additional requirements for amendments as prescribed by law (if any).</li>
    </ul>
    <p>We highly recommend that Users read any amendments carefully. Unless explicit consent is required by the law, we
      have the right to assume that You have accepted the change to the terms and conditions, unless You notify us to
      the contrary, no later than thirty (30) days after the amendment comes into force, that You desire to cancel the
      contract or deregister or unsubscribe from access to the Product.<br> We will post the most current Terms on
      the Website and your use of the Product will be subject to the most current Terms as posted on the Website at such
      time. It is your responsibility to visit this page to find any updates that may have been made to the Terms. You
      hereby agree that NXTDROP, Inc. shall not be liable to You, your employee, or any other third party for any
      amendments to the Terms of Use.</p>
    <h3>3. TRADE TERMS</h3>
    <p><ins>NXTDROP, Inc. does not guarantee the accuracy of any material posted on the Product.</ins> Users are solely
      responsible for all interactions with others made as a result of use of the Product. NXTDROP, Inc. is not
      responsible for any sales or trades made as a result of Your use of the Product. The Product is designed to help
      you find people who are interested in the product(s) you want to trade. NXTDROP, Inc. is not liable for:</p>
    <ul>
      <li>a. Any transactions between Users;</li>
      <li>b. Any shipment from a User to another person;</li>
      <li>c. Any fraudulent activities by Users;</li>
    </ul>
    <p>We encourage you to report any fraudulent activities immediately at <a href="mailto:help@nxtdrop.com">help@nxtdrop.com</a>.
      While we do not actively monitor replies sent within our system between users, we reserve the right to delete or
      ban those who we deem to be using replies inappropriately.</p>
    <p><b>When contacting other Users:</b></p>
    <ul>
      <li>• Please treat them with courtesy and respect.</li>
      <li>• Please do not reply to postings with unsolicited opinions, comments, or judgements on the content of the
        postings or about the poster.</li>
      <li>• All replies to postings must be in connection to what the posting is offering. Replies regarding other
        commercial offers are not permitted.</li>
      <li>• Abusive replies are not permitted. Any replies containing hate speech or defamation are strictly prohibited.
      </li>
      <li>• Impersonating other users, including supplying fake phone numbers is not permitted, and those who are found
        to be doing so may lose the ability to use the Product.</li>
    </ul>
    <p>We reserve the right to revoke the ability of any users to reply to postings without notice.<br> If you
      receive a reply that you feel is inappropriate, please report it to our support team at <a
        href="mailto:help@nxtdrop.com">help@nxtdrop.com</a>.</p>
    <h3>5. TERMINATION</h3>
    <p>These Terms are effective on the date that You access the Product and will continue to apply until our
      relationship with You is terminated. Users may terminate their relationship with us by notifying NXTDROP, Inc. via
      email at <b>help@nxtdrop.com</b>.
      We may terminate our relationship with You immediately at any time and for any reason including, but not limited
      to, a breach of these Terms under the following circumstances:</p>
    <ul>
      <li>(a) if You have not adhered to any or all the provisions of the Terms (such as trading fake or illegal items)
        or if it appears that You do not intend to or are unable to comply with the Terms, such determination to be made
        solely at our discretion;</li>
      <li>(b) if we are required to terminate the relationship by law;</li>
      <li>(c) if we receive any notice of your misuse of the Product; or</li>
      <li>(d) if provision of the Product is no longer commercially viable for us.</li>
    </ul>
    <p>Upon termination of our relationship, we will immediately revoke your license to use the Product and block all
      access to your account, and may delete all data and information associated with your account thirty (30) days
      after such termination. If you do not log into your account for twelve (12) or more months, we may treat your
      account as “inactive” and permanently cancel your account upon delivery of written notice and delete your
      information thirty (30) days after such notice has been delivered.<br>Material posted to the Product will be
      removed after thirty (30) days, unless You renew the posting.
    </p>
    <h3>6. USE OF THE PRODUCT</h3>
    <p>In order to use the Product, a user must register using our registration page located at <a
        href="/signup">www.nxtdrop.com/signup</a>.<br>

      <b>Registration Information:</b> You agree and understand that You are responsible for maintaining the
      confidentiality of your password, which, together with your e-mail address or username (“User ID”), allows You to
      access the Product. The User ID and password, together with any other contact information You provide us at the
      time of signing up for the Product form your “Registration Information.” You agree that all Registration
      Information provided to us will be accurate and up-to-date. You agree to keep your password secure. We will not be
      liable if we are unable to retrieve or reset a lost password. If You become aware of any unauthorized use of your
      password or account, You agree to notify us via e-mail at [INSERT EMAIL ADDRESS] as soon as possible.<br>

      <b><ins>Accounts:</ins></b> You may create or use additional accounts.<br>
      <b><ins>Permitted Uses:</ins></b> You agree to use the Product only for purposes that are permitted, both by the
      Terms and by any applicable law, regulation, or generally accepted practices or guidelines, in relevant local,
      national, and international jurisdictions. You agree to adhere to any applicable privacy of personal information
      laws and regulations, including as outlined in the Personal Information Protection and Electronic Documents Act,
      SC 2000, c 5. <br>
      <b><ins>Unauthorized Access:</ins></b> You agree to only access (or try to access) and use the Product through
      interfaces provided by us. You shall not access (or try to access) and use the Product through any automated
      means, including, but not limited to, scrapers, scripts, robots, or web crawlers. You agree not to use or attempt
      to use another User’s account. You agree not to impersonate any person or entity, or falsely state or otherwise
      misrepresent yourself, your personal information, or your affiliations with any person or entity. <br>
      <ins><b>Prohibited Uses:</b></ins> You may use our Website, services, and products only for lawful purposes. You
      may not use our Website, services, or products in any manner that:</p> 
    <ul>
      <li>(a) breaches any applicable local, national or international law or regulation;</li>
      <li>(b) may in any way be considered harassment to another person or entity;</li>
      <li>(c) may in any way, is unlawful or fraudulent, or has any unlawful or fraudulent purpose
        or effect;
      </li>
      <li>(d) may in any way damage, disable, overburden, and/or impair the the Product server, or any network connected
        to the Product server, and/or interfere with any other party’s use or enjoyment of the Product;</li>
      <li>(e) is in any way abusive, defamatory, misleading, fraudulent, pornographic or otherwise explicit in nature or
        written in bad faith;</li>
      <li>(f) harms or attempts to harm minors in any way;</li>
      <li>(g) will reproduce, duplicate, copy, sell, resell or exploit any portion of the Product; or</li>
      <li>(h) will abuse either verbally, physically, written or other abuse (including threats of abuse or retribution)
        of any Product customers, employees, members, or officers;</li>
    </ul>
    <p>and any of the foregoing will result in immediate account termination.<br>

      You represent and warrant that You will not use the Product to upload, post, link to, email, transmit, or
      otherwise make available any material that contains software viruses or any other computer code, files or programs
      designed to interrupt, destroy, or limit the functionality of any computer software or hardware or any
      telecommunications equipment. Nor will You post or distribute any computer program that damages, detrimentally
      interferes with, surreptitiously intercepts, or expropriates any system, data, or personal information. You
      further represent and warrant that You will not disrupt the functioning of the Website, in any manner.<br>

      <b><ins>Moderation:</ins></b> You understand and agree that although NXTDROP, Inc. is not required to moderate
      your use of the Product, it may in its sole judgment review and delete any content in whole or in part, for any
      reason whatsoever, which without limitation, violate these Terms or which might be offensive, illegal, or that
      might violate the rights, harm, or threaten the safety of others.<br>

      <b><ins>User Responsibility:</ins></b> You agree that You are solely responsible for any breach of your
      obligations under the Terms and for the consequences of any such breach. We have no responsibility to you or to
      any third party for such breaches or the consequences of such breaches (including losses or damage that we may
      incur).<br>

      You understand that when using the Product, You may come across material that You find objectionable, offensive or
      indecent and agree that You are using the Product at your own risk.<br>

      <b><ins>Technical Requirements:</ins></b> Use of the Product requires internet access through your computer or
      mobile device.<br>

      <b><ins>Additional Terms:</ins></b> Additional terms and conditions that apply to you based on the mobile device
      the Application is installed on:<br>

      <b>iOS – Apple</b></p> 
    <ul>
      <li>1. These Terms of Use are an agreement between you and NXTDROP, Inc., and not with Apple. Apple is not
        responsible for the Application and the content thereof.</li>
      <li>2. NXTDROP, Inc. grants you the right to use the Application only on an iOS product that you own or control
        and as permitted by the Usage Rules set forth in the App Store Terms of Service.</li>
      <li>3. Apple has no obligation whatsoever to furnish any maintenance and support services with respect to the
        Application.</li>
      <li>4. Apple is not responsible for the investigation, defense, settlement, and discharge of any third party
        intellectual property infringement claim.</li>
      <li>5. Apple is not responsible for addressing any claims by you or any third party relating to the Application or
        your possession and/or use of the Application, including but not limited to: (a) product liability claims; (b)
        any claim that the Application fails to conform to any applicable legal or regulatory requirement; and (c)
        claims arising under consumer protection or similar legislation.</li>
      <li>6. In the event of any failure of the Application to conform to any applicable warranty, you may notify Apple,
        and Apple will refund the purchase price, if applicable, for the Application to you; and to the maximum extent
        permitted by applicable law, Apple will have no other warranty obligation whatsoever with respect to the
        Application.</li>
      <li>7. Apple and Apple's subsidiaries are third party beneficiaries of these Terms of Use, and, upon your
        acceptance, Apple as a third party beneficiary thereof will have the right (and will be deemed to have accepted
        the right) to enforce these Terms of Use against you.</li>
    </ul><br>
    <p><b>Windows - Microsoft</b></p>
    <ul>
      <li>1. These Terms of Use are an agreement between you and NXTDROP, Inc., not Microsoft. The terms of use and
        privacy policies of Microsoft and, where applicable, the network operators that provide billing services for the
        Windows Phone Marketplace do not apply to your use of the Application.</li>
      <li>2. You may install and use one (1) copy of the Application on up to five (5) devices you personally own or
        control and which are affiliated with the Windows Live ID associated with your Windows Marketplace account. You
        may not install or use a copy of the Application on a device you do not own or control.</li>
      <li>3. Microsoft, your device manufacturer, and (if applicable) your wireless carrier are not responsible for
        providing support services for the Application.</li>
      <li>4. Microsoft, the wireless carriers over whose network the Application is distributed (if applicable), and
        each of their respective affiliates and suppliers (collectively, "Disclaiming Distributors") give no express
        warranty, guarantee, or conditions under or in relation to the Application. To the extent permitted under your
        local laws, the Disclaiming Distributors exclude any implied warranties or conditions, including those of
        merchantability, fitness for a particular purpose, and non-infringement.</li>
      <li>5. You, and not the Disclaiming Distributors, bear the risk of using the Application (even if the Disclaiming
        Distributors have been advised of the possibility of damages to you). You may have additional consumer rights
        under your local laws which these Terms of Use cannot change.</li>
      <li>6. To the extent not prohibited by law, you will not seek to recover any consequential, lost profit, special,
        indirect, or incidental damages from any Disclaiming Distributor.</li>
    </ul>
    <h3>7. PRIVACY</h3>
    <p>Your privacy is very important to us. Please review our Privacy Policy. Our Privacy Policy applies to the
      collection, use, disclosure, retention, protection and accuracy of your personal information and business
      financial information collected for the purposes of the features offered through the Product. <b>We recommend that
        you carefully consider how you share your personal information with others. You are solely responsible for the
        personal information you share through our Product and therefore we cannot guarantee the privacy or security of
        the information shared by you with other users.</b></p>
    <h3>8. THIRD PARTY LINKS</h3>
    <p>The Product may link to third-party websites or resources. Such links are provided as a convenience to You only
      and do not imply an endorsement, warranty or guarantee by us of any such linked Website or the company it purports
      to represent. We do not assume any responsibility or liability for their availability, accuracy, the related
      content, products or services. You are solely responsible for use of any such websites or resources and compliance
      with their policies. Should You elect to enter into a binding contract with any such website, You agree to hold us
      harmless and hereby release us from any liability whatsoever, whether arising out of contract, tort or otherwise,
      for any liability, claim, injury, loss or damage suffered as a result of your actions or the actions of any user
      associated with your account, offering to accept or having accepted any products or services that are available
      from those sites. </p>
    <h3>9. INTELLECTUAL PROPERTY AND RIGHTS</h3>
    <p><ins><b>Rights to content provided by us:</b></ins> You acknowledge and understand that we own all right, title
      and interest in: (a) the Product and any associated data files; and (b) all computer software; advertisements;
      sponsored content; and intellectual property associated with the Product (all such information, individually and
      collectively, being the “<b>Product Content</b>”), which You may have access to when using the Product.<br>

      Except as set forth in the Agreement, all rights not expressly granted to You are reserved. You agree not to
      decipher, decompile, disassemble, reconstruct, translate, reverse engineer, or discover any of the intellectual
      property or ideas, algorithms, file formats, programming, or interoperability interfaces underlying the Product.
      You may not modify, rent, lease, loan, sell, distribute or create any derivative products or services (or parts of
      services products or services) based on the Product Content that You do not own or to which You have rights, or to
      create derivative works based on the Product. You may not infringe upon our intellectual property or adapt,
      reproduce, publish or distribute copies of any information or material found on the Product in any form (including
      by e-mail or other electronic means), without our prior written consent.<br>

      You are not required to provide NXTDROP, Inc. with any comments, suggestions, recommendations, requests or any
      other feedback (“<b>Feedback</b>”). In the event that you do provide NXTDROP, Inc. with Feedback, NXTDROP, Inc.
      may use such feedback to improve the Product or for any other purpose. Furthermore, NXTDROP, Inc. shall own such
      Feedback and NXTDROP, Inc. and its affiliates, licensees, clients, partners, third-party providers and other
      authorized entitled may use, license, distribute, reproduce and commercialize the Feedback, and You hereby assign,
      irrevocably, exclusively and on a royalty-free basis, all such Feedback to NXTDROP, Inc.<br>

      <ins><b>Limited license:</b></ins> We grant You a non-exclusive, non-transferable, revocable, limited license to
      use the Product in accordance with these Terms. This license may be revoked upon breach of these Terms by You and
      shall automatically be revoked upon termination or expiration of this Agreement. <br>

      The Company may, now or in the future, own rights to trade-marks, trade names, services marks, logos, domain names
      and other distinctive brand features which we use in connection with the operation of the Product (each such
      feature being a “<b>Brand Right</b>” and collectively being the “<b>Brand Rights</b>”). We do not grant you any
      right or license to use any Brand Right other than as expressly set out in these Terms and in other licenses
      between You and us.<br>

      <ins><b>Rights to content provided by you:</b></ins> NXTDROP, Inc. does not retain any right, title and interest
      to the information provided, inputted or uploaded to the Product (“<b>User Data</b>”). You agree that You will
      defend, indemnify and hold harmless us and our officers, directors, shareholders, employees, agents and
      representatives, from and against any and all claims, damages, judgments, liability, costs and expenses (including
      without limitation any reasonable legal fees), in whole or in part arising out of or attributable to the ownership
      of User Data.<br>

      You also understand that in order for us to operate the Product, User Data may be transmitted by You or us over
      various public networks and in various media in compliance with our security protocols and we may make changes to
      User Data to meet the technological requirements of such networks and media. You are responsible for ensuring that
      User Data is protected and your rights in User Data are enforced; we have no responsibility to protect or enforce
      your rights on your behalf with respect to User Data.<br>

      At any time and up to thirty (30) days after your termination with NXTDROP, Inc., You may request a copy of all of
      your User Data from the Product (“<b>Data Dump</b>”). You understand and agree that after the expiration of thirty
      (30) days after your termination with NXTDROP, Inc., your User Data will be permanently deleted and You will no
      longer have access to such Data Dump.
    </p><br>
    <h3>10. DISCLAIMERS</h3>
    <p><ins><b>The Product provided as-is:</b></ins> The Product is provided “as-is” without warranties of any kind,
      either expressed or implied. You acknowledge, agree and understand that You use the Product at your own risk. We
      will have no responsibility for any harm to your computer system, loss or corruption of data, or other harm that
      results from your access to or use of the Product.<br>

      <ins><b>Downtime:</b></ins> The Product may be temporarily unavailable from time to time for maintenance or other
      reasons. We assume no responsibility for any error, inaccuracy, omission, interruption, deletion, defect, delay in
      operation or transmission, communications line failure, theft or destruction or unauthorized access to, or
      alteration of, any communications between You and the Product.<br>

      <ins><b>No endorsement as to accuracy:</b></ins> We accept no responsibility for the accuracy of any User Data
      provided by or created using the Product except as otherwise set out in these Terms. The provision or storage of
      User Data through the Product does not constitute our endorsement or warranty as to the compliance of such User
      Data with applicable privacy legislation, nor to the accuracy, timeliness, materiality, completeness, or
      reliability of such User Data. You are responsible for ensuring that that the information you have entered into
      our system is accurate, reliable and complete.<br>

      <ins><b>Ratings and reviews:</b></ins> We accept no responsibility or liability for any ratings or reviews posted
      to the Product, or any consequences as a result of the ratings or reviews. Ratings and reviews posted to the
      Product DO NOT reflect our views.<br>

      <ins><b>Monitoring:</b></ins> We do not accept any liability for monitoring the Website or for unauthorized or
      unlawful content on the Website or use of the Website by users.<br>

      <ins><b>No warranty as to non-infringement:</b></ins> Except in the manner provided for in these Terms, we
      disclaim, and expressly do not provide any direct or indirect, express or implied representation or warranty as to
      title and non-infringement of intellectual property in relation to the Product.<br>

      <ins><b>Damage to hardware:</b></ins> Any material downloaded or otherwise obtained through the use of our
      services and products is done at your own discretion and risk, and You will be solely responsible for any damage
      to your computer system or other device or loss of data that results from the download of any such material.</p>
    
    <h3>11. DATA RETENTION</h3>
    <p>The Product may store your data as long as your account is current and active and for thirty (30) days after our
      relationship with You has been terminated.<br>

      On a regular basis we create a backup of all data in our system, which is retained for thirty (30) days, after
      which it will be removed permanently from all our systems. This backup is for use by NXTDROP, Inc. only in the
      case of disaster recovery or to maintain business operations in the case of an emergency. NXTDROP, Inc. will not
      restore data unless it determines, in its sole discretion that a data recovery is necessary.</p> 
    <h3>12. LIMITATION OF LIABILITY</h3>
    <p>You hereby agree to release, remise and forever discharge us and our directors, employees, officers, and our
      affiliates, partners, service providers, vendors, and contractors and each of their respective agents, directors,
      officers, employees, and all other related persons or entities from any and all manner of rights, losses, costs,
      claims, complaints, demands, debts, damages, causes of action, proceedings, liabilities, obligations, legal fees,
      costs and disbursements of any nature whatsoever, and for any special, indirect or consequential, incidental or
      exemplary damages (collectively, a “<b>Claim</b>”), whether in contract or tort, whether known or unknown, which
      now or hereafter arise from, to the maximum extent allowed by law, that relate to, or are connected with:<p>
        <ul>
          <li>(a) any indirect, incidental, special, consequential, or exemplary damages, including but not limited to
            damages for loss of profits, goodwill, use data, or other intangible losses;</li>
          <li>(b) your provision of any personal information provided to us subject to our legal requirements relating
            to the protection of personal information;</li>
          <li>(c) communications received to you through your access to the Product;</li>
          <li>(d) the posting of information on the Product, Website, blog, account or any affiliated social media,
            including but not limited to, User data, Cards, written reviews, pictures, or personal information;</li>
          <li>(e) the use of the Product and any related applications including third party services;</li>
          <li>(f) the use of any software related to the Product;</li>
          <li>(g) viruses, spyware, service provider failures or internet access interruptions;</li>
          <li>(h) loss of use, loss of data, inaccuracy of data, payment failure, payment defect, inaccurate
            calculations, downtime, identity theft, fraud or unauthorized access; </li>
          <li>(i) any content relating to the use of the Product ;</li>
          <li>(j) any personal or other injuries resulting from the use of any items obtained through the Product ;</li>
          <li>(k) any loss or injury of any kind resulting from trades or purchases made through the Product ; or</li>
          <li>(l) interactions with persons who obtained your contact information through the use of the Product,</li>
        </ul>
        <p>even if you have been advised of the possibility of such Claim, or such Claim was reasonably foreseeable and
          notwithstanding the sufficiency or insufficiency of any remedy provided for herein or in any license. Some
          jurisdictions do not allow the disclaimer of warranties or exclusion of damages, so such disclaimers and
          exclusions may not apply to you.<br>

          Despite the previous paragraph, if we are found to be liable, our liability to you or any third party (whether
          in contract, tort, negligence, strict liability in tort, by statute or otherwise) is limited to the greater of
          (a) the total fees you pay to us in the 12 months prior to the action giving rise to liability, and (b) 100
          Canadian Dollars.</p> 
        <h3>13. INDEMNIFICATION</h3>
        <p>To the extent permitted by applicable laws, You agree that You will defend, indemnify and hold harmless us
          and our officers, directors, shareholders, employees, agents and representatives, from and against any and all
          damages, judgments, liability, costs and expenses (including without limitation any reasonable legal fees), in
          whole or in part arising out of or attributable to: (a) generally, your breach of these Terms; your access to
          and/or use of the Product; and any loss of, or damage to, any property, or injury to, or death of, any person
          (including you) caused by your access to and/or use of the Product; and (b) specifically, your breach of the
          intellectual property rights of any third party to these Terms.<br>

          You agree that You will be solely responsible for all activities that occur under your account, whether You
          are aware of them or not. You agree to hold us harmless and release us from any loss or liability whatsoever
          that You may incur as a result of someone other than You using your password or account, either with or
          without your knowledge. You agree to indemnify us for any damages, third party claims or liabilities
          whatsoever that we may incur as a result of activities that occur on or through your account, whether or not
          You were directly or personally responsible.</p> 
        <h3>14. GOVERNING LAW AND FORUM OF DISPUTES</h3>
        <p>By visiting the Website or using the Product, You agree that the laws of the province of Ontario, without
          regard to the principles of conflict of laws, will govern these Terms and any dispute of any sort that may
          arise between You and us. With respect to any disputes or claims, You agree not to commence or prosecute any
          action in connection therewith other than in the province of Ontario, and You hereby consent to, and waive all
          defenses of lack of personal jurisdiction and forum non conveniens with respect to venue and jurisdiction in
          the provincial courts of Ontario. You agree to pay reasonable attorneys' fees and court costs incurred by us
          to collect any unpaid amounts owed by You. <br>

          <ins><b>Expenses:</b></ins> Each party shall be responsible for its own legal fees and other expenses incurred
          in connection with the performance of any of its obligations hereunder.</p> 
        <h3>15. FORCE MAJEURE</h3>
        <p>You agree that we are not liable for a delay or failure in performance of the Product or the provisions of
          these Terms caused by reason of any occurrence of unforeseen events beyond our reasonable control, including
          but not limited to, acts of God, natural disasters, power failures, server failures, third party service
          provider failures or service interruptions, embargo, labour disputes, lockouts and strikes, riots, war,
          floods, insurrections, legislative changes, and governmental actions.</p>
        <h3>16. SEVERABILITY</h3>
        <p>If any portion of these Terms is deemed unlawful, void or unenforceable by any arbitrator or court of
          competent jurisdiction, these Terms as a whole shall not be deemed unlawful, void or unenforceable, but only
          that portion of these Terms that is unlawful, void or unenforceable shall be stricken from these Terms. </p>
        
        <h3>17. HEADINGS</h3>
        <p>The insertions of headings are for convenient reference only and are not to affect the interpretation of
          these Terms.</p>
        <h3>18. ASSIGNMENT OF AGREEMENT</h3>
        <p>You may not, without our prior written consent, assign the Agreement, in whole or in part, either voluntarily
          or by operation of law, and any attempt to do so will be a material default of the Agreement and will be void.
          We may assign this Agreement to a third party at any time in our sole discretion. The Agreement will be
          binding upon and will inure to the benefit of the respective parties hereto, their respective successors in
          interest, legal representatives, heirs and assigns.</p>
        <h3>19. WAIVER</h3>
        <p>You agree that if we do not exercise or enforce any legal right or remedy which is contained in these Terms
          or which we have the benefit of under any applicable law, this will not be taken to be a formal waiver of our
          rights and that those rights or remedies will still be available to us. Waivers must be in written form and
          signed by an authorized representative of the Company.</p>
        <h3>20. SURVIVAL OF AGREEMENT</h3>
        <p>All covenants, agreements, representations and warranties made in these Terms shall survive your acceptance
          of these Terms and the termination of our relationship.</p>
        <h3>21. ENTIRE AGREEMENT</h3>
        <p>The Agreement will constitute the entire agreement between us and You with respect to the subject matter
          hereof and all prior oral or written agreements, representations or statements with respect to such subject
          matter are superseded hereby. In the event of a conflict between these Terms and the Privacy Policy, the terms
          and conditions found herein shall prevail.</p>
        <h3>22. CONTACT</h3>
        <p>By providing us with your e-mail address, You agree to receive all required notices electronically, to that
          e-mail address or by mobile notifications via the Product. It is your responsibility to update or change that
          address, as appropriate.<br>

          If You have any questions or comments regarding these Terms please contact our head office by email at
          <b>help@nxtdrop.com</b>. </p> 
        <h3>23. PROHIBITED COUNTRIES POLICY AND FOREIGN TRADE REGULATION - APPLICATIONS </h3>
        <p>NXTDROP, Inc. Product and applications or their underlying technology may not be downloaded to or exported or
          re-exported: (a) into (or to a resident or national of) Burma (Myanmar), Cuba, Iraq, Iran, Libya, North Korea,
          Sudan, Syria, or any other country subject to United States embargo; (b) to anyone on the US Treasury
          Department's list of Specially Designated Nationals or on the US Commerce Department's Denied Party or Entity
          List; and (c) to any prohibited country, person, end-user, or entity specified by US Export Laws. When using a
          NXTDROP, Inc. Application, you are responsible for complying with trade regulations and both foreign and
          domestic laws (e.g., you are not located in a country that is subject to a US Government embargo, or that has
          been designated by the US Government as a "terrorist supporting" country, and you are not listed on any US
          Government list of prohibited or restricted parties). The Product is not to be used by residents of the EU.
        </p>

  </div>
</div>

<app-footer></app-footer>