@import "../../../base_styles/base";

.main-container {
  margin: 0 0 $spacing-xlarge 0;
  h1 {
    text-align: center;
    margin: $spacing-normal;
  }

  .blog-posts {
    display: grid;
    margin: 0 auto;

    .blog-card {
      @include vendor(transition, all 0.5s ease-in-out);
      width: inherit;
      justify-self: center;
      display: grid;
      border: 1px solid $lightergrey;
      cursor: pointer;

      &:hover {
        background: $lightergrey;

        .card-img {
          img {
            opacity: 0.7;
          }
        }
      }

      .card-img {
        width: 100%;
        background: $black;

        img {
          @include vendor(transition, all 0.5s ease-in-out);
          object-fit: cover;
          width: inherit;
          height: inherit;
        }
      }

      .post-info {
        padding: $spacing-small;
        display: grid;
        grid-template-rows: 1fr 2fr 1fr;

        .post-category {
          color: $green;
        }

        .post-title {
          color: $black;
          font-weight: $weight-black;

          &:hover {
            text-decoration: underline;
          }
        }

        .date {
          color: $coolgrey;
        }
      }
    }
  }
}

// MEDIA QUERIES

@media only screen and (min-width: 0px) and (max-width: 400px) {
  .blog-posts {
    width: 100%;

    .blog-card {
      height: 180px;
      grid-template-columns: 3fr 4fr;
      border-right: none;
      border-left: none;

      .card-img {
        height: inherit;
      }

      .post-info {
        .post-category {
          font-size: $font-xsmall;
        }

        .post-title {
          font-size: $font-small;
        }

        .date {
          font-size: $font-xsmall;
        }
      }
    }
  }
}

@media only screen and (min-width: 400px) and (max-width: 800px) {
  .blog-posts {
    width: 100%;

    .blog-card {
      height: 200px;
      grid-template-columns: 3fr 5fr;
      border-right: none;
      border-left: none;

      .card-img {
        height: inherit;
      }

      .post-info {
        .post-category {
          font-size: $font-xsmall;
        }

        .post-title {
          font-size: $font-small;
        }

        .date {
          font-size: $font-xsmall;
          align-self: flex-end;
        }
      }
    }
  }
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
  .blog-posts {
    grid-template-columns: 1fr 1fr;
    column-gap: $spacing-normal;
    width: 80%;

    .blog-card {
      height: 400px;
      grid-template-rows: 5fr 3fr;
      border: none !important;
      @include vendor(box-shadow, 10px 10px 10px -6px rgba(196, 196, 196, 1));

      .card-img {
        height: 250px;
      }

      .post-info {
        .post-category {
          font-size: $font-xsmall;
        }

        .post-title {
          font-size: $font-small;
        }

        .date {
          font-size: $font-xsmall;
          align-self: flex-end;
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1800px) {
  h1 {
    margin: $spacing-xlarge !important;
  }

  .blog-posts {
    grid-template-columns: 1fr 1fr;
    row-gap: $spacing-xlarge;
    width: 75%;

    .blog-card {
      height: 500px;
      grid-template-rows: 5fr 3fr;
      border: none !important;
      @include vendor(box-shadow, 10px 10px 10px -6px rgba(196, 196, 196, 1));

      .card-img {
        height: 312.5px;
      }

      .post-info {
        padding: $spacing-normal !important;

        .post-category {
          font-size: $font-small;
        }

        .post-title {
          font-size: $font-normal;
        }

        .date {
          font-size: $font-small;
          align-self: flex-end;
        }
      }
    }
  }
}

@media only screen and (min-width: 1800px) and (max-width: 2000px) {
  h1 {
    margin: $spacing-xlarge !important;
  }

  .blog-posts {
    grid-template-columns: 1fr 1fr;
    row-gap: $spacing-xlarge;
    width: 70%;

    .blog-card {
      height: 500px;
      grid-template-rows: 5fr 3fr;
      border: none !important;
      @include vendor(box-shadow, 10px 10px 10px -6px rgba(196, 196, 196, 1));

      .card-img {
        height: 312.5px;
      }

      .post-info {
        padding: $spacing-normal !important;

        .post-category {
          font-size: $font-small;
        }

        .post-title {
          font-size: $font-normal;
        }

        .date {
          font-size: $font-small;
          align-self: flex-end;
        }
      }
    }
  }
}

@media only screen and (min-width: 2000px) {
  h1 {
    margin: $spacing-xlarge !important;
  }

  .blog-posts {
    grid-template-columns: 1fr 1fr;
    row-gap: $spacing-xlarge;
    width: 60%;

    .blog-card {
      height: 500px;
      grid-template-rows: 5fr 3fr;
      border: none !important;
      @include vendor(box-shadow, 10px 10px 10px -6px rgba(196, 196, 196, 1));

      .card-img {
        height: 312.5px;
      }

      .post-info {
        padding: $spacing-normal !important;
        
        .post-category {
          font-size: $font-small;
        }

        .post-title {
          font-size: $font-normal;
        }

        .date {
          font-size: $font-small;
          align-self: flex-end;
        }
      }
    }
  }
}
