<app-navbar></app-navbar>

<div class="main-container">
    <app-carousel></app-carousel>

    <section class="how-it-works-banner" *ngIf="!connected">
        <div class="banner-message">
            <h1>New to NXTDROP?</h1>
            <a routerLink="/how-it-works" class="ripple">See How It Works</a>
        </div>

        <div class="banner-image">
            <img src="https://firebasestorage.googleapis.com/v0/b/nxtdrop.appspot.com/o/Jordan%206%20Retro%20Gatorade%20Green.png?alt=media&token=16914453-040b-4b71-9144-f0a8bada0713"
                alt="Jordan 6 Retro Gatorade Green">
        </div>
    </section>

    <app-trending></app-trending>

    <section class="stat-banner">
        <h1>How we have helped our users so far</h1>

        <div class="stat-content">
            <div class="duties">
                <h3>{{ duties | currency:'CAD':'symbol':'3.0-0' }}</h3>
                <p>Saved on Duties</p>
            </div>

            <img src="https://firebasestorage.googleapis.com/v0/b/nxtdrop.appspot.com/o/adidas%20Yeezy%20Boost%20Zebra.png.png?alt=media&token=890ba2a4-2764-4bf8-86d2-05b74ae25173"
                alt="adidas Yeezy Boost 350 Zebra">

            <div class="authRate">
                <h3>100%</h3>
                <p>Authentication Rate</p>
            </div>
        </div>

        <h2>We can help you too</h2>
    </section>

    <app-new-releases></app-new-releases>

    <app-discovery></app-discovery>
</div>

<app-modal></app-modal>

<app-footer></app-footer>