<section class="notification-tab" id="notification-tab">
    <div class="notifications-container" id="notification-container">
        <div class="notification-card">
            <div class="notification-description">
                <h5>You received a counter-offer.</h5>
                <h6>1h ago</h6>
            </div>

            <div class="notification-img">
                <img src="../../../assets/Air-Force-1-Low-Off-White-Volt.jpg" alt="Air-Force-1-Low-Off-White-Volt">
            </div>
        </div>

        <div class="notification-card">
            <div class="notification-description">
                <h5>You received a counter-offer.</h5>
                <h6>1h ago</h6>
            </div>

            <div class="notification-img">
                <img src="../../../assets/Jordan-4-Retro-Black-Laser.jpg" alt="Jordan-4-Retro-Black-Laser">
            </div>
        </div>
    </div>
</section>