@import '../../base_styles/base';

.main-container {
    display: grid;
    align-content: center;
}

h2 {
    text-align: center;
    margin: $spacing-normal;
}

p {
    text-align: center;
}

input {
    display: block;
    padding: $spacing-xsmall;
    margin-bottom: $spacing-small;
    border-radius: $spacing-xsmall;
    border: 1px solid $lightgrey;
    margin-left: auto;
    margin-right: auto;
}

.settings-btn {
    margin: $spacing-normal auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5px;
}

.error-field {
    border-color: $inputError;
}

.disabled {
    background: $lightgrey;
    cursor: not-allowed;

    &:hover {
        background: $lightgrey;
    }
}

.error {
    background: $inputError;
    color: $white;
}

// MEDIA QUERIES

@media only screen and (min-width: 0px) and (max-width: 400px) {
    input {
        width: 90%;
    }

    p {
        font-size: $font-xxsmall;
    }

    .settings-btn {
        width: 90%;
    }
}

@media only screen and (min-width: 400px) and (max-width: 800px) {
    input {
        width: 70%;
    }

    p {
        font-size: $font-xsmall;
    }

    .settings-btn {
        width: 70%;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
    input {
        width: 40%;
    }

    p {
        font-size: $font-xsmall;
    }

    .settings-btn {
        width: 40%;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1800px) {
    input {
        width: 30%;
    }

    p {
        font-size: $font-xsmall;
    }

    .settings-btn {
        width: 30%;
    }
}

@media only screen and (min-width: 1800px) and (max-width: 2000px) {
    input {
        width: 30%;
    }

    p {
        font-size: $font-small;
    }

    .settings-btn {
        width: 30%;
    }
}

@media only screen and (min-width: 2000px) {
    input {
        width: 25%;
    }

    p {
        font-size: $font-small;
    }

    .settings-btn {
        width: 25%;
    }
}