<app-navbar></app-navbar>

<div class="main-container">
    <h2>Edit Email</h2>

    <input type="email" id="new_email" placeholder="New Email" (keyup)="newEmailChanges($event)" [className]="!new_email_valid ? 'error-field' : ''">
    <input type="email" id="old_email" placeholder="Old Email" (keyup)="oldEmailChanges($event)" [className]="!old_email_valid ? 'error-field' : ''">
    <input type="password" id="pwd" placeholder="Enter Password" (keyup)="pwdChanges($event)" [className]="!pwd_entered ? 'error-field' : ''" autocomplete="off">
  
    <div class="settings-btn">
      <button class="settings-back-btn btn" routerLink="..">Back</button>
      <button *ngIf="!loading && !error && !updated" [className]="new_email_valid && old_email_valid && pwd_entered ? 'settings-save-btn btn' : 'settings-save-btn btn disabled'" (click)="updateEmail()">Save Changes</button>
      <button class="settings-back-btn btn" *ngIf="loading"><fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon></button>
      <button class="settings-back-btn error" *ngIf="error">Error</button>
      <button class="settings-back-btn btn" *ngIf="updated">Updated</button>
    </div>
  </div>
    
  <app-footer></app-footer>