<section class="phone-verification-body">

  <div class="phone-verification-card">
    <div *ngIf="!isSent">
        <h3>Phone Verification</h3>
        <div id="inputs">
            <input type="text" id="areaCode" placeholder="+1" mask="+0" (keyup)="verifyAreaCode()">
            <input type="text" id="phoneNumber" placeholder="(416) 123-4567" mask="(000) 000-0000" (keyup)="verifyNumber()">
        </div>
    
        <div id="container">
    
        </div>
    
        <button *ngIf="!linkLoading" [className]="isValidNumber ? 'btn' : 'btn disabled'" style="outline: none" id="send-code-btn" (click)="sendCode()">Send Code</button>
        <button *ngIf="linkLoading" class="btn"  id="send-code-btn"><fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon></button>

        <p>Phone verification help us ensure that real people are using this platform. It also helps us fight fraud. Your phone number is securely saved by our authentication system. If our database is ever compromised, your phone number will not leak. You will receive an SMS with a code. Enter the code when prompted. Standard rates apply.</p>
    </div>

    <div *ngIf="isSent">
        <h3>Code Verification</h3>
        <input type="text" id="authCode" placeholder="Enter Code" (keyup)="validCode()">

        <button *ngIf="!verificationLoading" [className]="isValidCode ? 'btn' : 'btn disabled'" style="outline: none" id="send-code-btn" (click)="verifyCode()">Verify</button>
        <button *ngIf="verificationLoading" class="btn"  id="send-code-btn"><fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon></button>

        <p>Phone verification help us ensure that real people are using this platform. It also helps us fight fraud. Your phone number is securely saved by our authentication system. If our database is ever compromised, your phone number will not leak. You will receive an SMS with a code. Enter the code when prompted. Standard rates apply.</p>
    </div>
  </div>

</section>

<app-footer></app-footer>