@import '../../base_styles/base';

section {
    height: calc(100vh - #{$footerHeight});
    width: 100vw;
    max-width: 100%;
    background: $black;
    display: grid;

    .phone-verification-card {
        align-self: center;
        max-width: 100%;

        #inputs {
            margin: $spacing-small auto;
            display: grid;
            grid-template-columns: 1fr 7fr;

            input {
                display: block;
                margin: 5px auto;
                height: 25px;
                width: 90%;
                border: none;
                padding: $spacing-xsmall;
                letter-spacing: 0.8px;
                border-radius: $spacing-xxsmall;
                text-align: center;
            }
        }

        h3 {
            text-align: center;
            margin: $spacing-small 0;
            color: $white;
        }

        p {
            text-align: center;
            color: $white;
            padding: 0 10%;
        }

        button {
            display: block;
            padding: $spacing-small;
            border: none;
            border-radius: 8px;
            font-size: $font-small;
            font-weight: $weight-black;
            width: 50%;
            margin: $spacing-small auto;
            background: $green;
            cursor: pointer;
            @include vendor(transition, all 0.25s ease-in-out);
            border-radius: $spacing-xxsmall;

            &:hover {
                background: $mintgreen;
            }
        }

        #back-btn {
            background: $white;
            color: $black;

            &:hover {
                background: $coolgrey;
            }
        }

        input {
            display: block;
            margin: 5px auto;
            height: 25px;
            border: none;
            padding: $spacing-xsmall;
            letter-spacing: 0.8px;
            border-radius: $spacing-xxsmall;
            text-align: center;
        }

        .disabled {
            background: $lightgrey;
            cursor: not-allowed;
    
            &:hover {
                background: $lightgrey;
            }
        }

        .container {
            display: grid;
            justify-items: center;
            justify-content: center;
        }
    }
}

// MEDIA QUERIES

@media only screen and (min-width: 0px) and (max-width: 400px) {
    .phone-verification-card {
        #inputs {
            width: 90%;
        }

        p {
            font-size: $font-xxsmall;
        }

        button {
            width: 45%!important;
        }

        #back-btn {
            width: 35%!important;
        }
    }
}

@media only screen and (min-width: 400px) and (max-width: 800px) {
    .phone-verification-card {
        #inputs {
            width: 90%;
        }

        p {
            font-size: $font-xxsmall;
        }

        button {
            width: 45%!important;
        }

        input {
            width: 70%;
        }
    }
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
    .phone-verification-card {
        #inputs {
            width: 80%;
        }

        p {
            font-size: $font-xxsmall;
        }

        button {
            width: 40%!important;
        }

        #back-btn {
            width: 20%!important;
        }

        input {
            width: 70%;
        }
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1800px) {
    .phone-verification-card {
        #inputs {
            width: 70%;
        }

        p {
            font-size: $font-xxsmall;
        }

        button {
            width: 35%!important;
        }

        #back-btn {
            width: 15.75%!important;
        }

        input {
            width: 60%;
        }
    }
}

@media only screen and (min-width: 1800px) and (max-width: 2000px) {
    .phone-verification-card {
        #inputs {
            width: 60%;
        }

        p {
            font-size: $font-xsmall;
        }

        button {
            width: 30%!important;
        }

        #back-btn {
            width: 15%!important;
        }

        input {
            width: 550%;
        }
    }   
}

@media only screen and (min-width: 2000px) {
    .phone-verification-card {
        #inputs {
            width: 50%;
        }

        p {
            font-size: $font-small;
        }

        button {
            width: 25%!important;
        }

        #back-btn {
            width: 12.5%!important;
        }

        input {
            width: 45%;
        }
    }
}