@import '../../../base_styles/base';

// MEDIA QUERIES

@media only screen and (min-width: 0px) and (max-width: 400px) {
    .showcase-discovery {
        grid-template-columns: 1fr 1fr !important;
    }
}

@media only screen and (min-width: 400px) and (max-width: 800px) {
    .showcase-discovery {
        grid-template-columns: 1fr 1fr !important;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
    .showcase-discovery {
        grid-template-columns: 1fr 1fr !important;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1800px) {
    .showcase-discovery {
        grid-template-columns: 1fr 1fr !important;
    }
}

@media only screen and (min-width: 1800px) and (max-width: 2000px) {
    .showcase-discovery {
        grid-template-columns: 1fr 1fr !important;
    }
}

@media only screen and (min-width: 2000px) {
    .showcase-discovery {
        grid-template-columns: 1fr 1fr !important;
    }
}