@import "../../base_styles/base";

.main-container {
  display: grid;
  align-content: center;
}

.product-container {
  width: 95vw;
  max-width: 95%;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: $spacing-normal;
  //border: 1px solid $lightgrey;
  //border-bottom: none;
  margin: $spacing-normal auto;
  height: $productContainerHeight;

  .product-info {
    text-align: center;
    display: grid;
    align-items: center;
    justify-items: center;
    //border-bottom: 1px solid $lightgrey;

    .auth {
      margin: 0 auto;
      color: $white;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      background: $black;
      padding: $spacing-xsmall;
      border-radius: $spacing-normal;
      display: block;

      fa-icon {
        margin-left: $spacing-xxsmall;
      }
    }

    img {
      display: block;
      margin: 0 auto;
      object-fit: contain;
      background: $white;
      border: none;
      width: 100%;
    }

    .product-specs {
      margin: 0 auto;
      background: $black;
      border-radius: $spacing-xxsmall;
      padding: $spacing-xxsmall 0;
      width: 100%;

      h4 {
        font-weight: $weight-bold;
        letter-spacing: 1.5px;
        line-height: $spacing-normal;
        color: $white;
      }
    }

    .product-btns {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: $spacing-normal;

      .buy-bid {
        background: $prodBtnPrimary;

        div:last-child {
          button {
            background: $prodBtnPrimary;

            &:hover {              
              &:first-child {
                border-bottom: 2px solid $prodBtnSecondary;
                border-left: 1px solid $prodBtnSecondary;
              }

              &:last-child {
                border-top: 2px solid $prodBtnSecondary;
                border-left: 1px solid $prodBtnSecondary;
              }
            }

            &:last-child {
              border-top: 1px solid $prodBtnSecondary;
            }
          }

          .disabled {
            color: #8ebff1;
            cursor: default;

            &:hover {
              border-bottom: none !important;
              border-left: none !important;
            }
          }
        }
      }

      .sell-ask {
        background: $prodBtnPrimary2;

        div:last-child {
          button {
            background: $prodBtnPrimary2;

            &:hover {
              &:first-child {
                border-bottom: 2px solid $prodBtnSecondary2;
                border-left: 1px solid $prodBtnSecondary2;
              }

              &:last-child {
                border-top: 2px solid $prodBtnSecondary2;
                border-left: 1px solid $prodBtnSecondary2;
              }
            }

            &:last-child {
              border-top: 1px solid $prodBtnSecondary2;
            }
          }

          .disabled {
            color: #f69089;
            cursor: default;

            &:hover {
              border-bottom: none !important;
              border-left: none !important;
            }
          }
        }
      }

      .buy-bid, .sell-ask {
        display: grid;
        grid-template-columns: 3fr 2fr;
        padding: $spacing-xsmall;
        border-radius: $spacing-xxsmall;

        .lowestAsk {
          border-right: 1px solid $prodBtnSecondary;

          h3 {
            color: $prodBtnLight;
          }
        }

        .highestBid {
          border-right: 1px solid $prodBtnSecondary2;

          h3 {
            color: $prodBtnLight2;
          }
        }

        .lowestAsk, .highestBid {
          display: grid;
          grid-template-rows: 1fr 2fr 1fr;
          text-align: left;
          padding: $spacing-xsmall;

          h2 {
            color: $white;
            font-size: $font-large;
            align-self: center;
          }

          h3 {
            font-size: $font-small;
          }
        }

        div:last-child {
          display: grid;
          grid-template-rows: 1fr 1fr;

          button {
            height: 100%;
            border: none;
            color: $white;
            font-weight: $weight-black;
            font-size: $font-normal;
            cursor: pointer;
          }
        }
      }
    }
  }

  .product-offers {
    background: $lightergrey;
    overflow-y: auto;
    padding: $spacing-small;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    column-gap: $spacing-xsmall;
    row-gap: $spacing-xsmall;

    .product-offer {
      @include vendor(transition, 0.20s ease-in);
      padding: $spacing-xsmall;
      border: 2px solid $black;
      background: $white;
      height: 90px;
      width: 90px;
      border-radius: $spacing-xxsmall;
      cursor: pointer;
      display: grid;
      align-items: center;

      #lowestAsk, #highestBid, #size {
        background: none;
        font-weight: $weight-black;
        font-size: $font-small;
        border: none;
        cursor: pointer;
        text-align: center;
        height: 100%;
        outline: none;
      }

      #size {
        font-size: $font-normal;
        letter-spacing: 1px;
      }

      #lowestAsk {
        color: $prodBtnPrimary;
        border-bottom: 1px solid $lightgrey;
      }

      #highestBid {
        color: $prodBtnPrimary2;
      }

      &:hover {
        background: $black;

        #size {
          color: $white;
        }
      }
    }

    .selected {
      @extend .product-offer;
      background: $black;

      #size {
        color: $white;
      }

      &:hover {
        background: $matteblack;
      }
    }
  }
}

// MEDIA QUERIES

@media only screen and (min-width: 0px) and (max-width: 400px) {
  .product-btns {
    width: 95%;

    a {
      font-size: $font-xxsmall;
      padding: $spacing-small 0;
    }
  }

  .product-info {
    .auth {
      font-size: $font-xsmall;
      width: 80%;
    }

    img {
      width: 250px;
      height: 250px;
    }

    .product-specs {
      h4 {
        font-size: $font-xxsmall;
        width: 100%;
      }
    }
  }
}

@media only screen and (min-width: 400px) and (max-width: 800px) {
  .product-btns {
    width: 80%;

    a {
      font-size: $font-xxsmall;
      padding: $spacing-small 0;
    }
  }

  .product-info {
    .auth {
      font-size: $font-xsmall;
      width: 40%;
    }

    img {
      width: 250px;
      height: 250px;
    }

    .product-specs {
      h4 {
        font-size: $font-xsmall;
        width: 100%;
      }
    }

    .share-btns {
      width: 80%;
    }
  }
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
  .product-container {
    grid-template-columns: 4fr 3fr;
  }

  .product-btns {
    width: 80%;
    margin: 0 auto !important;

    a {
      font-size: $font-xxsmall;
      padding: $spacing-small 0;
    }
  }

  .product-info {
    .auth {
      font-size: $font-xsmall;
      width: 40%;
    }

    img {
      width: 250px;
      height: 250px;
    }

    .product-specs {
      h4 {
        font-size: $font-xsmall;
        width: 100%;
      }
    }

    .share-btns {
      width: 60%;
    }
  }

  .product-navigation {
    button {
      font-size: $font-xxsmall;
    }
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1800px) {
  .product-container {
    grid-template-columns: 4fr 3fr;
  }

  .product-btns {
    width: 80%;
    margin: 0 auto !important;

    a {
      font-size: $font-small;
      padding: $spacing-small 0;
    }
  }

  .product-info {
    .auth {
      font-size: $font-xsmall;
      width: 25%;
    }

    img {
      width: 300px;
      height: 300px;
    }

    .product-specs {
      h4 {
        font-size: $font-small;
        width: 100%;
      }
    }

    .share-btns {
      width: 60%;
    }
  }

  .product-navigation {
    button {
      font-size: $font-small;
    }
  }
}

@media only screen and (min-width: 1800px) and (max-width: 2000px) {
  .product-container {
    grid-template-columns: 4fr 3fr;
  }

  .product-btns {
    width: 80%;
    margin: 0 auto !important;

    a {
      font-size: $font-small;
      padding: $spacing-small 0;
    }
  }

  .product-info {
    .auth {
      font-size: $font-small;
      width: 25%;
    }

    img {
      width: 350px;
      height: 350px;
    }

    .product-specs {
      h4 {
        font-size: $font-small;
        width: 100%;
      }
    }

    .share-btns {
      width: 50%;
    }
  }

  .product-navigation {
    button {
      font-size: $font-small;
    }
  }
}

@media only screen and (min-width: 2000px) {
  .product-container {
    grid-template-columns: 4fr 3fr;
  }

  .product-btns {
    width: 80%;
    margin: 0 auto !important;

    a {
      font-size: $font-small;
      padding: $spacing-small 0;
    }
  }

  .product-info {
    .auth {
      font-size: $font-small;
      width: 25%;
    }

    img {
      width: 375px;
      height: 375px;
    }

    .product-specs {
      h4 {
        font-size: $font-small;
        width: 100%;
      }
    }

    .share-btns {
      width: 40%;
    }
  }

  .product-navigation {
    button {
      font-size: $font-small;
    }
  }
}
