<app-navbar></app-navbar>

<div class="main-container">
  <section class="product-container">
    <div class="product-info">
      <div class="product-btns">
        <button class="btn" [routerLink]="['/sell']" [queryParams]="{ sneaker: productInfo | json }">Sell This Product
          <fa-icon [icon]="['fas', 'tag']"></fa-icon></button>
        <button class="btn" routerLink="/make-an-offer" [queryParams]="{ sneaker: productInfo | json }">Make an Offer
          <fa-icon [icon]="['fas', 'hand-holding-usd']"></fa-icon></button>
      </div>

      <p>Guaranteed Authentic <fa-icon [icon]="['fas', 'check-circle']"></fa-icon>
      </p>

      <img src="{{ productInfo.assetURL }}" alt="{{ productInfo.model }}">

      <div class="share-btns">
        <a href="https://www.facebook.com/sharer/sharer.php?app_id=316718239101883&u=https://nxtdrop.com/product/{{ productID }}&display=popup&ref=plugin"
          class="fb-share-btn" (click)="share('fb')">
          <fa-icon [icon]="['fab', 'facebook-f']"></fa-icon>
        </a>
        <a href="https://twitter.com/intent/tweet?text=Check out the {{ productInfo.model }} available on @nxtdrop https://nxtdrop.com/product/{{ productID }}"
          class="twitter-share-btn" (click)="share('twitter')">
          <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
        </a>
        <a href="mailto:?subject=Check out the {{ productInfo.model }} available on NXTDROP&body=Hey, I just came across the {{ productInfo.model }} and thought you'd be interested. Check it out here https://nxtdrop.com/product/{{ productID }}"
          class="mail-share-btn" (click)="share('mail')">
          <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
        </a>
        <a
          class="link-share-btn" (click)="share('copy_link')">
          <fa-icon [icon]="['fas', 'link']"></fa-icon>
            <span class="tooltiptext" id="tooltiptext">Copied!</span>
        </a>
      </div>

      <div class="product-specs">
        <h4>{{ productInfo.model }}</h4>
        <h4>Colorway: {{ productInfo.colorway }}</h4>
        <h4>Release Date: {{ productInfo.yearMade }}</h4>
      </div>
    </div>

    <section>
      <div class="product-navigation">
        <button class="btn" id="buy-btn" (click)="navigationBuy()">View Listings</button>
        <button class="btn" id="offers-btn" (click)="navigationOffers()">View Offerings</button>
      </div>

      <div class="product-offers" *ngIf="showBuy && buyListings.length >= 1">
        <div class="product-offer" *ngFor="let buyListing of buyListings">
          <h6>{{ buyListing.condition }}</h6>

          <div class="offer-specs">
            <h2 id="offer-size">{{ buyListing.size }}</h2>
            <h2 id="offer-price">{{ buyListing.price | currency: 'CAD' }}</h2>
          </div>

          <button class="btn" (click)="buyNow(buyListing)" *ngIf="connected">Buy Now</button>
          <button class="btn disabled" *ngIf="!connected">Buy Now</button>
        </div>
      </div>


      <div class="product-offers" *ngIf="showBuy && buyListings.length < 1">
        <p>Sorry, there are no listings at this moment.</p>
      </div>

      <div class="product-offers" *ngIf="showOffers && offersListings.length >= 1">
        <div class="product-offer" *ngFor="let offerListing of offersListings">
          <h6>{{ offerListing.condition }}</h6>

          <div class="offer-specs">
            <h2 id="offer-size">{{ offerListing.size }}</h2>
            <h2 id="offer-price">{{ offerListing.price | currency: 'CAD' }}</h2>
          </div>

          <button class="btn" (click)="sell(offerListing)" *ngIf="connected">Sell Now</button>
          <button class="btn disabled" *ngIf="!connected">Sell Now</button>
        </div>
      </div>

      <div class="product-offers" *ngIf="showOffers && offersListings.length < 1">
        <p>Sorry, there are no offers at this moment.</p>
      </div>
    </section>
  </section>

  <app-modal></app-modal>
</div>

<app-footer></app-footer>