<div class="main-container">
  <app-navbar></app-navbar>

  <section class="product-container">
    <div class="product-info">
      <img src="{{ productInfo.assetURL }}" alt="{{ productInfo.productInfo }}">

      <div class="product-specs">
        <h4>{{ productInfo.model }}</h4>
        <h4>Colorway: {{ productInfo.colorway }}</h4>
        <h4>Release Date: {{ productInfo.yearMade }}</h4>
      </div>
    </div>

    <div class="product-offers" *ngIf="showBuy && buyListings.length >= 1">
      <div class="product-offer" *ngFor="let buyListing of buyListings">
        <h6>{{ buyListing.condition }}</h6>

        <div class="offer-specs">
          <h2 id="offer-size">{{ buyListing.size }}</h2>
          <h2 id="offer-price">{{ buyListing.price | currency: 'CAD' }}</h2>
        </div>

        <button class="btn" (click)="addToCart(buyListing)" *ngIf="connected">Add to cart</button>
        <button class="btn disabled" *ngIf="!connected">Add to cart</button>
      </div>
    </div>
    <div class="product-navigation">
      <button class="btn" id="buy-btn" (click)="navigationBuy()">Listings</button>
      <button class="btn" id="offers-btn" (click)="navigationOffers()">Bids</button>
    </div>

    <div class="product-offers" *ngIf="showBuy && buyListings.length < 1">
      <p>Sorry, there is no listings at this moment.</p>
    </div>

    <div class="product-offers" *ngIf="showOffers && offersListings.length >= 1">
      <div class="product-offer" *ngFor="let offerListing of offersListings">
        <h6>{{ offerListing.condition }}</h6>

        <div class="offer-specs">
          <h2 id="offer-size">{{ offerListing.size }}</h2>
          <h2 id="offer-price">{{ offerListing.price | currency: 'CAD' }}</h2>
        </div>

        <button class="btn" (click)="sell(offerListing)" *ngIf="connected">Sell</button>
        <button class="btn disabled" *ngIf="!connected">Sell</button>
      </div>
    </div>

    <div class="product-offers" *ngIf="showOffers && offersListings.length < 1">
      <p>Sorry, there is no offers at this moment.</p>
    </div>
  </section>
</div>

<app-footer></app-footer>