@import "../../base_styles/base";

.main-container {
  display: grid;
  align-content: center;
}

.product-container {
  width: 95vw;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: $spacing-normal;
  margin: $spacing-normal auto;

  .product-info {
    text-align: center;
    display: grid;
    align-items: center;
    justify-items: center;
    //border-bottom: 1px solid $lightgrey;

    .auth {
      color: $white;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      background: $black;
      padding: $spacing-xsmall;
      border-radius: $spacing-normal;
      display: block;

      fa-icon {
        margin-left: $spacing-xxsmall;
      }
    }

    .return {
      color: $black;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      cursor: pointer;
    }

    img {
      display: block;
      margin: 0 auto;
      object-fit: contain;
      background: $white;
      border: none;
    }

    .product-specs {
      margin: 0 auto;
      background: $black;
      border-radius: $spacing-xxsmall;

      h4 {
        font-weight: $weight-bold;
        letter-spacing: 1.5px;
        line-height: $spacing-normal;
        color: $white;
      }
    }

    .product-btns {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .buy-bid {
        background: $prodBtnPrimary;

        div:last-child {
          button {
            background: $prodBtnPrimary;

            &:hover {
              &:first-child {
                border-bottom: 2px solid $prodBtnSecondary;
                border-left: 1px solid $prodBtnSecondary;
              }

              &:last-child {
                border-top: 2px solid $prodBtnSecondary;
                border-left: 1px solid $prodBtnSecondary;
              }
            }

            &:last-child {
              border-top: 1px solid $prodBtnSecondary;
            }
          }

          .disabled {
            color: #8ebff1;
            cursor: default;

            &:hover {
              border-bottom: none !important;
              border-left: none !important;
            }
          }
        }
      }

      .sell-ask {
        background: $prodBtnPrimary2;

        div:last-child {
          button {
            background: $prodBtnPrimary2;

            &:hover {
              &:first-child {
                border-bottom: 2px solid $prodBtnSecondary2;
                border-left: 1px solid $prodBtnSecondary2;
              }

              &:last-child {
                border-top: 2px solid $prodBtnSecondary2;
                border-left: 1px solid $prodBtnSecondary2;
              }
            }

            &:last-child {
              border-top: 1px solid $prodBtnSecondary2;
            }
          }

          .disabled {
            color: #f69089;
            cursor: default;

            &:hover {
              border-bottom: none !important;
              border-left: none !important;
            }
          }
        }
      }

      .buy-bid,
      .sell-ask {
        display: grid;
        grid-template-columns: 3fr 2fr;
        border-radius: $spacing-xxsmall;

        .lowestAsk {
          border-right: 1px solid $prodBtnSecondary;

          h3 {
            color: $prodBtnLight;
          }
        }

        .highestBid {
          border-right: 1px solid $prodBtnSecondary2;

          h3 {
            color: $prodBtnLight2;
          }
        }

        .lowestAsk,
        .highestBid {
          display: grid;
          grid-template-rows: 1fr 2fr 1fr;
          text-align: left;
          padding: $spacing-xsmall;

          h2 {
            color: $white;
            align-self: center;
          }
        }

        div:last-child {
          display: grid;
          grid-template-rows: 1fr 1fr;

          button {
            height: 100%;
            border: none;
            color: $white;
            font-weight: $weight-black;
            cursor: pointer;
          }
        }
      }
    }
  }

  .product-offers {
    background: $lightergrey;
    overflow-y: auto;
    display: grid;
    justify-items: center;

    .accessibility {
      align-self: flex-start;
      width: 100%;
      padding: $spacing-small 0;
    }

    .product-offer {
      @include vendor(transition, 0.2s ease-in);
      padding: $spacing-xsmall;
      border: 2px solid $black;
      border-radius: $spacing-xxsmall;
      cursor: pointer;
      display: grid;
      align-items: center;

      #lowestAsk,
      #highestBid,
      #size {
        background: none;
        font-weight: $weight-black;
        border: none;
        cursor: pointer;
        text-align: center;
        height: 100%;
        outline: none;
      }

      #size {
        letter-spacing: 1px;
      }

      #lowestAsk {
        color: $prodBtnPrimary;
        border-bottom: 1px solid $lightgrey;
      }

      #highestBid {
        color: $prodBtnPrimary2;
      }
    }

    .selected {
      @extend .product-offer;
      background: $black;

      #size {
        color: $white;
      }
    }
  }
}

// MEDIA QUERIES

@media only screen and (min-width: 0px) and (max-width: 399.5px) {
  .product-btns {
    width: 100%;
    column-gap: $spacing-xsmall;
    margin-bottom: $spacing-small;

    .buy-bid,
    .sell-ask {
      padding: $spacing-xxsmall;

      .lowestAsk,
      .highestBid {
        h3 {
          font-size: 0.6rem;
        }

        h2 {
          font-size: 0.7rem;
        }
      }

      div {
        button {
          font-size: 0.6rem;

          &:hover {
            border-left: none !important;
            border-bottom: none !important;
          }
        }
      }
    }

    .sell-ask {
      div > button {
        &:last-child {
          &:hover {
            border-top: 1px solid $prodBtnSecondary2 !important;
          }
        }
      }
    }

    .buy-bid {
      div > button {
        &:last-child {
          &:hover {
            border-top: 1px solid $prodBtnSecondary !important;
          }
        }
      }
    }
  }

  .product-info {
    .auth {
      margin: $spacing-xsmall auto;
      font-size: 0.5rem;
      width: 60%;
    }

    .return {
      margin: $spacing-xsmall auto;
      font-size: 0.8rem;
    }

    img {
      width: 60%;
    }

    .product-specs {
      padding: $spacing-xsmall;
      width: 90%;

      h4 {
        font-size: 0.55rem;
        width: 100%;
        font-weight: $weight-black;
      }
    }
  }

  .product-offers {
    column-gap: $spacing-xxsmall;
    row-gap: $spacing-xxsmall;
    padding: $spacing-small;
    grid-template-columns: 1fr 1fr 1fr;

    .accessibility {
      grid-column: 1 / 4;

      h2 {
        font-size: 1rem;
      }

      h3 {
        font-size: 0.8rem;
      }
    }

    .product-offer {
      height: 70px;
      width: 70px;

      #lowestAsk,
      #highestBid {
        font-size: $font-xsmall;
      }

      #size {
        font-size: $font-small;
      }
    }
  }

  .product-container {
    min-height: $productContainerHeight;
  }
}

@media only screen and (min-width: 400px) and (max-width: 799.5px) {
  .product-btns {
    width: 90%;
    column-gap: $spacing-xsmall;
    margin-bottom: $spacing-small;

    .buy-bid,
    .sell-ask {
      padding: $spacing-xsmall;

      .lowestAsk,
      .highestBid {
        h3 {
          font-size: $font-xsmall;
        }

        h2 {
          font-size: $font-small;
        }
      }

      div {
        button {
          font-size: $font-xsmall;

          &:hover {
            border-left: none !important;
            border-bottom: none !important;
          }
        }
      }
    }

    .sell-ask {
      div > button {
        &:last-child {
          &:hover {
            border-top: 1px solid $prodBtnSecondary2 !important;
          }
        }
      }
    }

    .buy-bid {
      div > button {
        &:last-child {
          &:hover {
            border-top: 1px solid $prodBtnSecondary !important;
          }
        }
      }
    }
  }

  .product-info {
    .auth {
      margin: $spacing-xsmall auto;
      font-size: 0.6rem;
      width: 50%;
    }

    .return {
      font-size: 0.9rem;
      margin: $spacing-xsmall auto;
    }

    img {
      width: 60%;
    }

    .product-specs {
      padding: $spacing-xsmall;
      width: 90%;

      h4 {
        font-size: 0.7rem;
        width: 100%;
        font-weight: $weight-black;
      }
    }

    .share-btns {
      width: 80%;
    }
  }

  .product-offers {
    column-gap: $spacing-xxsmall;
    row-gap: $spacing-xxsmall;
    padding: $spacing-small;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .accessibility {
      grid-column: 1 / 5;

      h2 {
        font-size: 1rem;
      }

      h3 {
        font-size: 0.8rem;
      }
    }

    .product-offer {
      height: 60px;
      width: 60px;

      #lowestAsk,
      #highestBid {
        font-size: $font-xsmall;
      }

      #size {
        font-size: $font-small;
      }
    }
  }

  .product-container {
    min-height: $productContainerHeight;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1199.5px) {
  .product-container {
    grid-template-columns: 1fr 1fr;
    min-height: calc($productContainerHeight * 0.75);
    max-height: $productContainerHeight;
  }

  .product-btns {
    width: 100%;
    column-gap: $spacing-xsmall;
    margin-bottom: $spacing-small;

    .buy-bid,
    .sell-ask {
      padding: $spacing-xsmall;

      .lowestAsk,
      .highestBid {
        h3 {
          font-size: $font-xsmall;
        }

        h2 {
          font-size: $font-small;
        }
      }

      div {
        button {
          font-size: $font-xsmall;

          &:hover {
            border-left: none !important;
            border-bottom: none !important;
          }
        }
      }
    }

    .sell-ask {
      div > button {
        &:last-child {
          &:hover {
            border-top: 1px solid $prodBtnSecondary2 !important;
          }
        }
      }
    }

    .buy-bid {
      div > button {
        &:last-child {
          &:hover {
            border-top: 1px solid $prodBtnSecondary !important;
          }
        }
      }
    }
  }

  .product-info {
    .auth {
      margin: $spacing-xxsmall auto;
      font-size: $font-xsmall;
      width: 60%;
    }

    .return {
      font-size: 0.9rem;
      margin: $spacing-xxsmall auto;
    }

    img {
      width: 100%;
    }

    .product-specs {
      width: 100%;

      h4 {
        font-size: 0.7rem;
        width: 100%;
      }
    }

    .share-btns {
      width: 60%;
    }
  }

  .product-offers {
    column-gap: $spacing-xxsmall;
    row-gap: $spacing-xxsmall;
    padding: $spacing-small;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .accessibility {
      grid-column: 1 / 5;

      h2 {
        font-size: $font-normal;
      }

      h3 {
        font-size: $font-xsmall;
      }
    }

    .product-offer {
      height: 60px;
      width: 60px;

      #lowestAsk,
      #highestBid {
        font-size: $font-xsmall;
      }

      #size {
        font-size: $font-small;
      }
    }
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1799.5px) {
  .product-container {
    grid-template-columns: 4fr 3fr;
    height: $productContainerHeight;
  }

  .product-btns {
    width: 90%;
    column-gap: $spacing-small;
    margin-bottom: $spacing-small;

    .buy-bid,
    .sell-ask {
      padding: $spacing-xsmall;

      .lowestAsk,
      .highestBid {
        h3 {
          font-size: $font-small;
        }

        h2 {
          font-size: $font-normal;
        }
      }

      div {
        button {
          font-size: $font-small;
        }
      }
    }
  }

  .product-info {
    .auth {
      margin: $spacing-xxsmall auto;
      font-size: $font-xsmall;
      width: 35%;
    }

    .return {
      font-size: 1rem;
      margin: $spacing-xxsmall auto;

      &:hover {
        color: $coolgrey !important;
      }
    }

    img {
      width: 60%;
    }

    .product-specs {
      width: 100%;
      padding: $spacing-xsmall 0;

      h4 {
        font-size: $font-small;
        width: 100%;
      }
    }

    .share-btns {
      width: 60%;
    }
  }

  .product-offers {
    column-gap: $spacing-xsmall;
    row-gap: $spacing-xsmall;
    padding: $spacing-normal;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .accessibility {
      grid-column: 1 / 5;

      h2 {
        font-size: $font-large;
      }

      h3 {
        font-size: $font-small;
      }
    }

    .product-offer {
      height: 80px;
      width: 80px;

      #lowestAsk,
      #highestBid {
        font-size: $font-small;
      }

      #size {
        font-size: $font-normal;
      }

      &:hover {
        background: $black;

        #size {
          color: $white;
        }
      }
    }

    .selected {
      &:hover {
        background: $matteblack !important;
      }
    }
  }
}

@media only screen and (min-width: 1800px) and (max-width: 1999.5px) {
  .product-container {
    grid-template-columns: 4fr 3fr;
    height: $productContainerHeight;
  }

  .product-btns {
    width: 85%;
    column-gap: $spacing-xsmall;
    margin-bottom: $spacing-normal;

    .buy-bid,
    .sell-ask {
      padding: $spacing-small;

      .lowestAsk,
      .highestBid {
        h3 {
          font-size: $font-normal;
        }

        h2 {
          font-size: $font-large;
        }
      }

      div {
        button {
          font-size: $font-large;
        }
      }
    }
  }

  .product-info {
    .auth {
      margin: $spacing-xxsmall auto;
      font-size: $font-normal;
      width: 35%;
    }

    .return {
      font-size: 1rem;
      margin: $spacing-xxsmall auto;

      &:hover {
        color: $coolgrey !important;
      }
    }

    img {
      width: 80%;
    }

    .product-specs {
      width: 100%;
      padding: $spacing-xsmall 0;

      h4 {
        font-size: $font-normal;
        width: 100%;
      }
    }

    .share-btns {
      width: 50%;
    }
  }

  .product-offers {
    column-gap: $spacing-xsmall;
    row-gap: $spacing-xsmall;
    padding: $spacing-normal;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .accessibility {
      grid-column: 1 / 5;

      h2 {
        font-size: $font-large;
      }

      h3 {
        font-size: $font-small;
      }
    }

    .product-offer {
      height: 120px;
      width: 120px;

      #lowestAsk,
      #highestBid {
        font-size: $font-normal;
      }

      #size {
        font-size: $font-large;
      }

      &:hover {
        background: $black;

        #size {
          color: $white;
        }
      }
    }

    .selected {
      &:hover {
        background: $matteblack !important;
      }
    }
  }
}

@media only screen and (min-width: 2000px) {
  .product-container {
    grid-template-columns: 4fr 3fr;
    height: $productContainerHeight;
  }

  .product-btns {
    width: 80%;
    column-gap: $spacing-small;
    margin-bottom: $spacing-normal;

    .buy-bid,
    .sell-ask {
      padding: $spacing-small;

      .lowestAsk,
      .highestBid {
        h3 {
          font-size: $font-normal;
        }

        h2 {
          font-size: $font-large;
        }
      }

      div {
        button {
          font-size: $font-large;
        }
      }
    }
  }

  .product-info {
    .auth {
      margin: $spacing-xxsmall auto;
      font-size: $font-normal;
      width: 35%;
    }

    .return {
      font-size: 1.2rem;
      margin: $spacing-xxsmall auto;

      &:hover {
        color: $coolgrey !important;
      }
    }

    img {
      width: 80%;
    }

    .product-specs {
      width: 100%;
      padding: $spacing-xsmall 0;

      h4 {
        font-size: $font-normal;
        width: 100%;
      }
    }

    .share-btns {
      width: 50%;
    }
  }

  .product-offers {
    column-gap: $spacing-xsmall;
    row-gap: $spacing-xsmall;
    padding: $spacing-normal;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .accessibility {
      grid-column: 1 / 5;

      h2 {
        font-size: $font-xlarge;
      }

      h3 {
        font-size: $font-normal;
      }
    }

    .product-offer {
      height: 120px;
      width: 120px;

      #lowestAsk,
      #highestBid {
        font-size: $font-normal;
      }

      #size {
        font-size: $font-large;
      }

      &:hover {
        background: $black;

        #size {
          color: $white;
        }
      }
    }

    .selected {
      &:hover {
        background: $matteblack !important;
      }
    }
  }
}
