<section class="newsletter">
    <h1>Subscribe for promotions, alerts and news.</h1>

    <div>
        <input type="email" name="email" id="email" placeholder="Email Address">

        <button (click)="subscribe()" *ngIf="!loading && !subscribed">Subscribe</button>

        <button class="loading" *ngIf="loading"><fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon></button>

        <button class="subscribed" *ngIf="subscribed"><fa-icon [icon]="['fas', 'check']"></fa-icon></button>

        <p class="error-msg">
            <span *ngIf="error"><fa-icon [icon]="['fas', 'exclamation-circle']"></fa-icon> Invalid Email</span>
            <span *ngIf="!error"></span>
        </p>
    </div>
</section>