<div class="main-container">
    <app-navbar></app-navbar>
    
    <h2>Edit Password</h2>

    <input type="text" id="old-pwd" placeholder="Old Password">
    <input type="text" id="new-pwd" placeholder="New Password">
    <input type="text" id="confirm-new-pwd" placeholder="Confirm New Password">
  
    <div class="settings-btn">
      <button class="settings-back-btn" routerLink="..">Back</button>
      <button class="settings-save-btn">Save Changes</button>
    </div>
  </div>
    
  <app-footer></app-footer>