<app-navbar></app-navbar>

<div class="main-container">
    <h2>Edit Password</h2>

    <input type="password" id="old-pwd" placeholder="Old Password">
    <input type="password" id="new-pwd" placeholder="New Password" (keyup)="pwdChanges($event)" [className]="errorPwd ? 'error-field' : ''" autocomplete="off">
    <input type="password" id="confirm-new-pwd" placeholder="Confirm New Password" (keyup)="confPwdChanges($event)" [className]="errorPwd ? 'error-field' : ''" autocomplete="off">
    <p>Password must be 6 characters at least.</p>
  
    <div class="settings-btn">
      <button class="settings-back-btn btn" routerLink="..">Back</button>
      <button *ngIf="!loading && !error && !updated" [className]="pwdEntered || newPwdEntered ? 'settings-save-btn btn' : 'settings-save-btn btn disabled'" (click)="updatePassword()">Save Changes</button>
      <button class="settings-back-btn btn" *ngIf="loading"><fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon></button>
      <button class="settings-back-btn error" *ngIf="error">Error</button>
      <button class="settings-back-btn btn" *ngIf="updated">Updated</button>
    </div>
  </div>
    
  <app-footer></app-footer>