<div class="slide-menu" id="slide-menu">
  <section class="menu-header">
    <fa-icon [icon]="['fas', 'times']" (click)="closeMenu()"></fa-icon>
    <img src="../../../assets/Negative w- letterspng.png" alt="NXTDROP, Inc. Logo Negative">
    <div class="blueLine"></div>
    <div class="greenLine"></div>
  </section>

  <section class="menu-content">
    <ul class="main-menus" *ngIf="connected; else altMenu">
      <li>
        <a routerLink="/">Browse</a>
      </li>

      <li>
        <a [routerLink]="['/search']" [queryParams]="{ q: '' }">Search</a>
      </li>

      <li>
        <a routerLink="/sell">Sell</a>
      </li>

      <li>
        <a routerLink="/profile">Profile</a>
      </li>

      <li>
        <a routerLink="/settings">Settings</a>
      </li>

      <li>
        <a routerLink="/how-it-works">How It Works</a>
      </li>

      <li>
        <a routerLink="/faq">FAQ</a>
      </li>

      <!--<li>
          <a routerLink="/dashboard">Dashboard</a>
      </li>-->

      <li>
        <a (click)="auth.signOut(true)">Log out</a>
      </li>
    </ul>

    <ng-template #altMenu>
      <ul class="main-menus">
        <li>
          <a routerLink="/">Browse</a>
        </li>

        <li>
          <a routerLink="/how-it-works">How It Works</a>
        </li>

        <li>
          <a routerLink="/faq">FAQ</a>
        </li>

        <li>
          <a routerLink="/login">Log in</a>
        </li>
      </ul>
    </ng-template>

    <ul class="bottom-menus">
      <li>
        <a routerLink="/terms">Terms</a>
      </li>

      <li>
        <a routerLink="/invite-a-friend">Invite A Friend</a>
      </li>

      <li>
        <a routerLink="/privacy">Privacy</a>
      </li>

      <li>
        <a href="https://www.trustpilot.com/review/nxtdrop.com" target="_blank">Reviews</a>
      </li>

      <li>
        <a routerLink="/news">News</a>
      </li>

      <li>
        <a routerLink="/support">Support</a>
      </li>
    </ul>
  </section>
</div>