<section class="login-body">
  <div class="login-card">
      <a routerLink="/"><img src="../../../assets/Negativepng.png" alt="NXTDROP, Inc. Logo Negative Symbol"></a>

      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <input type="text" placeholder="Email" formControlName="email">
        <input type="password" placeholder="Password" formControlName="password">
        <button class="btn login-btn" *ngIf="!loading && !error">Log in</button>
        <button class="btn loading" *ngIf="loading">
          <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
        </button>
        <button class="btn error" *ngIf="error">Error</button>
      </form>

      <button class="forgotpwd-btn" routerLink="/forgot-password">Forgot my password</button>

      <div class="divider">
        <h2>OR</h2>
      </div>

      <button class="facebook-btn" (click)="facebookSign()">
        <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
        <h3>Sign in with Facebook</h3>
      </button>
      
      <button class="google-btn" (click)="googleSign()">
          <fa-icon [icon]="['fab', 'google']"></fa-icon>
          <h3>Sign in with Google</h3>
      </button>

      <button class="signup-btn" routerLink="/signup">Don&apos;t have an account? Sign up</button>
  </div>

</section>

<app-footer></app-footer>