<section class="login-body">
  <div class="login-card">
      <a routerLink="/"><img src="../../../assets/Negativepng.png" alt="NXTDROP, Inc. Logo Negative Symbol"></a>

      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <input type="text" placeholder="Email" formControlName="email">
        <input type="password" placeholder="Password" formControlName="password">
        <button class="btn login-btn">Log in</button>
      </form>

      <button class="forgotpwd-btn" routerLink="/forgot-password">Forgot my password</button>

      <div class="divider">
        <h2>OR</h2>
      </div>

      <button class="facebook-btn" (click)="auth.facebookSignIn()">
        <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
        <h3>Sign in with Facebook</h3>
      </button>
      
      <button class="google-btn" (click)="auth.googleSignIn()">
          <fa-icon [icon]="['fab', 'google']"></fa-icon>
          <h3>Sign in with Google</h3>
      </button>

      <a routerLink="/signup"><button class="signup-btn">Don&apos;t have an account? Sign up</button></a>
  </div>

  <app-footer></app-footer>
</section>