@import '../../base_styles/base';

section {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: $black;

    .login-card {
        width: 90vw;
        margin: 60px auto;
        padding: 8px;
        border-radius: 16px;
        background: linear-gradient(-50.23deg, $darkblue 65%, $green 95%);

        img {
            display: block;
            height: 40px;
            margin: 2.5px auto;
        }

        button {
            display: block;
            padding: 5px;
            border: none;
            border-radius: 8px;
            font-size: $font-small;
            font-weight: $weight-black;
            margin: 5px auto;
            cursor: pointer;
            @include vendor(transition, all 0.25s ease-in-out);
            border-radius: $spacing-xxsmall;

            fa-icon {
                float: left;
                margin-left: 10px;
                font-size: $font-normal;
            }
        }

        input {
            display: block;
            margin: 5px auto;
            height: 25px;
            width: 90%;
            border: none;
            padding: $spacing-xsmall;
            letter-spacing: 0.8px;
            border-radius: $spacing-xxsmall;
        }

        p {
            color: $white;
            font-size: $font-xsmall;
            text-align: center;
        }

        .login-btn {
            height: 40px;
            margin: 16px auto;
            width: 60vw;
            cursor: pointer;
            border-radius: $spacing-xxsmall;

            &:hover {
                background: $white;
                color: $navyblue;
            }
        }

        .signup-btn {
            height: 40px;
            width: 80vw;
            color: $black;
            margin-top: 16px;
            border-radius: $spacing-xxsmall;
            background: $white;

            &:hover {
                background: $navyblue;
                color: $white;
            }
        }

        .forgotpwd-btn {
            @extend .signup-btn;
            width: 35vw;
            background: $white;
            height: 30px;
            font-size: $font-xsmall;
            margin-bottom: 16px;
        }
    }
}