<app-navbar></app-navbar>

<section class="main-container">
    <h1>FAQ {{ '| ' + category }}</h1>

    <section class="category-container">
        <a class="question" routerLink="{{ post.id }}" *ngFor="let post of posts">
            <h2>{{ post.Q }}</h2>
            <p>{{ post.timestamp | date }}</p>
        </a>
    </section>

    <button class="btn" *ngIf="posts.length >= 10 && !isLimit && !loading" (click)=loadMore()>Load More</button>
    <button class="btn" *ngIf="loading"><fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon></button>
</section>

<app-footer></app-footer>

<!---->