<app-navbar></app-navbar>

<div class="main-container">

    <section class="timer-countdown" *ngIf="gameUnavailable && nextTourCountdown">
        <p>Next {{ countdownName }} starts in:</p>
        <h1>{{ nextGameCountdown }}</h1>
    </section>

    <section class="game-container">

        <div class="leaderboard">
            <h2>Leaderboard</h2>

            <div class="user-rank" *ngFor="let user of leaderboard">
                <p id="rank" *ngIf="user.rank <= 3">
                    <fa-icon [icon]="['fas', 'medal']" id="first" *ngIf="user.rank == 1"></fa-icon>
                    <fa-icon [icon]="['fas', 'medal']" id="second" *ngIf="user.rank == 2"></fa-icon>
                    <fa-icon [icon]="['fas', 'medal']" id="third" *ngIf="user.rank == 3"></fa-icon>
                </p>
                <p id="rank" *ngIf="user.rank > 3">{{ user.rank }}</p>
                <p id="username">{{ user.username }}</p>
                <p id="points">{{ user.points }}pts</p>
            </div>
        </div>

        <div class="how-it-works-container" *ngIf="howItWorksPage">
            <h2>How It Works</h2>

            <div class="content-container">
                <div class="rules">
                    <p>
                        <fa-icon [icon]="['fas', 'asterisk']"></fa-icon> Rounds <strong>starts at 12:01 AM
                            PDT</strong> and <strong>ends
                            at 11:59 PM PDT</strong>
                    </p>
                    <p>
                        <fa-icon [icon]="['fas', 'asterisk']"></fa-icon> You will be given <strong>1 image and 4
                            answers</strong>
                    </p>
                    <p>
                        <fa-icon [icon]="['fas', 'asterisk']"></fa-icon> Pick the <strong>right
                            answer</strong> and <strong>earn 10 points</strong>
                    </p>
                    <p>
                        <fa-icon [icon]="['fas', 'asterisk']"></fa-icon> Pick the <strong>wrong answer</strong> and <strong>lose
                            2 points</strong>
                    </p>
                    <p>
                        <fa-icon [icon]="['fas', 'asterisk']"></fa-icon> You have <strong>10 seconds</strong> to pick
                        an answer
                    </p>
                    <p>
                        <fa-icon [icon]="['fas', 'asterisk']"></fa-icon> In order to <strong>win a prize (Store Credit)</strong>, you
                        must be in the <strong>top 3</strong> at the end of week
                    </p>
                </div>

                <button class="btn ripple" (click)="startGame()" *ngIf="!gameUnavailable">Next</button>
                <button class="btn disabled-btn" *ngIf="gameUnavailable">Next</button>
            </div>
        </div>

        <div class="countdownPage" *ngIf="countdownPage">
            <div class="large-countdown" id="countdown">
                <p>{{ countdownDisplay }}</p>
            </div>
        </div>

        <div class="quiz-container" *ngIf="questionPage">
            <h2>Name The Sneaker</h2>

            <div class="question-container">
                <img src="{{ currentQuestion.assetURL }}" alt="">

                <div class="countdown" id="countdown">
                    <p>{{ countdownDisplay }}</p>
                </div>

                <div class="answers">
                    <button class="ripple" (click)="selectAnswer($event)"
                        *ngFor="let answer of currentQuestion.answers">{{ answer }}</button>
                </div>
            </div>
        </div>

        <div class="resultPage" *ngIf="resultPage">
            <h2>Result</h2>

            <div class="result-container">
                <div>
                    <p *ngIf="resultInfo.userAnswer != resultInfo.correctAnswer" style="color: #ea4335;"><strong>Wrong Answer!</strong></p>
                    <p *ngIf="resultInfo.userAnswer === resultInfo.correctAnswer" style="color: #36f736;"><strong>Correct Answer!</strong></p>

                    <!--<p><strong>Your Answer:</strong> {{ resultInfo.userAnswer }}</p>-->

                    <!--<p><strong>Points:</strong> {{ resultInfo.points }}</p>-->
                </div>

                <button class="btn ripple" (click)="goToCountdown()">NEXT</button>
            </div>
        </div>

        <div class="totalPage" *ngIf="totalPage">
            <h2>Game Stats</h2>

            <div class="total-container">
                <div>
                    <p><strong>Points:</strong> {{ totalPoints }}pts</p>

                    <p><strong>Correct Answers:</strong> {{ numCorrectAnswer }}</p>

                    <p><strong>Wrong Answers:</strong> {{ numWrongAnswer }}</p>

                    <p><strong>Rank:</strong> #{{ rank }}</p>
                </div>

                <div class="invite-friends">
                    <p>Challenge a friend and get 10 extra points</p>
                    <input type="email" name="email" id="email" placeholder="email" (keyup)="emailChanges($event)">
                    <button class="btn" *ngIf="!invitationLoading && !invitationError && !invitationSent && validEmail"
                        (click)="sendInvite()">Send Invite</button>
                    <button class="btn disabled-btn" *ngIf="!validEmail">Send Invite</button>
                    <button class="btn" *ngIf="invitationLoading">
                        <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
                    </button>
                    <button class="btn red-btn" *ngIf="invitationError">Error</button>
                    <button class="btn green-btn" *ngIf="invitationSent">Sent</button>
                </div>

                <button class="btn ripple" routerLink="..">QUIT</button>
            </div>
        </div>

    </section>

</div>

<app-footer></app-footer>