<app-navbar></app-navbar>

<div class="main-container">

    <section class="game-container">

        <div class="leaderboard">
            <h2>Leaderboard</h2>

            <div class="user-rank" *ngFor="let user of leaderboard">
                <p id="rank" *ngIf="user.rank <= 3">
                    <fa-icon [icon]="['fas', 'medal']" id="first" *ngIf="user.rank == 1"></fa-icon>
                    <fa-icon [icon]="['fas', 'medal']" id="second" *ngIf="user.rank == 2"></fa-icon>
                    <fa-icon [icon]="['fas', 'medal']" id="third" *ngIf="user.rank == 3"></fa-icon>
                </p>
                <p id="rank" *ngIf="user.rank > 3">{{ user.rank }}</p>
                <p id="username">{{ user.username }}</p>
                <p id="points">{{ user.points }}pts</p>
            </div>
        </div>

        <div class="how-it-works-container" *ngIf="howItWorksPage">
            <h2>How It Works</h2>

            <div class="content-container">
                <div class="rules">
                    <p>
                        <fa-icon [icon]="['fas', 'asterisk']"></fa-icon> You will be given <strong>1 image and 4
                            possible
                            answers</strong>
                    </p>
                    <p>
                        <fa-icon [icon]="['fas', 'asterisk']"></fa-icon> The goal is to <strong>pick the right
                            answer</strong> and
                        collect the most points possible
                    </p>
                    <p>
                        <fa-icon [icon]="['fas', 'asterisk']"></fa-icon> You have <strong>10 seconds</strong> to pick
                        the right answer
                    </p>
                    <p>
                        <fa-icon [icon]="['fas', 'asterisk']"></fa-icon> If you pick the right answer, you <strong>earn
                            10
                            points</strong>
                    </p>
                    <p>
                        <fa-icon [icon]="['fas', 'asterisk']"></fa-icon> If you pick the wrong answer, you <strong>lose
                            2 points</strong>
                    </p>
                    <p>
                        <fa-icon [icon]="['fas', 'asterisk']"></fa-icon> In order to <strong>win a prize</strong>, you
                        must be in the top
                        3
                    </p>
                </div>

                <button class="btn ripple" (click)="startGame()">Next</button>
            </div>
        </div>

        <div class="countdownPage" *ngIf="countdownPage">
            <div class="large-countdown" id="countdown">
                <p>{{ countdownDisplay }}</p>
            </div>
        </div>

        <div class="quiz-container" *ngIf="questionPage">
            <h2>Name The Sneaker</h2>

            <div class="question-container">
                <img src="{{ currentQuestion.assetURL }}" alt="Air-Force-1-Low-Off-White-MCA-University-Blue">

                <div class="countdown" id="countdown">
                    <p>{{ countdownDisplay }}</p>
                </div>

                <div class="answers">
                    <button class="ripple" (click)="selectAnswer($event)"
                        *ngFor="let answer of currentQuestion.answers">{{ answer }}</button>
                </div>
            </div>
        </div>

        <div class="resultPage" *ngIf="resultPage">
            <h2>Result</h2>

            <div class="result-container">
                <div>
                    <p><strong>Your Answer:</strong> {{ resultInfo.userAnswer }}</p>

                    <p><strong>Correct Answer:</strong> {{ resultInfo.correctAnswer }}</p>

                    <p><strong>Points:</strong> {{ resultInfo.points }}</p>
                </div>

                <button class="btn ripple" (click)="goToCountdown()">NEXT</button>
            </div>
        </div>

        <div class="totalPage" *ngIf="totalPage">
            <h2>Today's Score</h2>

            <div class="total-container">
                <div>
                    <p><strong>Points:</strong> {{ totalPoints }}pts</p>

                    <p><strong>Correct Answers:</strong> {{ numCorrectAnswer }}</p>

                    <p><strong>Wrong Answers:</strong> {{ numWrongAnswer }}</p>

                    <p><strong>Rank:</strong> #{{ rank }}</p>
                </div>

                <div class="invite-friends">
                    <input type="email" name="email" id="email">
                    <button class="btn">Send Invite</button>
                </div>

                <button class="btn ripple" routerLink="..">QUIT</button>
            </div>
        </div>

    </section>

</div>

<app-footer></app-footer>