<app-navbar></app-navbar>

<div class="main-container">

  <section class="offer-container" id="offer-page-1" *ngIf="showHowItWorks">
    <h3>How It Works</h3>

    <div id="how-it-works-content">
      <div>
        <fa-icon [icon]="['fas', 'hand-holding-usd']"></fa-icon>
        <h6>Place a Bid</h6>
      </div>

      <div>
        <fa-icon [icon]="['fas', 'box']"></fa-icon>
        <h6>When a seller accepts your offer, checkout the item. The seller will ship the item within 2 business days
          and we'll authenticate it.</h6>
      </div>

      <div>
        <fa-icon [icon]="['fas', 'shipping-fast']"></fa-icon>
        <h6>Sit tight while we ship the verified authetic item to you</h6>
      </div>
    </div>

    <div class="offer-btns">
      <button class="btn" *ngIf="selectedPair" routerLink="/product/{{ selectedPair.productID }}">Back</button>
      <button class="btn" *ngIf="!selectedPair" routerLink="..">Back</button>
      <button class="btn" (click)="nextPage()">Next</button>
    </div>
  </section>

  <section class="offer-container" id="offer-page-2" *ngIf="showSearch">
    <h3>Select a product</h3>
    <input autofocus type="text" (keyup)="searchChanged($event)" placeholder="Search for product" class="prod-search">

    <div *ngIf="showResults">
      <div class="search-results">
        <div *ngFor="let hit of results">

          <div class="hit" (click)="selectPair(hit, true)">
            <img src="{{ hit.assetURL }}">

            <div class="hit-info">
              <h3>{{ hit.model }}</h3>
              <h6>{{ hit.colorway }}</h6>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section id="offer-page-3" *ngIf="showItem">
    <div class="product-info">
      <h1>{{ selectedPair.model }}</h1>

      <div class="product-stats">
        <h4 *ngIf="currentAsk">Lowest Ask: {{ currentAsk.price | currency: 'CAD' : 'symbol' : '1.0-0' }}</h4>
        <h4 *ngIf="!currentAsk">Lowest Ask: --</h4>
        <h4 *ngIf="currentBid">Highest Bid: {{ currentBid.price | currency: 'CAD' : 'symbol' : '1.0-0' }}</h4>
        <h4 *ngIf="!currentBid">Highest Bid: --</h4>
      </div>

      <img src="{{ selectedPair.assetURL }}" alt="{{ selectedPair.model }}">
    </div>

    <div class="sizes" *ngIf="!selectedSize">
      <div class="accessibility">
        <h2>Select Size</h2>
        <h3>U.S. Men Size | Lowest Ask</h3>
      </div>
      
      <div class="size" id="{{ offer.size }}" *ngFor="let offer of offers" (click)="selectSize(offer.size)">
        <button id="size">{{ offer.size }}</button>
        <button id="lowestAsk"
          *ngIf="offer.LowestAsk">{{ offer.LowestAsk.price | currency: 'CAD' : 'symbol' : '1.0-0' }}</button>
        <button id="lowestAsk" *ngIf="!offer.LowestAsk">--</button>
      </div>
    </div>

    <div class="bid-form" *ngIf="selectedSize">
      <div class="offer-display">
        <div class="buy-now-container">
          <div>
            <h4>Lowest Ask</h4>
            <p *ngIf="currentAsk">{{ currentAsk.price | currency: 'CAD' : 'symbol' : '1.0-0' }}</p>
            <p *ngIf="!currentAsk">--</p>
          </div>

          <button class="btn" *ngIf="currentAsk" (click)="sellNow()">Buy Now</button>
          <button class="btn disabled" *ngIf="!currentAsk">Buy Now</button>
        </div>

        <div class="place-bid-container">
          <div class="buyer-input">
            <button>CA$</button>
            <input type="text" name="input" id="input" placeholder="Enter Price" mask="0000000000"
              (keyup)="priceChanges($event)">
          </div>

          <div class="fee-calculator">
            <div class="shipping">
              <p>Estimated Shipping</p>
              <p *ngIf="total > 0">{{ shippingCost | currency: 'CAD' : 'symbol' : '1.2-2' }}</p>
              <p *ngIf="total === 0">--</p>
            </div>

            <div class="total">
              <p>Total</p>
              <p *ngIf="total > 0">{{ total | currency: 'CAD' : 'symbol' : '1.2-2' }}</p>
              <p *ngIf="total === 0">--</p>
            </div>
          </div>

          <button class="btn ripple place-bid-btn"
            *ngIf="priceAdded && (pairPrice < currentAsk.price || !currentAsk) && !loading && !listed"
            (click)="submitOffer()">Place Bid</button>
          <button class="btn place-bid-btn disabled" *ngIf="!priceAdded">Place Bid</button>
          <button class="btn ripple place-bid-btn" *ngIf="loading">
            <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
          </button>
          <button class="btn ripple place-bid-btn" *ngIf="listed">Listed</button>
          <button class="btn ripple buy-now-btn" *ngIf="priceAdded && currentAsk && pairPrice >= currentAsk.price"
            (click)="buyNow()">Buy Now</button>
        </div>
      </div>

      <div class="size-display">
        <h4>{{ selectedSize }}</h4>
        <button class="btn ripple" (click)="changeSize()">Change Size</button>
      </div>
    </div>
  </section>

</div>

<app-footer></app-footer>