@import '../../base_styles/base';

#offer-page-2 {
    display: none;
    .pairStats {
        margin-top: $spacing-normal;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
    }
}

.main-container {
    display: grid;

    .offer-container {
        align-self: center;
    }
}

.offer-container {
    padding: $spacing-small;
    justify-self: center;

    h3 {
        text-align: center;
    }

    ol {
        list-style-type: decimal;
        font-size: $font-xsmall;
        margin-left: $spacing-normal;
        margin-top: $spacing-xsmall;
    }

    .offer-radios {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: $spacing-normal auto;
        align-items: center;
        justify-items: center;

        div {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;

            label {
               font-size: $font-small; 
            }
        }
    }

    .offer-price-input {
        width: 90%;
        margin: $spacing-normal auto;
        display: grid;
        grid-template-columns: 10% 80% 10%;
        background: $white;
        border: 1px solid $lightgrey;
        border-radius: $spacing-xxsmall;

        input {
            border: none;
            height: inherit;
            padding: $spacing-small;
            letter-spacing: 2px;
            font-weight: $weight-black;
        }

        button {
            border: none;
            height: inherit;
            background: $matteblack;
            color: $white;

            &:first-child {
                border-top-left-radius: $spacing-xxsmall;
                border-bottom-left-radius: $spacing-xxsmall;
            }

            &:last-child {
                border-top-right-radius: $spacing-xxsmall;
                border-bottom-right-radius: $spacing-xxsmall;
            }
        }
    }

    #item-size {
        display: block;
        height: 35px;
        margin: $spacing-normal auto;
    }

    .offer-btns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: $spacing-normal;
        width: 90%;
        margin: $spacing-large auto;

        button {
            padding: $spacing-small;

            &:first-child {
                background: $black;

                &:hover {
                    background: $matteblack;
                }
            }

            &:last-child:hover {
                background: $matteblue;
            }
        }
    }

    .disabled {
        background: $lightgrey;
        cursor: not-allowed;

        &:hover {
            background: $lightgrey!important;
        }
    }
}

// MEDIA QUERIES

@media only screen and (min-width: 0px) and (max-width: 400px) {
    h3 {
        font-size: $font-normal;
    }

    #item-size {
        width: 80%;
    }

    .offer-container {
        padding: 0!important;
        width: 100vw;
    }

    ol li {
        font-size: $font-xxsmall;
    }

    .pairStats {
        p {
            font-size: $font-xsmall;
        }
    }

    .offer-price-input {
        input {
            font-size: $font-xsmall;
        }

        button {
            font-size: $font-xxsmall;
        }
    }
}

@media only screen and (min-width: 400px) and (max-width: 800px) {
    h3 {
        font-size: $font-normal;
    }

    #item-size {
        width: 70%;
    }

    .offer-container {
        padding: 0!important;
        width: 80vw;
    }

    ol li {
        font-size: $font-xsmall;
    }

    .pairStats {
        p {
            font-size: $font-xsmall;
        }
    }

    .offer-price-input {
        input {
            font-size: $font-xsmall;
        }

        button {
            font-size: $font-xsmall;
        }
    }
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
    h3 {
        font-size: $font-normal;
    }

    #item-size {
        width: 70%;
    }

    .offer-container {
        padding: 0!important;
        width: 60vw;
    }

    ol li {
        font-size: $font-xsmall;
    }

    .pairStats {
        p {
            font-size: $font-small;
        }
    }

    .offer-price-input {
        input {
            font-size: $font-small;
        }

        button {
            font-size: $font-xsmall;
        }
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1800px) {
    h3 {
        font-size: $font-normal;
    }

    #item-size {
        width: 70%;
    }

    .offer-container {
        padding: 0!important;
        width: 50vw;
    }

    ol li {
        font-size: $font-xsmall;
    }

    .pairStats {
        p {
            font-size: $font-small;
        }
    }

    .offer-price-input {
        input {
            font-size: $font-small;
        }

        button {
            font-size: $font-xsmall;
        }
    }
}

@media only screen and (min-width: 1800px) and (max-width: 2000px) {
    h3 {
        font-size: $font-normal;
    }

    #item-size {
        width: 70%;
    }

    .offer-container {
        padding: 0!important;
        width: 40vw;
    }

    ol li {
        font-size: $font-xsmall;
    }

    .pairStats {
        p {
            font-size: $font-small;
        }
    }

    .offer-price-input {
        input {
            font-size: $font-small;
        }

        button {
            font-size: $font-xsmall;
        }
    }
}

@media only screen and (min-width: 2000px) {
    h3 {
        font-size: $font-normal;
    }

    #item-size {
        width: 70%;
    }

    .offer-container {
        padding: 0!important;
        width: 40vw;
    }

    ol li {
        font-size: $font-xsmall;
    }

    .pairStats {
        p {
            font-size: $font-small;
        }
    }

    .offer-price-input {
        input {
            font-size: $font-small;
        }

        button {
            font-size: $font-xsmall;
        }
    }
}