<app-navbar></app-navbar>

<div class="main-container">

  <section class="offer-container" id="offer-page-1">
    <h3>Condition and size?</h3>

    <div class="offer-radios">
      <div>
        <input type="radio" name="condition" value="new" (change)="radioHandler($event)">
        <label for="condition">New</label>
      </div>

      <div>
        <input type="radio" name="condition" value="used" (change)="radioHandler($event)">
        <label for="condition">Used</label>
      </div>
    </div>

    <select *ngIf="!isWomen && !isGS" name="size" id="item-size" (change)="sizeChanges($event)">
      <option value="none" selected>Select Size</option>
      <option value="US4">US 4</option>
      <option value="US4.5">US 4.5</option>
      <option value="US5">US 5</option>
      <option value="US5.5">US 5.5</option>
      <option value="US6">US 6</option>
      <option value="US6.5">US 6.5</option>
      <option value="US7">US 7</option>
      <option value="US7.5">US 7.5</option>
      <option value="US8">US 8</option>
      <option value="US8.5">US 8.5</option>
      <option value="US9">US 9</option>
      <option value="US9.5">US 9.5</option>
      <option value="US10">US 10</option>
      <option value="US10.5">US 10.5</option>
      <option value="US11">US 11</option>
      <option value="US11.5">US 11.5</option>
      <option value="US12">US 12</option>
      <option value="US12.5">US 12.5</option>
      <option value="US13">US 13</option>
      <option value="US13.5">US 13.5</option>
      <option value="US14">US 14</option>
      <option value="US14.5">US 14.5</option>
      <option value="US15">US 15</option>
      <option value="US15.5">US 15.5</option>
      <option value="US16">US 16</option>
      <option value="US16.5">US 16.5</option>
      <option value="US17">US 17</option>
    </select>

    <select *ngIf="isWomen" name="size" id="item-size" (change)="sizeChanges($event)">
      <option value="none" selected>Select Size</option>
      <option value="US4W">US 4W</option>
      <option value="US4.5W">US 4.5W</option>
      <option value="US5W">US 5W</option>
      <option value="US5.5W">US 5.5W</option>
      <option value="US6W">US 6W</option>
      <option value="US6.5W">US 6.5W</option>
      <option value="US7W">US 7W</option>
      <option value="US7.5W">US 7.5W</option>
      <option value="US8W">US 8W</option>
      <option value="US8.5W">US 8.5W</option>
      <option value="US9W">US 9W</option>
      <option value="US9.5W">US 9.5W</option>
      <option value="US10W">US 10W</option>
      <option value="US10.5W">US 10.5W</option>
      <option value="US11W">US 11W</option>
      <option value="US11.5W">US 11.5W</option>
      <option value="US12W">US 12W</option>
      <option value="US12.5W">US 12.5W</option>
      <option value="US13W">US 13W</option>
      <option value="US13.5W">US 13.5W</option>
      <option value="US14W">US 14W</option>
      <option value="US14.5W">US 14.5W</option>
      <option value="US15W">US 15W</option>
      <option value="US15.5W">US 15.5W</option>
      <option value="US16W">US 16W</option>
      <option value="US16.5W">US 16.5W</option>
      <option value="US17W">US 17W</option>
    </select>

    <select *ngIf="isGS" name="size" id="item-size" (change)="sizeChanges($event)">
      <option value="none" selected>Select Size</option>
      <option value="US3.5Y">US 3.5Y</option>
      <option value="US4Y">US 4Y</option>
      <option value="US4.5Y">US 4.5Y</option>
      <option value="US5Y">US 5Y</option>
      <option value="US5.5Y">US 5.5Y</option>
      <option value="US6Y">US 6Y</option>
      <option value="US6.5Y">US 6.5Y</option>
      <option value="US7Y">US 7Y</option>
    </select>

    <div class="offer-btns">
      <button class="btn" routerLink="/product/{{ selectedPair.productID }}">Cancel</button>
      <button class="btn" (click)="goToPage2()" id="add-btn" *ngIf="nextToPage2">Next</button>
      <button class="btn disabled" id="add-btn" *ngIf="!nextToPage2">Next</button>
    </div>
  </section>

  <section class="offer-container" id="offer-page-2">

    <h3>Almost Done...</h3>

    <ol>
      <li>If a seller accepts your offer, he will ship the item within 2 business days.</li>
      <li>Once we authenticate the item, we will ship them to you.</li>
    </ol>

    <div class="pairStats">
      <p *ngIf="highestOffer < 0">Highest Offer: --</p>
      <p *ngIf="highestOffer > 0">Highest Offer: {{ highestOffer | currency: 'CAD' }}</p>
      <p *ngIf="lowestListing < 0">Lowest Price: --</p>
      <p *ngIf="lowestListing > 0">Lowest Price: {{ lowestListing | currency: 'CAD' }}</p>
    </div>

    <div class="offer-price-input">
      <button>CA<fa-icon [icon]="['fas', 'dollar-sign']"></fa-icon></button>
      <input type="text" placeholder="Enter Price" id="offer-price-input" (keyup)="priceChanges($event)">
      <button>.00</button>
    </div>

    <div class="offer-btns">
      <button class="btn" (click)="goToPage1()">Back</button>
      <button class="btn disabled" id="add-btn" *ngIf="!error && !listed && !loading && !priceAdded">Finish</button>
      <button class="btn" id="add-btn" (click)="submitOffer()"
        *ngIf="!error && !listed && !loading && priceAdded && showFinish">Finish</button>
      <button class="btn" id="add-btn" (click)="buyNow()"
        *ngIf="!error && !listed && !loading && priceAdded && !showFinish">Buy at
        {{ lowestListing | currency: 'CAD' }}</button>
      <button class="btn error-btn" *ngIf="error">Error</button>
      <button class="btn listed-btn" *ngIf="listed">Offer Added</button>
      <button class="btn" *ngIf="loading">
        <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
      </button>
    </div>
  </section>
</div>

<app-footer></app-footer>