<app-navbar></app-navbar>

<div class="main-container">
  <section class="review-container" *ngIf="!error">
    <h2>Transaction ID:</h2>
    <h6>{{ transaction.buyerID + '-' + transaction.sellerID + '-' + transaction.boughtAt }}</h6>

    <div class="review-items">
      <div class="review-item">
        <img src="{{ transaction.assetURL }}" alt="{{ transaction.model }}">
        <h5>{{ transaction.model + ', ' + transaction.size }}</h5>
        <h5>{{ transaction.price | currency: 'CAD' }}</h5>
      </div>
    </div>

    <div>

    </div>

    <div class="review-details">
      <div class="review-summary">
        <div class="subtotal">
          <h5>Transaction Fee (9.5%)</h5>
          <h5>{{ fee() | currency: 'CAD' }}</h5>
        </div>

        <div class="auth">
          <h5>Payment Processing (3%)</h5>
          <h5>{{ processing() | currency: 'CAD' }}</h5>
        </div>

        <div class="shipping">
          <h5>Shipping</h5>
          <h5>{{ 0 | currency: 'CAD' }}</h5>
        </div>

        <div class="total">
          <h5>Total Payout</h5>
          <h5>{{ transaction.price - fee() - processing() | currency: 'CAD' }}</h5>
        </div>
      </div>
    </div>

    <button class="btn" routerLink="..">Back</button>
  </section>

  <fa-icon style="text-align: center;" *ngIf="error" class="error-icon" [icon]="['fas', 'exclamation-circle']"></fa-icon>

  <h3 *ngIf="error" style="text-align: center;">Error</h3>

  <h6 *ngIf="error" style="text-align: center;">Try later or contact our support team.</h6>
</div>

<app-footer></app-footer>