<div class="main-container">
  <app-navbar></app-navbar>

  <div class="profile-header">
    <div class="profile-stats">
      <button class="stats-btn"><p>{{ dashInfo.sold }}</p>Sold</button>
      <button class="stats-btn"><p>{{ dashInfo.ordered }}</p>Ordered</button>
    </div>

    <div class="profile-info">
      <div class="profile-name">
        <h4>{{ dashInfo.firstName }} {{ dashInfo.lastName }}</h4>
        <h6>{{ dashInfo.username }}</h6>
      </div>

      <div class="profile-btns">
        <button class="btn" routerLink="/settings">Settings</button>
        <button class="btn" routerLink="/dashboard">Dashboard</button>
      </div>
    </div>

    <div class="profile-item-listed">
      <button class="stats-btn"><p>{{ dashInfo.listed }}</p>Listed</button>
    </div>

    <div class="profile-divider"></div>
  </div>

  <h2>Listed Items</h2>
  <div class="profile-items">
    <div class="profile-item" *ngFor="let listing of listings" routerLink="/edit-offer/{{ listing.listingID }}">
      <section class="item-specs">
        <h6>{{ listing.size }}</h6>
        <h5>{{ listing.price | currency: 'CAD' }}</h5>
      </section>
      <img src="{{ listing.assetURL }}" alt="{{ listing.productID }}">
      <h5>{{ listing.model }}</h5>
    </div>
  </div>

  <button *ngIf="dashInfo.listed > 6" class="btn show-more-btn">More</button>
</div>

<app-footer></app-footer>