<div class="main-container">
  <app-navbar></app-navbar>

  <div class="profile-header">
    <div class="profile-stats">
      <button class="stats-btn">
        <p>{{ dashInfo.sold }}</p>Sold
      </button>
      <button class="stats-btn">
        <p>{{ dashInfo.ordered }}</p>Ordered
      </button>
    </div>

    <div class="profile-info">
      <div class="profile-name">
        <h4>{{ dashInfo.firstName }} {{ dashInfo.lastName }}</h4>
        <h6>{{ dashInfo.username }}</h6>
      </div>

      <div class="profile-btns">
        <a class="btn" routerLink="/settings">Settings</a>
        <a class="btn" routerLink="/settings/profile">Edit Profile</a>
      </div>
    </div>

    <div class="profile-item-listed">
      <button class="stats-btn">
        <p>{{ dashInfo.listed }}</p>Listed
      </button>
    </div>

    <div class="profile-divider"></div>
  </div>

  <div class="profile-navigation">
    <button class="btn" id="listingsBtn" (click)="showListings()">Listings</button>
    <button class="btn" id="offersBtn" (click)="showOffers()">Offers</button>
  </div>

  <div *ngIf="listingNav else showOffer">
    <h2>Listed Items</h2>
    <div class="profile-items">
      <a class="profile-item" *ngFor="let listing of listings" [routerLink]="['/edit-listing', listing.listingID]" [queryParams]="{ source: 'profile'}">
        <section class="item-specs">
          <h6>{{ listing.size }}</h6>
          <h5>{{ listing.price | currency: 'CAD' }}</h5>
        </section>
        <img src="{{ listing.assetURL }}" alt="{{ listing.productID }}">
        <h5>{{ listing.model }}</h5>
      </a>
    </div>
  </div>

  <ng-template #showOffer>
    <h2> Your Offers</h2>
    <div class="profile-items">
      <a class="profile-item" *ngFor="let offer of offers" [routerLink]="['/edit-offer', offer.offerID]" [queryParams]="{ source: 'profile'}">
        <section class="item-specs">
          <h6>{{ offer.size }}</h6>
          <h5>{{ offer.price | currency: 'CAD' }}</h5>
        </section>
        <img src="{{ offer.assetURL }}" alt="{{ offer.productID }}">
        <h5>{{ offer.model }}</h5>
      </a>
    </div>
  </ng-template>

  <button *ngIf="dashInfo.listed > listings.length && !loading" class="btn show-more-btn"
    (click)="moreListings()">More</button>
  <button *ngIf="loading" class="btn show-more-btn">
    <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
  </button>
</div>

<app-footer></app-footer>