<div class="main-container">
  <app-navbar></app-navbar>

  <div class="profile-header">
    <div class="profile-stats">
      <button class="stats-btn"><p>0</p>Sold</button>
      <button class="stats-btn"><p>0</p>Ordered</button>
    </div>

    <div class="profile-info">
      <div class="profile-name">
        <h4>John Doe</h4>
        <h6>@johndoe</h6>
      </div>

      <div class="profile-btns">
        <button class="btn">Settings</button>
        <button class="btn">Dashboard</button>
      </div>
    </div>

    <div class="profile-item-listed">
      <button class="stats-btn"><p>4</p>Listed</button>
    </div>

    <div class="profile-divider"></div>
  </div>

  <h2>Listed Items</h2>
  <div class="profile-items">
    <div class="profile-item">
      <section class="item-specs">
        <h6>US9</h6>
        <h5>$300</h5>
      </section>
      <img src="../../../assets/Air-Force-1-Low-Off-White-Volt.jpg" alt="Air-Force-1-Low-Off-White-Volt">
      <h5>Nike x OFF--WHITE AF1 Low Volt</h5>
    </div>

    <div class="profile-item">
      <section class="item-specs">
        <h6>US11</h6>
        <h5>$300</h5>
      </section>
      <img src="../../../assets/Air-Force-1-Low-Off-White-Volt.jpg" alt="Jordan-4-Retro-Black-Laser">
      <h5>Nike x OFF--WHITE AF1 Low Volt</h5>
    </div>

    <div class="profile-item">
      <section class="item-specs">
        <h6>US9</h6>
        <h5>$300</h5>
      </section>
      <img src="../../../assets/Nike-Air-Force-1-Low-All-Over-Logo-Red.jpg" alt="Air-Force-1-Low-Off-White-Volt">
      <h5>AF1 Low All Over Logo Red</h5>
    </div>

    <div class="profile-item">
      <section class="item-specs">
        <h6>US9</h6>
        <h5>$300</h5>
      </section>
      <img src="../../../assets/Yeezy-Boost-350-V2-Zebra.jpg" alt="Jordan-4-Retro-Black-Laser">
      <h5>Yeezy Boost 350 V2 Zebra</h5>
    </div>
  </div>

  <button class="btn show-more-btn">More</button>
</div>

<app-footer></app-footer>