@import '../../base_styles/base';

h2 {
    text-align: center;
}

.stats-btn {
    width: 80px;
    height: 80px;
    font-size: $font-xsmall;
    text-align: center;
    border-radius: $spacing-xlarge;
    border: none;
    margin-left: $spacing-xsmall;
    color: $white;
    background: $black;
    letter-spacing: 1px;
    font-weight: $weight-black;

    p {
        color: $white;
        font-weight: $weight-black;
        font-size: $font-large;
    }
}

.profile-header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    text-align: center;

    .profile-stats {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 5px;
        padding-top: $spacing-xsmall;

        button:last-child {
            background: $green;
        }
    }

    .profile-info {
        display: grid;
        grid-template-rows: 1fr 1fr;

        .profile-name {
            margin-top: $spacing-xsmall;
        }

        .profile-btns {
            align-self: flex-end;
            justify-self: center;
            margin-bottom: $spacing-xsmall;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 2.5px;

            .btn {
                background: $black;
                font-size: $font-xxsmall;
                padding: $spacing-xsmall;
                height: $spacing-large;
                @include vendor(transition, 0.25s ease-in-out);

                &:hover {
                    background: $matteblack;
                }
            }
        }
    }

    .profile-item-listed {
        justify-self: end;

        button {
            background: $navyblue;
            margin-right: $spacing-xsmall;
            margin-top: $spacing-xsmall;
        }
    }

    .profile-divider {
        width: 100%;
        grid-column: 2/3;
        height: 1px;
        margin: 0 auto;
        background: $lightgrey;
    }
}

.profile-navigation {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    margin-bottom: $spacing-xsmall;

    button {
        background: none;
        padding: $spacing-small;
        border-bottom: 2px solid $black;
        color: $black;
    }
}

.profile-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5px;
    padding: $spacing-normal;

    .profile-item {
        text-align: center;
        padding: $spacing-xxsmall;
        margin-bottom: $spacing-normal;
        @include vendor(transition, 0.25s ease-in-out);

        &:hover {
            cursor: pointer;

            h5, h6 {
                color: $coolgrey;
            }
        }

        &:nth-child(odd) {
            border-right: 1px solid $lightgrey;
        }

        .item-specs {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;

            h6 {
                justify-self: left;
                font-weight: $weight-bold;
            }

            h5 {
                justify-self: right;
                font-weight: $weight-black;
                font-size: $font-small;
            }
        }

        img {
            height: 75px;
            width: 75px;
            vertical-align: middle;
            object-fit: contain;
        }

        h5 {
            font-weight: $weight-bold;
            font-size: $font-xsmall;
        }
    }
}

.show-more-btn {
    width: 50%;
    margin: $spacing-normal 25%;
    padding: $spacing-xsmall;
    @include vendor(transition, 0.25s ease-in-out);
    background: $black;

    &:hover {
        background: $matteblack;
    }
}