<div class="showcase-container">
  <h2>Discovery</h2>

  <div class="showcase-discovery">
    <div *ngFor="let discovery of discoveries" class="discovery-card" routerLink="/product/{{ discovery.productID }}">
      <h6>{{ discovery.lowestPrice | currency: 'CAD' }}</h6>

      <img src="{{ discovery.assetURL }}" alt="{{ discovery.model }}">

      <h3>{{ discovery.model }}</h3>
    </div>
  </div>

  <button class="discovery-btn btn" *ngIf="!loading && !end" (click)="more()">Show More</button>
  <button class="discovery-btn btn" *ngIf="loading" (click)="more()"><fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon></button>
</div>