<div class="showcase-container">
  <h2>Discovery</h2>

  <div class="showcase-discovery">
    <div class="discovery-card">
      <h6>$300</h6>

      <img src="../../../assets/Air-Force-1-Low-Off-White-Volt.jpg" alt="Air-Force-1-Low-Off-White-Volt">

      <h3>Nike x OFF--WHITE Volt</h3>
    </div>

    <div class="discovery-card">
      <h6>$300</h6>

      <img src="../../../assets/Air-Force-1-Low-Off-White-Volt.jpg" alt="Air-Force-1-Low-Off-White-Volt">

      <h3>Nike x OFF--WHITE Volt</h3>
    </div>

    <div class="discovery-card">
      <h6>$300</h6>

      <img src="../../../assets/Air-Force-1-Low-Off-White-Volt.jpg" alt="Air-Force-1-Low-Off-White-Volt">

      <h3>Nike x OFF--WHITE Volt</h3>
    </div>

    <div class="discovery-card">
      <h6>$300</h6>

      <img src="../../../assets/Air-Force-1-Low-Off-White-Volt.jpg" alt="Air-Force-1-Low-Off-White-Volt">

      <h3>Nike x OFF--WHITE Volt</h3>
    </div>
  </div>

  <button class="discovery-btn btn">Show More</button>
</div>