@import '../../base_styles/base';

.showcase-discovery {
    min-height: 250px;
    width: 100vw;
    max-width: 100%;
    display: grid;
    justify-items: center;

    & .discovery-card:nth-child(even) {
        margin-top: $spacing-large;
    }

    .discovery-card {
        width: 148px;
        height: 250px;
        text-align: center;
        border: 1px solid $lightgrey;
        border-radius: $spacing-xsmall;
        padding: $spacing-xsmall;
        margin: $spacing-xsmall;
        cursor: pointer;
        display: grid;
        align-content: center;
        grid-auto-rows: 1fr 7fr 2fr;

        &:hover {
            border-color: $matteblue;
            h6, h3 {
                color: $matteblue;
            }
        }

        img {
            height: 100px;
            width: 100px;
            object-fit: contain;
            margin-bottom: $spacing-xlarge;
            justify-self: center;
            align-self: center;
        }

        h6 {
            text-align: left;
            margin-bottom: $spacing-large;
        }

        h3 {
            font-size: $font-small;
            font-weight: $weight-bold;
        }
    }
}

.discovery-btn {
    padding: $spacing-small;
    margin: $spacing-small auto;
    display: block;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: $weight-black;
    background: $black;
    
    &:hover {
        background: $matteblack;
    }
}

// MEDIA QUERIES

@media only screen and (min-width: 0px) and (max-width: 400px) {
    .showcase-discovery {
        grid-template-columns: 1fr 1fr;
    }

    .discovery-btn {
        width: 50%;
    }
}

@media only screen and (min-width: 400px) and (max-width: 800px) {
    .showcase-discovery {
        grid-template-columns: 1fr 1fr;

        .discovery-card {
            width: 170px;
            height: 300px;

            img {
                width: 125px;
                height: 125px;
            }
        }
    }

    .discovery-btn {
        width: 50%;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
    .showcase-discovery {
        grid-template-columns: 1fr 1fr 1fr;

        .discovery-card {
            width: 200px;
            height: 300px;

            img {
                width: 150px;
                height: 150px;
            }
        }
    }

    .discovery-btn {
        width: 40%;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1800px) {
    .showcase-discovery {
        grid-template-columns: 1fr 1fr 1fr 1fr;

        .discovery-card {
            width: 250px;
            height: 350px;

            img {
                width: 150px;
                height: 150px;
            }
        }
    }

    .discovery-btn {
        width: 30%;
    }
}

@media only screen and (min-width: 1800px) and (max-width: 2000px) {
    .showcase-discovery {
        grid-template-columns: 1fr 1fr 1fr 1fr;

        .discovery-card {
            width: 300px;
            height: 400px;

            img {
                width: 200px;
                height: 200px;
            }
        }
    }

    .discovery-btn {
        width: 30%;
    }
}

@media only screen and (min-width: 2000px) {
    .showcase-discovery {
        grid-template-columns: 1fr 1fr 1fr 1fr;

        .discovery-card {
            width: 350px;
            height: 450px;

            img {
                width: 225px;
                height: 225px;
            }
        }
    }

    .discovery-btn {
        width: 20%;
    }
}