@import "../../base_styles/base";

.main-container {
  display: grid;
  align-content: center;
  justify-content: center;
  width: 100vw;
  max-width: 100%;

  .request-container {
    display: grid;
    justify-items: center;
    justify-self: center;

    h3 {
      text-align: center;
    }

    #input-request {
      margin: $spacing-normal 0;
      resize: none;
      border: 1px solid $lightgrey;
      border-radius: $spacing-xxsmall;
      height: 20vh;
      padding: $spacing-xsmall;
      letter-spacing: 0.8px;
    }

    .request-btn {
      display: block;
      margin: $spacing-small auto;
      padding: $spacing-small;
      background: $black;

      &:hover {
        background: $matteblack;
      }
    }

    .sent-btn {
      @extend .request-btn;
      background: $white;

      fa-icon {
        color: $green;
        font-size: 1rem;
      }

      &:hover {
        background: $white;
      }
    }

    .error-btn {
      @extend .request-btn;
      background: $inputError;

      &:hover {
        background: $inputError;
      }
    }

    #email-input {
      padding: $spacing-xsmall;
      border-radius: $spacing-xxsmall;
      border: 1px solid $lightgrey;
      margin: $spacing-small auto;
    }

    p {
      font-size: $font-xsmall;
      color: $matteblack;
    }
  }
}

// MEDIA QUERIES

@media only screen and (min-width: 0px) and (max-width: 400px) {
  .main-container {
    .request-container {
      width: 90vw;

      #input-request {
        width: 100%;
        font-size: $font-xsmall;
      }

      button {
        width: 80%;
      }
    }
  }
}

@media only screen and (min-width: 400px) and (max-width: 800px) {
  .main-container {
    .request-container {
      width: 90vw;

      #input-request {
        width: 100%;
        font-size: $font-xsmall;
      }

      button {
        width: 80%;
      }
    }
  }
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
  .main-container {
    .request-container {
      width: 75vw;

      #input-request {
        width: 100%;
        font-size: $font-small;
      }

      button {
        width: 70%;
      }
    }
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1800px) {
  .main-container {
    .request-container {
      width: 70vw;

      #input-request {
        width: 100%;
        font-size: $font-normal;
      }

      button {
        width: 40%;
        font-size: $font-small;
      }
    }
  }
}

@media only screen and (min-width: 1800px) and (max-width: 2000px) {
  .main-container {
    .request-container {
      width: 60vw;

      #input-request {
        width: 100%;
        font-size: $font-normal;
      }

      button {
        width: 40%;
        font-size: $font-small;
      }
    }
  }
}

@media only screen and (min-width: 2000px) {
  .main-container {
    .request-container {
      width: 55vw;

      #input-request {
        width: 100%;
        font-size: $font-normal;
      }

      button {
        width: 40%;
        font-size: $font-small;
      }
    }
  }
}
