<div class="main-container">
  <app-navbar></app-navbar>

  <div class="search-bar-container">
    <button><fa-icon [icon]="['fas', 'times']" routerLink=".."></fa-icon></button>
    <input type="text" id="search-input" placeholder="Search">
  </div>

  <div class="search-items">
    <div class="search-item">
      <section class="item-specs">
        <h6>US9</h6>
        <h5>$300</h5>
      </section>
      <img src="../../../assets/Air-Force-1-Low-Off-White-Volt.jpg" alt="Air-Force-1-Low-Off-White-Volt">
      <h5>Nike x OFF--WHITE AF1 Low Volt</h5>
    </div>

    <div class="search-item">
      <section class="item-specs">
        <h6>US11</h6>
        <h5>$300</h5>
      </section>
      <img src="../../../assets/Air-Force-1-Low-Off-White-Volt.jpg" alt="Jordan-4-Retro-Black-Laser">
      <h5>Nike x OFF--WHITE AF1 Low Volt</h5>
    </div>

    <div class="search-item">
      <section class="item-specs">
        <h6>US9</h6>
        <h5>$300</h5>
      </section>
      <img src="../../../assets/Nike-Air-Force-1-Low-All-Over-Logo-Red.jpg" alt="Air-Force-1-Low-Off-White-Volt">
      <h5>AF1 Low All Over Logo Red</h5>
    </div>

    <div class="search-item">
      <section class="item-specs">
        <h6>US9</h6>
        <h5>$300</h5>
      </section>
      <img src="../../../assets/Yeezy-Boost-350-V2-Zebra.jpg" alt="Jordan-4-Retro-Black-Laser">
      <h5>Yeezy Boost 350 V2 Zebra</h5>
    </div>
  </div>
</div>

<app-footer></app-footer>