<app-navbar></app-navbar>

<div class="main-container">
  <div class="search-bar-container">
    <button routerLink=".."><fa-icon [icon]="['fas', 'times']"></fa-icon></button>
    <input type="text" id="search-input" placeholder="Search" autofocus (keyup)="search($event)">
  </div>

  <div class="search-items">
    <div class="search-item" *ngFor="let result of results" routerLink="/product/{{ result.productID }}">
      <section class="item-specs">
        <h6>{{ result.size }}</h6>
        <h5>{{ result.price | currency: 'CAD' }}</h5>
      </section>
      <img src="{{ result.assetURL }}" alt="{{ result.model }}">
      <h5>{{ result.model }}</h5>
    </div>
  </div>
</div>

<app-footer></app-footer>