<app-navbar></app-navbar>

<div class="main-container">
    <div class="mission-statement">
        <div class="description">
            <h1>The Price is Yours</h1>

            <p>NXTDROP is an online community connecting sneakerheads and resellers. Buyers can purchase a seller’s item
                or place an offer; sellers can accept an offer or list their item for sale. Thousands of pairs available
                now, verified authentic. <strong>Never pay more than you wish and never settle for less. Only your price
                    matters.</strong></p>
        </div>

        <div class="video">
            <iframe src="https://www.youtube.com/embed/7NIqHpTKNCU" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>

    <div class="mission">
        <h1>Our Mission</h1>

        <section>
            <div>
                <button>
                    <fa-icon [icon]="['fab', 'canadian-maple-leaf']"></fa-icon>
                </button>
                <p>Enhance the Canadian sneaker shopping and reselling experience</p>
            </div>

            <div>
                <button>
                    <fa-icon [icon]="['fas', 'store-alt']"></fa-icon>
                </button>
                <p>Become the #1 online store to buy and sell sneakers and fashion items</p>
            </div>

            <div>
                <button>
                    <fa-icon [icon]="['fas', 'shield-alt']"></fa-icon>
                </button>
                <p>Protect you and your money from fraudulent buyers and sellers</p>
            </div>
        </section>
    </div>

    <div class="buying">
        <h1>Buying</h1>

        <section>
            <div>
                <button>
                    <fa-icon [icon]="['fas', 'hand-holding-usd']"></fa-icon>
                </button>
                <p>Place an offer OR Purchase immediately from our sellers listings.</p>
            </div>

            <div>
                <button>
                    <fa-icon [icon]="['fas', 'search']"></fa-icon>
                </button>
                <p>Seller ships item to our verification center and we'll legit check it.</p>
            </div>

            <div>
                <button>
                    <fa-icon [icon]="['fas', 'shipping-fast']"></fa-icon>
                </button>
                <p>Sit comfortably at home while we deliver your verified authentic item.</p>
            </div>
        </section>
    </div>

    <div class="selling">
        <h1>Selling</h1>

        <section>
            <div>
                <button>
                    <fa-icon [icon]="['fas', 'tag']"></fa-icon>
                </button>
                <p>Accept an offer from a buyer OR list your item for sale.</p>
            </div>

            <div>
                <button>
                    <fa-icon [icon]="['fas', 'search']"></fa-icon>
                </button>
                <p>Ship item to our verification center and we'll legit check it.</p>
            </div>

            <div>
                <button>
                    <fa-icon [icon]="['fas', 'money-bill-wave']"></fa-icon>
                </button>
                <p>Think about the next item to flip while you're getting paid.</p>
            </div>
        </section>
    </div>

    <div class="cta">
        <p>Sign up now and join thousands of sneakerheads</p>
        <a class="btn" routerLink="/signup">
            Sign Up
        </a>
    </div>
</div>

<app-newsletter></app-newsletter>

<app-footer></app-footer>