<app-navbar></app-navbar>

<div class="main-container">
    <!--<div class="mission-statement">
        <div>
            <h1>Brand Slogan</h1>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut mattis eros. Nam aliquam ante at arcu
                laoreet, eu congue lorem viverra. Morbi nec condimentum enim. Donec quis aliquam ex. Etiam sagittis orci
                ac fringilla iaculis. In nec arcu et est porta facilisis vel at quam. Integer fringilla cursus nulla id
                scelerisque. Maecenas quis velit a nulla tempus facilisis. Cras.</p>
        </div>

        <div>
            <img src="../../../assets/CarouselDuplicata3.png" alt="">
        </div>
    </div>-->

    <div class="buying">
        <h1>Buying</h1>

        <section>
            <div>
                <button>
                    <fa-icon [icon]="['fas', 'hand-holding-usd']"></fa-icon>
                </button>
                <p>Place an offer OR Purchase immediately from our sellers listings.</p>
            </div>

            <div>
                <button>
                    <fa-icon [icon]="['fas', 'search']"></fa-icon>
                </button>
                <p>Seller ships item to our verification center and we'll legit check it.</p>
            </div>

            <div>
                <button>
                    <fa-icon [icon]="['fas', 'shipping-fast']"></fa-icon>
                </button>
                <p>Sit comfortably at home while we deliver your verified authentic item.</p>
            </div>
        </section>
    </div>

    <div class="selling">
        <h1>Selling</h1>

        <section>
            <div>
                <button>
                    <fa-icon [icon]="['fas', 'tag']"></fa-icon>
                </button>
                <p>Accept an offer from a buyer OR list your item for sale.</p>
            </div>

            <div>
                <button>
                    <fa-icon [icon]="['fas', 'search']"></fa-icon>
                </button>
                <p>Ship item to our verification center and we'll legit check it.</p>
            </div>

            <div>
                <button>
                    <fa-icon [icon]="['fas', 'money-bill-wave']"></fa-icon>
                </button>
                <p>Think about the next item to flip while you're getting paid.</p>
            </div>
        </section>
    </div>

    <div class="cta">
        <p>Sign up now and get free shipping on your first order</p>
        <a class="btn" routerLink="/signup">
            Sign Up
        </a>
    </div>
</div>

<app-footer></app-footer>