@import "../../base_styles//base";

.mission-statement {
  background: $darkblue;
  display: grid;
  align-items: center;
  justify-items: center;

  h1,
  p {
    color: $white;
  }

  img {
    width: 100%;
  }
}

.buying,
.selling,
.mission {
  background: $navyblue;

  h1,
  p {
    color: $white;
  }

  section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    div {
      display: grid;
      grid-template-rows: 1fr 1fr;

      button {
        justify-self: center;
        height: 80px;
        width: 80px;
        border-radius: 60px;
        background: $white;
        color: $black;
        border: none;
      }

      p {
        align-self: center;
        justify-self: center;
        text-align: center;
      }
    }
  }
}

.selling {
  background: $matteblack;
  padding: $spacing-xlarge $spacing-large;
}

.mission {
  background: $white;
  padding: $spacing-xlarge $spacing-large;

  h1 {
    color: $black;
  }

  section {

    div {
      button {
        background: $black;

        fa-icon {
          color: $white;
        }
      }

      p {
        color: $black;
      }
    }
  }
}

.cta {
  background: $black;

  p {
    color: $white;
    text-align: center;
    margin: $spacing-xsmall auto;
  }

  .btn {
    background: $white;
    display: block;
    margin: auto;
    text-align: center;
    padding: $spacing-normal;
    color: $black;

    &:hover {
      color: $white;
      background: $matteblack;
    }
  }
}

// MEDIA QUERIES

@media only screen and (min-width: 0px) and (max-width: 400px) {
  .mission-statement {
    grid-template-rows: 1fr 1fr;
    row-gap: $spacing-xlarge;
    padding: $spacing-xlarge $spacing-xsmall;

    .description {
      grid-row: 2/3;

      h1 {
        text-align: center;
        font-size: $font-xxlarge;
      }

      p {
        text-align: center;
        width: 75%;
        margin: auto;
        font-size: $font-small;
      }
    }

    iframe {
      height: 180px;
      width: 320px;
      margin: auto;
      display: block;
    }
  }

  .buying,
  .selling,
  .mission {
    padding: $spacing-xlarge 0;

    h1 {
      text-align: center;
    }

    section {
      column-gap: $spacing-xsmall;
      padding: $spacing-large 2.5%;
      height: 250px;
      width: 95%;
      justify-content: center;
      align-content: center;

      div {
        row-gap: $spacing-large;

        button {
          height: 50px;
          width: 50px;
          align-self: center;
          justify-self: center;

          fa-icon {
            font-size: $font-xsmall;
          }
        }

        p {
          font-size: $font-xsmall;
          align-self: flex-start;
          justify-self: center;
        }
      }
    }
  }

  .cta {
    padding: $spacing-large 0;

    p {
      font-size: $font-xsmall;
    }

    .btn {
      width: 80%;
      font-size: $font-normal;
    }
  }
}

@media only screen and (min-width: 400px) and (max-width: 800px) {
  .mission-statement {
    grid-template-rows: 1fr 1fr;
    row-gap: $spacing-normal;
    padding: $spacing-xlarge $spacing-small;

    .description {
      grid-row: 2/3;
      padding-left: $spacing-normal;

      h1 {
        font-size: $font-xxlarge;
      }

      p {
        width: 90%;
        font-size: $font-small;
      }
    }

    iframe {
      height: 210px;
      width: 380px;
      margin: auto;
      display: block;
    }
  }

  .buying,
  .selling,
  .mission {
    padding: $spacing-xlarge 0;

    h1 {
      margin-left: 2.5%;
    }

    section {
      column-gap: $spacing-xsmall;
      padding: $spacing-large 5%;
      height: 250px;
      width: 90%;
      justify-content: center;
      align-content: center;

      div {
        row-gap: $spacing-large;

        button {
          height: 60px;
          width: 60px;
          align-self: center;
          justify-self: center;

          fa-icon {
            font-size: $font-small;
          }
        }

        p {
          font-size: $font-xsmall;
          align-self: flex-start;
          justify-self: center;
        }
      }
    }
  }

  .cta {
    padding: $spacing-large 0;

    p {
      font-size: $font-xsmall;
    }

    .btn {
      width: 70%;
      font-size: $font-normal;
    }
  }
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
  .mission-statement {
    grid-template-rows: 1fr 1fr;
    row-gap: 0;
    padding: $spacing-xlarge $spacing-small;

    .description {
      grid-row: 2/3;
      padding-left: $spacing-normal;

      h1 {
        font-size: $font-xxlarge;
      }

      p {
        width: 90%;
        font-size: $font-normal;
      }
    }

    iframe {
      height: 340px;
      width: 560px;
      margin: auto;
      display: block;
    }
  }

  .buying,
  .selling,
  .mission {
    padding: $spacing-xlarge 0;

    h1 {
      margin-left: 2.5%;
    }

    section {
      column-gap: $spacing-xsmall;
      padding: $spacing-large 5%;
      height: 250px;
      width: 90%;
      justify-content: center;
      align-content: center;

      div {
        row-gap: $spacing-large;

        button {
          height: 70px;
          width: 70px;
          align-self: center;
          justify-self: center;

          fa-icon {
            font-size: $font-normal;
          }
        }

        p {
          font-size: $font-small;
          align-self: center;
          justify-self: center;
        }
      }
    }
  }

  .cta {
    padding: $spacing-large 0;

    p {
      font-size: $font-xsmall;
    }

    .btn {
      width: 50%;
      font-size: $font-normal;
    }
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1800px) {
  .mission-statement {
    grid-template-columns: 1fr 1fr;
    row-gap: 0;
    padding: $spacing-xlarge $spacing-small;

    .description {
      padding-left: $spacing-normal;

      h1 {
        font-size: $font-xxlarge;
        margin-bottom: $spacing-small;
      }

      p {
        width: 80%;
        font-size: $font-normal;
      }
    }

    iframe {
      height: 360px;
      width: 560px;
      margin: auto;
      display: block;
    }
  }

  .buying,
  .selling,
  .mission {
    padding: $spacing-xlarge 0;

    h1 {
      margin-left: 5%;
    }

    section {
      column-gap: $spacing-normal;
      padding: $spacing-large 10%;
      height: 250px;
      width: 80%;
      justify-content: center;
      align-content: center;

      div {
        row-gap: $spacing-large;

        button {
          height: 80px;
          width: 80px;
          align-self: center;
          justify-self: center;

          fa-icon {
            font-size: $font-large;
          }
        }

        p {
          font-size: $font-normal;
          align-self: center;
          justify-self: center;
        }
      }
    }
  }

  .cta {
    padding: $spacing-large 0;

    p {
      font-size: $font-normal;
    }

    .btn {
      width: 40%;
      font-size: $font-large;
    }
  }
}

@media only screen and (min-width: 1800px) and (max-width: 2000px) {
  .mission-statement {
    grid-template-columns: 1fr 1fr;
    row-gap: 0;
    padding: $spacing-xlarge $spacing-small;

    .description {
      padding-left: $spacing-normal;

      h1 {
        font-size: $font-xxxlarge;
        margin-bottom: $spacing-small;
      }

      p {
        width: 80%;
        font-size: $font-large;
      }
    }

    iframe {
      height: 420px;
      width: 720px;
      margin: auto;
      display: block;
    }
  }

  .buying,
  .selling,
  .mission {
    padding: $spacing-xlarge 0;

    h1 {
      margin-left: 5%;
      font-size: 54px;
    }

    section {
      column-gap: $spacing-xsmall;
      padding: $spacing-large 10%;
      height: 30vh;
      width: 80%;
      justify-content: center;
      align-content: center;

      div {
        row-gap: $spacing-xxlarge;

        button {
          height: 120px;
          width: 120px;
          align-self: center;
          justify-self: center;

          fa-icon {
            font-size: $font-xxlarge;
          }
        }

        p {
          font-size: $font-xxlarge;
          align-self: center;
          justify-self: center;
        }
      }
    }
  }

  .cta {
    padding: $spacing-large 0;

    p {
      font-size: $font-normal;
    }

    .btn {
      width: 30%;
      font-size: $font-large;
    }
  }
}

@media only screen and (min-width: 2000px) {
  .mission-statement {
    grid-template-columns: 1fr 1fr;
    row-gap: 0;
    padding: $spacing-xlarge $spacing-small;

    .description {
      padding-left: $spacing-normal;

      h1 {
        font-size: $font-xxxlarge;
        margin-bottom: $spacing-small;
      }

      p {
        width: 80%;
        font-size: $font-large;
      }
    }

    iframe {
      height: 420px;
      width: 720px;
      margin: auto;
      display: block;
    }
  }

  .buying,
  .selling,
  .mission {
    padding: $spacing-xlarge 0;

    h1 {
      margin-left: 5%;
      font-size: 54px;
    }

    section {
      column-gap: $spacing-xsmall;
      padding: $spacing-large 10%;
      height: 30vh;
      width: 80%;
      justify-content: center;
      align-content: center;

      div {
        row-gap: $spacing-xxlarge;

        button {
          height: 120px;
          width: 120px;
          align-self: center;
          justify-self: center;

          fa-icon {
            font-size: $font-xxlarge;
          }
        }

        p {
          font-size: $font-xxlarge;
          align-self: center;
          justify-self: center;
        }
      }
    }
  }

  .cta {
    padding: $spacing-large 0;

    p {
      font-size: $font-normal;
    }

    .btn {
      width: 25%;
      font-size: $font-large;
    }
  }
}
