@import "../../../base_styles/base";

@import url("https://fonts.googleapis.com/css?family=PT+Serif:400,700&display=swap");

.main-container {
  .back-btn {
    width: 40%;
    margin: $spacing-normal auto;
    padding: $spacing-xsmall;
    display: block;
    background: $black;

    &:hover {
      background: $matteblack;
    }
  }

  .post-container {
    width: 75%;
    margin: $spacing-xlarge auto;
    p,
    a,
    figcaption, li {
      font-family: "PT Serif", serif;
    }

    em {
      font-family: "PT Serif", serif;
      font-style: italic;
    }

    .featured-img {
      width: 100%;
    }

    h1 {
      text-align: center;
      width: 80%;
      margin: $spacing-normal auto;
    }

    .category {
      background: $green;
      color: $matteblack;
      text-align: center;
      font-size: $font-xsmall;
      width: 20%;
      margin: $spacing-xsmall auto;
      padding: $spacing-xsmall;
      font-weight: $weight-black;
      letter-spacing: 0.25px;
    }

    .content {
      width: 100%;
      margin: $spacing-xsmall auto;

      p {
        font-size: $font-normal;
        margin: $spacing-normal auto;
        line-height: $spacing-large;
        font-weight: 400;
        color: $matteblack;
      }

      a {
        @include vendor(transition, all 0.5s);
        border-bottom: 1.5px solid $green;

        &:hover {
          border-bottom: 3px solid $green;
          color: $matteblack;
        }
      }

      ol li {
        margin-left: $spacing-large;
        margin-bottom: $spacing-small;
      }

      ul li {
        list-style: none;

        figure {
          width: 100%;

          img {
            width: 100%;
          }

          figcaption {
            font-size: $spacing-xsmall;
            text-align: center;
            margin: $spacing-small;
          }
        }
      }

      figure {
        width: 100%;

        img {
          width: 50%;
          margin: 0 auto;
          display: block;
        }

        figcaption {
          font-size: $spacing-xsmall;
          text-align: center;
          margin: $spacing-small;
        }
      }
    }
  }
}

// MEDIA QUERIES

@media only screen and (min-width: 0px) and (max-width: 400px) {
}

@media only screen and (min-width: 400px) and (max-width: 800px) {
  h1 {
    font-size: 20px;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
  h1 {
    font-size: 28px;
  }

  .content {
    ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: $spacing-normal;
    }
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1800px) {
  h1 {
    font-size: 36px;
  }

  .back-btn {
    width: 15% !important;
  }

  .category {
    margin: $spacing-large auto !important;
    font-size: $font-small !important;
  }
  
  .content {
    p {
      font-size: 18px !important;
    }

    ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: $spacing-normal;
    }
  }
}

@media only screen and (min-width: 1800px) and (max-width: 2000px) {
  .back-btn {
    width: 15% !important;
  }

  .category {
    margin: $spacing-large auto !important;
    font-size: $font-small !important;
    width: 10% !important;
  }

  h1 {
    font-size: $font-xlarge;
  }
  
  .content {
    p {
      font-size: $font-large !important;
    }

    ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: $spacing-normal;
    }
  }
}

@media only screen and (min-width: 2000px) {
  .back-btn {
    width: 15% !important;
  }

  .category {
    margin: $spacing-large auto !important;
    font-size: $font-small !important;
    width: 10% !important;
  }

  h1 {
    font-size: $font-xlarge;
  }
  
  .content {
    p {
      font-size: $font-large !important;
    }

    ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: $spacing-normal;
    }
  }
}
