@import "../../../base_styles/base";

@import url("https://fonts.googleapis.com/css?family=PT+Serif:400,700&display=swap");

.main-container {
  h1 {
    text-align: center;
  }

  h2 {
    margin: $spacing-small auto;
  }

  .back-btn {
    width: 40%;
    margin: $spacing-normal auto;
    padding: $spacing-xsmall;
    display: block;
    background: $black;

    &:hover {
      background: $matteblack;
    }
  }

  .post-container {
    max-width: 100%;
    p,
    a,
    figcaption,
    li {
      font-family: "PT Serif", serif;
    }

    em {
      font-family: "PT Serif", serif;
      font-style: italic;
    }

    .featured-img {
      width: 100%;
    }

    h1 {
      text-align: center;
      width: 80%;
    }

    h2 {
      margin: $spacing-large auto;
      font-size: 36px;
    }

    h4 {
      margin: $spacing-large auto;
      font-size: 28px;
    }

    .category {
      background: $green;
      color: $matteblack;
      text-align: center;
      font-size: $font-xsmall;
      width: 20%;
      margin: $spacing-xsmall auto;
      padding: $spacing-xsmall;
      font-weight: $weight-black;
      letter-spacing: 0.25px;
    }

    .content {
      margin: $spacing-xsmall auto;

      p {
        font-size: $font-normal;
        margin: $spacing-normal auto;
        line-height: $spacing-large;
        font-weight: 400;
        color: $matteblack;
      }

      a {
        @include vendor(transition, all 0.5s);
        border-bottom: 1.5px solid $green;

        &:hover {
          border-bottom: 3px solid $green;
          color: $matteblack;
        }
      }

      ol li {
        margin-left: $spacing-large;
        margin-bottom: $spacing-small;
      }

      ul li {
        list-style: none;
        margin: $spacing-small 0;

        a {
          width: inherit;
          word-wrap: break-word;
        }

        figure {
          width: 50%;

          img {
            width: 100%;
          }

          figcaption {
            font-size: $spacing-xsmall;
            text-align: center;
            margin: $spacing-small;
          }
        }
      }

      figure {
        width: 80%;
        margin: auto;

        img {
          width: 100%;
          margin: 0 auto;
          display: block;
        }

        figcaption {
          font-size: $spacing-small;
          text-align: center;
          margin: $spacing-small;
        }
      }
    }

    .browse {
      display: block;
      background: $black;
      color: $white;
      border: none;
      font-weight: $weight-black;
      letter-spacing: 1.1px;
      text-align: center;
      font-family: "Poppins", sans-serif;

      &:hover {
        background: $matteblack;
      }
    }
  }

  .related-articles {
    margin: 0 auto;
    display: grid;
    justify-content: center;
    padding: $spacing-small 0;

    .article-card {
      @include vendor(transition, all 0.5s ease-in-out);
      width: 100%;
      display: grid;
      justify-self: center;
      border: 1px solid $lightergrey;
      cursor: pointer;

      &:hover {
        background: $lightergrey;

        .article-img {
          img {
            opacity: 0.7;
          }
        }
      }

      .article-img {
        width: 100%;
        background: $black;

        img {
          @include vendor(transition, all 0.5s ease-in-out);
          object-fit: cover;
          width: inherit;
          height: inherit;
        }
      }

      .article-info {
        padding: $spacing-normal;
        display: grid;
        grid-template-rows: 1fr 2fr 1fr;

        .article-category {
          color: $green;
        }

        .article-title {
          font-weight: $weight-black;
        }

        .article-date {
          color: $coolgrey;
        }
      }
    }
  }
}

// MEDIA QUERIES

@media only screen and (min-width: 0px) and (max-width: 399px) {
  .post-container {
    width: 99vw;
    margin: 0 auto $spacing-xlarge auto;

    .title {
      font-size: 26px;
      margin: $spacing-normal auto;
    }

    .share-btns {
      width: 80vw;
      margin: $spacing-small auto;
    }

    .content {
      width: 100%;

      figure {
        width: 100% !important;
      }

      iframe {
        height: 180px;
        width: 320px;
        margin: $spacing-large auto 0 auto;
        display: block;
      }

      p {
        width: 90%;
      }
    }

    .browse {
      margin: $spacing-large auto;
      font-size: $font-small;
      width: 50vw;
      padding: $spacing-normal;
    }
  }

  .related-articles {
    width: 99vw;
    grid-template-rows: 1fr 1fr 1fr;

    .article-card {
      height: 200px;
      grid-template-columns: 3fr 5fr;

      .article-img {
        height: inherit;
      }

      .article-info {
        .article-title {
          font-size: $font-xsmall;
        }

        .article-date {
          align-self: flex-end;
          font-size: $font-xsmall;
        }
      }
    }
  }
}

@media only screen and (min-width: 400px) and (max-width: 799px) {
  .post-container {
    width: 99vw;
    margin: 0 auto $spacing-xlarge auto;

    .title {
      font-size: 26px;
      margin: $spacing-normal auto;
    }

    .share-btns {
      width: 80vw;
      margin: $spacing-small auto;
    }

    .content {
      width: 100%;

      figure {
        width: 100% !important;
      }

      iframe {
        height: 210px;
        width: 380px;
        margin: $spacing-xlarge auto 0 auto;
        display: block;
      }

      p {
        width: 90%;
      }
    }

    .browse {
      margin: $spacing-large auto;
      font-size: $font-small;
      width: 75vw;
      padding: $spacing-normal $spacing-small;
    }
  }

  .related-articles {
    width: 99vw;
    grid-template-rows: 1fr 1fr 1fr;

    .article-card {
      height: 200px;
      grid-template-columns: 3fr 5fr;

      .article-img {
        height: inherit;
      }

      .article-info {
        .article-title {
          font-size: $font-small;
          align-self: center;
        }

        .article-date {
          align-self: flex-end;
          font-size: $font-xsmall;
        }
      }
    }
  }
}

@media only screen and (min-width: 800px) and (max-width: 1199px) {
  .post-container {
    width: 90%;
    margin: $spacing-xlarge auto;

    .title {
      font-size: 38px;
      margin: $spacing-large auto;
    }

    .share-btns {
      width: 80vw;
      margin: $spacing-small auto;
    }

    .content {
      ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: $spacing-normal;
      }

      width: 100%;

      figure {
        width: 100% !important;
      }

      iframe {
        height: 340px;
        width: 560px;
        margin: $spacing-xlarge auto 0 auto;
        display: block;
      }
    }

    .browse {
      margin: $spacing-large auto;
      font-size: $font-normal;
      width: 60vw;
      padding: $spacing-normal $spacing-small;
    }
  }

  .related-articles {
    width: 95%;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: $spacing-small;

    .article-card {
      @include vendor(box-shadow, 10px 10px 10px -6px rgba(196, 196, 196, 1));
      border: none;
      border-top: 1px solid $lightergrey;
      border-bottom: 1px solid $lightergrey;
      height: 400px;
      grid-template-rows: 5fr 3fr;

      .article-img {
        height: 250px;
      }

      .article-info {
        .article-title {
          font-size: $font-small;
          align-self: center;
        }

        .article-date {
          align-self: flex-end;
          font-size: $font-xsmall;
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1799px) {
  .post-container {
    width: 80%;
    margin: $spacing-xlarge auto;

    .title {
      font-size: 42px;
      margin: $spacing-xlarge auto;
    }

    .category {
      margin: $spacing-large auto !important;
      font-size: $font-small !important;
    }

    .share-btns {
      width: 80vw;
      margin: $spacing-small auto;
    }

    .content {
      width: 100%;

      p {
        font-size: 18px !important;
      }

      ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: $spacing-normal;
      }

      figure {
        width: 80% !important;
      }

      iframe {
        height: 360px;
        width: 560px;
        margin: $spacing-xlarge auto 0 auto;
        display: block;
      }
    }

    .browse {
      margin: $spacing-large auto;
      font-size: $font-normal;
      width: 60vw;
      padding: $spacing-normal $spacing-small;
    }
  }

  .back-btn {
    width: 15% !important;
  }

  .related-articles {
    width: 95%;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: $spacing-normal;

    .article-card {
      @include vendor(box-shadow, 10px 10px 10px -6px rgba(196, 196, 196, 1));
      border: none;
      border-top: 1px solid $lightergrey;
      border-bottom: 1px solid $lightergrey;
      height: 500px;
      grid-template-rows: 5fr 3fr;

      .article-img {
        height: 312.5px;
      }

      .article-info {
        .article-title {
          font-size: $font-small;
          align-self: center;
        }

        .article-date {
          align-self: flex-end;
          font-size: $font-xsmall;
        }
      }
    }
  }
}

@media only screen and (min-width: 1800px) and (max-width: 1999px) {
  h1 {
    font-size: $font-xlarge;
  }

  .post-container {
    width: 80%;
    margin: $spacing-xlarge auto;

    .title {
      font-size: 46px;
      margin: $spacing-xlarge auto;
    }

    .category {
      margin: $spacing-large auto !important;
      font-size: $font-large !important;
      width: 10% !important;
    }

    h1 {
      font-size: $font-xlarge;
    }

    .share-btns {
      width: 50vw;
      margin: $spacing-small auto;
    }

    .content {
      width: 100%;

      p {
        font-size: $font-large !important;
      }

      ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: $spacing-normal;
      }

      figure {
        width: 80% !important;
      }

      iframe {
        height: 420px;
        width: 720px;
        margin: $spacing-xlarge auto 0 auto;
        display: block;
      }
    }

    .browse {
      margin: $spacing-large auto;
      font-size: $font-large;
      width: 40vw;
      padding: $spacing-normal $spacing-small;
    }
  }

  .back-btn {
    width: 15% !important;
  }

  .related-articles {
    width: 95%;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: $spacing-xlarge;

    .article-card {
      @include vendor(box-shadow, 10px 10px 10px -6px rgba(196, 196, 196, 1));
      border: none;
      border-top: 1px solid $lightergrey;
      border-bottom: 1px solid $lightergrey;
      height: 600px;
      grid-template-rows: 5fr 3fr;

      .article-img {
        height: 375px;
      }

      .article-info {
        .article-title {
          font-size: $font-xlarge;
          align-self: center;
        }

        .article-date {
          align-self: flex-end;
          font-size: $font-large;
        }

        .article-category {
          font-size: $font-large;
        }
      }
    }
  }
}

@media only screen and (min-width: 2000px) {
  .post-container {
    width: 80%;
    margin: $spacing-xlarge auto;

    .title {
      font-size: 46px;
      margin: $spacing-xlarge auto;
    }

    .category {
      margin: $spacing-large auto !important;
      font-size: $font-large !important;
      width: 10% !important;
    }

    .share-btns {
      width: 50vw;
      margin: $spacing-small auto;
    }

    .content {
      width: 100%;

      p {
        font-size: $font-large !important;
      }

      ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: $spacing-normal;
      }

      figure {
        width: 80% !important;
      }

      iframe {
        height: 420px;
        width: 720px;
        margin: $spacing-xlarge auto 0 auto;
        display: block;
      }
    }

    .browse {
      margin: $spacing-large auto;
      font-size: $font-large;
      width: 40vw;
      padding: $spacing-normal $spacing-small;
    }
  }

  .back-btn {
    width: 15% !important;
  }

  h1 {
    font-size: $font-xlarge;
  }

  .related-articles {
    width: 95%;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: $spacing-xlarge;

    .article-card {
      @include vendor(box-shadow, 10px 10px 10px -6px rgba(196, 196, 196, 1));
      border: none;
      border-top: 1px solid $lightergrey;
      border-bottom: 1px solid $lightergrey;
      height: 700px;
      grid-template-rows: 5fr 3fr;

      .article-img {
        height: 437.5px;
      }

      .article-info {
        .article-title {
          font-size: $font-xlarge;
          align-self: center;
        }

        .article-date {
          align-self: flex-end;
          font-size: $font-large;
        }

        .article-category {
          font-size: $font-large;
        }
      }
    }
  }
}
