<app-navbar></app-navbar>

<div class="main-container">
  <section class="edit-container">
    <h3>{{ offerInfo.model }}</h3>

    <img src="{{ offerInfo.assetURL }}" alt="{{ offerInfo.productID }}">

    <div class="edit-radios">
      <div>
        <input type="radio" name="edit-offer" id="radio-new" (change)="conditionChanges($event)" value="new">
        <label for="edit-offer">New</label>
      </div>
      
      <div>
        <input type="radio" name="edit-offer" id="radio-used" (change)="conditionChanges($event)" value="used">
        <label for="edit-offer">Used</label>
      </div>
    </div>

    <div class="edit-price-input">
      <button><fa-icon [icon]="['fas', 'dollar-sign']"></fa-icon></button>
      <input type="text" value="{{ offerInfo.price }}" (keyup)="priceChanges($event)" id="priceInput">
      <button>.00</button>
    </div>

    <select name="size" id="item-size" (change)="sizeChanges($event)">
      <option value="none" selected>Select Size</option>
      <option value="US6">US 6</option>
      <option value="US6.5">US 6.5</option>
      <option value="US7">US 7</option>
      <option value="US7.5">US 7.5</option>
      <option value="US8">US 8</option>
      <option value="US8.5">US 8.5</option>
      <option value="US9">US 9</option>
      <option value="US9.5">US 9.5</option>
      <option value="US10">US 10</option>
      <option value="US10.5">US 10.5</option>
      <option value="US11">US 11</option>
      <option value="US11.5">US 11.5</option>
      <option value="US12">US 12</option>
      <option value="US12.5">US 12.5</option>
      <option value="US13">US 13</option>
      <option value="US13.5">US 13.5</option>
      <option value="US14">US 14</option>
      <option value="US14.5">US 14.5</option>
      <option value="US15">US 15</option>
    </select>

    <div class="edit-btns">
      <button class="btn" routerLink="../../profile">Back</button>
      <button id="save-changes-btn" *ngIf="!loading && !error && !updated && curPrice > highestOffer" [className]="conditionChanged || priceChanged || sizeChanged ? 'btn' : 'disabled-btn btn'" (click)="updateListing()">Save Changes</button>
      <button id="save-changes-btn" *ngIf="!loading && !error && !updated && curPrice <= highestOffer" class="btn" (click)="sellNow()">Sell at {{ highestOffer | currency: 'CAD' }}</button>
      <button id="save-changes-btn" class="btn" *ngIf="loading"><fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon></button>
      <button id="save-changes-btn" class="btn error-btn" *ngIf="error">Error</button>
      <button id="save-changes-btn" class="btn updated-btn" *ngIf="updated">Updated</button>
    </div>

    <button id="delete-btn" (click)="deleteListing()">Delete</button>
  </section>
</div>

<app-footer></app-footer>
