//
// Base
//

@import 'base.fonts';
@import 'base.mixins';
@import 'base.palette';
@import 'base.settings';
@import 'base.themes';

// variables
$navHeight: 64px;
$footerHeight: 150px;
$productContainerHeight: 650px;

//double line
.blueLine {
    background: $darkblue;
    height: 2.5px;
    grid-column: 1/6;
}

.greenLine {
    background: $green;
    height: 2.5px;
    grid-column: 1/6;
}

// Line on both sides of text
.divider {
    h2 {
        overflow: hidden;
        text-align: center;
        color: $white;
        font-size: $header-size-6;

        &:before, &:after {
            background-color: $white;
            content: "";
            display: inline-block;
            height: 1.5px;
            position: relative;
            vertical-align: middle;
            width: 30%;
        }

        &:before {
            right: 0.5em;
            margin-left: -50%;
        }

        &:after {
            left: 0.5em;
            margin-right: -50%;
        }
    }
}

// FB & GOOG Btn
.facebook-btn {
    color: $blueivy;
    background: $white;

    &:hover {
        color: $white;
        background: $blueivy;
    }
}

.google-btn {
    color: $black;
    background: $white;

    &:hover {
        color: $white;
        background: $googleRed;
    }
}

.google-btn, .facebook-btn {
    height: 30px;
    width: 90%;
    padding: 5px;
    letter-spacing: 1px;
}

// Showcase Settings
.showcase-container {
    margin-top: $spacing-large;

    h2 {
        text-align: center;
    }

    .showcase-windows {
        height: 250px;
        width: 100vw;
        max-width: 100%;
        border: 0.5px solid $lightgrey;
        border-left: none;
        border-right: none;
        margin: $spacing-small auto;
        padding: 5px 0;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;

        .showcase-window {
            width: 219px;
            height: 100%;
            border-right: 1px solid $lightgrey;
            text-align: center;
            cursor: pointer;
            display: inline-block;

            &:hover, &:focus {
                h6, h3 {
                    color: $matteblue;
                }
            }

            img {
                height: 100px;
                margin-bottom: $spacing-xlarge;
            }

            h6 {
                text-align: right;
                margin-right: $spacing-small;
                margin-bottom: $spacing-normal;
            }

            h3 {
                font-size: $header-size-6;
                font-weight: $weight-bold;
            }

        }
    }
}

// Separate Header & Footer
.main-container {
    min-height: calc(100vh - #{$footerHeight});
}

// Settings btns
.settings-back-btn, .settings-save-btn {
    padding: $spacing-small;
    border: none;
    border-radius: $spacing-xsmall;
    background: $black;
    color: $white;
    font-size: $font-xsmall;
    font-weight: $weight-black;
    letter-spacing: 2px;
    cursor: pointer;
    @include vendor(transition, 0.25s ease-in-out);

    &:hover {
        background: $matteblack;
    }
}

.settings-back-btn {
    background: transparent;
    color: $black;

    &:hover {
        color: $white;
    }
}