//
// Base Mixins
//

@mixin vendor($property, $value) {
    #{$property}: $value!important;
    -moz-#{$property}: $value!important;
    -webkit-#{$property}: $value!important;
    -moz-#{$property}: $value!important;
}

// Navbar
@mixin navbarItems {
    border: none;
    background: transparent;
    cursor: pointer;
}

// functions
@mixin boxeffect {
    .search-bar {
        @include vendor(box-shadow, 0px 0px 5px 0px rgba(0,0,0,0.75));
    }
}