//
// Base Palette
//

$black: #222021;
$darkblue: #0e172c;
$navyblue: #131e3a;
$fluo: #ccff00;
$green: #98fb98;
$white: #fcfffc;
$coolgrey: #817f80;
$coolergrey: #8D8B8C;
$lightgrey: #c4c4c4;
$mintgreen: #ccffca;
$matteblue: #363d55;
$matteblack: #383637;
$blueivy: #3f51b5;
$lightergrey: #f8f8f8;

$prodBtnPrimary: #3c91e6;
$prodBtnSecondary: #14599e;
$prodBtnLight: #e8f2fc;

$prodBtnPrimary2: #ef4135;
$prodBtnSecondary2: #a5170d;
$prodBtnLight2: #fde9e7;

$googleRed: #ea4335;
$visa: #192061;
$mastercard: #f79e1b;
$amex: #27aee3;
$facebook: #3f51b5;
$facebooklighter: #5262BC;
$twitter: #1da1f2;
$twitterlighter: #33AAF3;
$instagram: #e1306c;
$youtube: #FF0000;

$inputError: #f5aaa3;