//
// Base Themes
//

// General
body {
    font-family: 'Poppins', sans-serif;
}

// Light mode theme
html {
    background: $white;

    p {
        color: $black;
    }

    h1, h2, h3, h4, h5, h6 {
        color: $black;
    }

    a {
        color: $navyblue;
        text-decoration: none;

        &:hover, &:focus {
            color: $blueivy;
        }
    }

    .btn {
        background: $navyblue;
        border: none;
        color: $white;
        border-radius: 8px;
        cursor: pointer;
        text-transform: uppercase;
        font-size: $font-xsmall;
        font-weight: $weight-black;
        letter-spacing: 2px;
        padding: $spacing-xxsmall;
    }
}

// Dark mode theme
html[theme='dark'] {
    background: $black;

    p {
        color: $white;
    }

    h1, h2, h3, h4, h5, h6 {
        color: $white;
    }

    .btn {
        background: $white;
        color: $darkblue;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        text-transform: uppercase;
        font-size: $font-xsmall;
        font-weight: $weight-black;
        letter-spacing: 2px;
        padding: $spacing-xxsmall;
    }
}