//
// Base
//

@import 'base.fonts';
@import 'base.mixins';
@import 'base.palette';
@import 'base.settings';
@import 'base.themes';

//nav
$navHeight: 64px;

//footer
$footerHeight: 150px;

//double line
.blueLine {
    background: $darkblue;
    height: 2.5px;
    grid-column: 1/6;
}

.greenLine {
    background: $green;
    height: 2.5px;
    grid-column: 1/6;
}