//
// Base Palette
//

$black: #222021;
$darkblue: #0e172c;
$navyblue: #131e3a;
$fluo: #ccff00;
$green: #98fb98;
$white: #fcfffc;
$coolgrey: #817f80;
$lightgrey: #c4c4c4;
$mintgreen: #ccffca;
$matteblue: #363d55;
$matteblack: #383637;
$blueivy: #3f51b5;

$googleRed: #ea4335;