<div class="showcase-container">
    <h2>Latest Ask</h2>

    <div class="showcase-windows">
        <div *ngFor="let ask of latestAsks" class="showcase-window">
            <a routerLink="/product/{{ ask.productID }}">
                <div class="price-size">
                    <h6 id="window-size">{{ ask.size }}</h6>
                    <h6 id="window-price">{{ ask.price | currency:'CAD' }}</h6>
                </div>
                <div id="window-image"><img src="{{ ask.assetURL }}" alt="{{ ask.model }}"></div>
                <h3 id="window-model">{{ ask.model }}</h3>
            </a>
        </div>
    </div>
</div>