/* You can add global styles to this file, and also import other style files */
@import 'app/base_styles/base';

* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    min-height: 100vh;
}