@import "../../../base_styles/base";

h1 {
  text-align: center;
  margin: $spacing-normal auto;
}

.product-container {
  grid-template-columns: 1fr !important;

  .btn {
    padding: $spacing-small;
    margin: $spacing-small auto;
    background: $black;
    width: 50%;
    border-radius: $spacing-xsmall;
    border: none;

    &:hover {
      background: $matteblack;
    }
  }

  .disabled {
    background: $lightgrey;
    cursor: not-allowed;

    &:hover {
      background: $lightgrey;
    }
  }

  .error {
    background: $inputError;
    cursor: not-allowed;

    &:hover {
      background: $inputError;
    }
  }

  .sent {
    background: $green;
    cursor: not-allowed;

    &:hover {
      background: $green;
    }
  }

  img {
    margin: $spacing-large auto !important;
  }

  .bid {
    width: inherit;

    .sell-price-input {
      width: 90%;
      margin: $spacing-normal auto;
      display: grid;
      grid-template-columns: 10% 80% 10%;
      background: $white;
      border: 1px solid $lightgrey;
      border-radius: $spacing-xxsmall;

      input {
        text-align: center;
        border: none;
        height: inherit;
        padding: $spacing-small 0;
      }

      button {
        border: none;
        height: inherit;
        background: $matteblack;
        color: $white;
        padding: auto $spacing-small;
        font-size: $font-xsmall;

        &:first-child {
          border-top-left-radius: $spacing-xxsmall;
          border-bottom-left-radius: $spacing-xxsmall;
        }

        &:last-child {
          border-top-right-radius: $spacing-xxsmall;
          border-bottom-right-radius: $spacing-xxsmall;
        }
      }
    }

    #item-size {
      display: block;
      height: 35px;
      margin: $spacing-normal auto;
      width: 60%;
    }

    .auction-stats {
      display: grid;
      grid-template-columns: 1fr 1fr;

      p {
        justify-self: center;
        align-self: center;
        width: 85% !important;
        font-size: $font-xxsmall;
      }
    }
  }
}

// MEDIA QUERIES

@media only screen and (min-width: 0px) and (max-width: 400px) {
}

@media only screen and (min-width: 400px) and (max-width: 800px) {
  .product-container {
    width: 80% !important;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
  .product-container {
    width: 70% !important;

    .auction-stats {
      p {
        font-size: $font-xsmall !important;
      }
    }
  }

  .sell-price-input {
    width: 70% !important;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1800px) {
  .product-container {
    width: 60% !important;

    .auction-stats {
      p {
        font-size: $font-xsmall !important;
      }
    }
  }

  .sell-price-input {
    width: 60% !important;
  }
}

@media only screen and (min-width: 1800px) and (max-width: 2000px) {
  .product-container {
    width: 50% !important;

    .auction-stats {
      p {
        font-size: $font-xsmall !important;
      }
    }
  }

  .sell-price-input {
    width: 50% !important;
  }
}

@media only screen and (min-width: 2000px) {
  .product-container {
    width: 40% !important;

    .auction-stats {
      p {
        font-size: $font-xsmall !important;
      }
    }
  }

  .sell-price-input {
    width: 40% !important;
  }
}
