<div class="main-container">
  <app-navbar></app-navbar>

  <section class="checkout-container">
    <div class="checkout-summary">
      <h4>Summary</h4>

      <div class="summary-items">
        <div class="summary-item">
          <img src="../../../assets/Air-Force-1-Low-Off-White-Volt.jpg" alt="Air-Force-1-Low-Off-White-Volt">

          <h6>Nike x OFF--WHITE AF1 Low Volt, US9</h6>

          <h6>$200</h6>
        </div>
      </div>

      <div class="summary-numbers">
        <div class="summary-subtotal">
          <h5>Subtotal</h5>
          <h5>$800</h5>
        </div>

        <div class="summary-shipping">
          <h5>Shipping</h5>
          <h5>Free</h5>
        </div>

        <div class="summary-tax">
          <h5>Tax</h5>
          <h5>$0</h5>
        </div>

        <div class="summary-total">
          <h5>Total</h5>
          <h5>$800</h5>
        </div>
      </div>
    </div>

    <div class="checkout-contact-info">
      <h5>Contact Information</h5>

      <h6>Shipping Information</h6>
      <div class="checkout-shipping-info">
        <input type="text" id="firstName" placeholder="First Name">
        <input type="text" id="lastName" placeholder="Last Name">
        <input type="text" id="streetAddress" placeholder="Street Address">
        <input type="text" id="city" placeholder="City">
        <input type="text" id="state" placeholder="State">
        <input type="text" id="zip" placeholder="Zip">
        <input type="text" id="country" placeholder="Country">
        <input type="tel" id="phone" placeholder="Phone">
      </div>

      <h6>Billing Information</h6>
      <div class="checkbox">
          <input type="checkbox" id="billing-checkbox">
          <label for="billing-checkbox">Same as Shipping Information</label>
      </div>
      <div class="checkout-billing-info">
        <input type="text" id="firstName" placeholder="First Name">
        <input type="text" id="lastName" placeholder="Last Name">
        <input type="text" id="streetAddress" placeholder="Street Address">
        <input type="text" id="city" placeholder="City">
        <input type="text" id="state" placeholder="State">
        <input type="text" id="zip" placeholder="Zip">
        <input type="text" id="country" placeholder="Country">
        <input type="tel" id="phone" placeholder="Phone">
      </div>
    </div>

    <div class="checkout-payment">
      <h5>Payment Method</h5>

      <div class="checkbox">
          <input type="radio" name="payment-method" id="cc-radio">
          <label for="cc-radio">Pay with credit card</label>
      </div>
      
      <div class="checkbox">
          <input type="radio" name="payment-method" id="paypal-radio">
          <label for="paypal-radio">Pay with PayPal</label>
      </div>

      <div class="cc-info">
        <input type="text" id="cc-name" placeholder="Name on Credit Card">
        <input type="text" id="cc-number" placeholder="Credit Card Number">
        <input type="text" id="cc-expiration" placeholder="Expiration Date (MM-YYYY)">
        <input type="text" id="cc-cvv" placeholder="CVV">
      </div>
    </div>
  </section>
</div>

<app-footer></app-footer>