@import '../../base_styles/base';

.checkout-input {
    border-radius: $spacing-xsmall;
    border: none;
    border-bottom: 1px solid $lightgrey;
    height: $spacing-small;
    padding: $spacing-xsmall;
    font-size: $font-xsmall;
    margin: $spacing-xxsmall 0;

    &:focus {
        border-color: $matteblack;
    }
}

.main-container {
    width: 100vw;
    max-width: 100%;
    background: $black;
    margin-top: $spacing-xsmall;
    display: grid;
    align-content: center;

    .checkout-btns {
        width: 50%;
        margin: $spacing-normal auto;
    }

    button {
        padding: $spacing-xsmall;
        width: 50%;
        margin: $spacing-small auto;
        display: block;
        background: $green;
        color: $black;

        &:hover {
            background: $mintgreen;
        }
    }

    .back-btn {
        background: $black;
        color: $white;

        &:hover {
            background: $matteblack;
        }
    }

    .checkout-summary {
        margin-bottom: $spacing-xsmall;
        width: 95%;
        margin: 0 auto;
        background: $white;
        border-radius: $spacing-xsmall;
        text-align: center;

        .summary-items {
            padding: $spacing-xsmall;

            .summary-item {
                display: grid;
                grid-template-columns: 1fr 3fr 1fr;
                align-items: center;
                justify-items: center;

                h6:last-child {
                    justify-self: end;
                }

                img {
                    width: 100%;
                }
            }
        }

        .summary-numbers {
            padding: $spacing-xsmall;

            div {
                display: grid;
                grid-template-columns: 1fr 1fr;
                
                h5 {
                    font-weight: $weight-bold;
                }

                h5:first-child {
                    justify-self: start;
                }

                h5:last-child {
                    justify-self: end;
                }
            }

            .summary-total {
                h5 {
                    font-weight: $weight-black;
                }
            }
        }
    }

    .checkout-shipping {
        background: $white;
        border-radius: $spacing-xsmall;
        margin: $spacing-xsmall auto;
        text-align: center;
        width: 95%;

        fa-icon {
            color: $black;
        }

        h3 {
            font-size: $font-xsmall;
        }

        h6 {
            text-align: left;
            font-size: $font-small;
            margin: $spacing-xsmall;

            span {
                font-size: $font-xsmall;
                color: $coolgrey;
                margin: 0 0 0 $spacing-xsmall;
            }
        }

        .edit-btn {
            background: none;
            color: $green;
            font-size: $font-small;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .checkout-payment {
        @extend .checkout-shipping;
    }
}