<app-navbar></app-navbar>

<section class="main-container">
  <div class="checkout-summary">
    <h4>Summary</h4>

    <div class="summary-items">
      <div class="summary-item">
        <img src="{{ product.assetURL }}" alt="{{ product.model }}">

        <h6>{{ product.model }}, {{ product.size }}</h6>

        <h6>{{ product.price | currency: 'CAD' }}</h6>
      </div>
    </div>

    <div class="summary-numbers" *ngIf="!isSelling">
      <div class="summary-subtotal">
        <h5>Subtotal</h5>
        <h5>{{ subtotal | currency: 'CAD' }}</h5>
      </div>

      <div class="summary-auth">
        <h5>Authentication Fee</h5>
        <h5>{{ 0 | currency: 'CAD' }}</h5>
      </div>

      <div class="summary-shipping">
        <h5>Shipping</h5>
        <h5>{{ shippingPrice | currency: 'CAD' }}</h5>
      </div>

      <div class="summary-tax">
        <h5>Tax</h5>
        <h5>{{ tax | currency: 'CAD' }}</h5>
      </div>

      <div class="summary-tax" *ngIf="promoApplied">
        <h5>Discount</h5>
        <h5>- {{ discount | currency: 'CAD' }}</h5>
      </div>

      <div class="summary-total">
        <h5>Total</h5>
        <h5>{{ total | currency: 'CAD' }}</h5>
      </div>
    </div>

    <div class="promo-code" *ngIf="!isSelling">
      <input type="text" name="promo-code" id="promo-code" placeholder="Enter Promo Code" mask="AAAAAAAAAA">
      <button class="btn promo-btn" (click)="applyPromo()" *ngIf="!promoError && !promoApplied && !promoLoading">Apply
        Promo</button>
      <button class="btn promo-btn" *ngIf="promoLoading">
        <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
      </button>
      <button class="btn promo-btn-applied" *ngIf="promoApplied">Promo Applied</button>
      <button class="btn promo-btn-invalid" *ngIf="promoError">Code Invalid</button>
    </div>

    <div class="summary-numbers" *ngIf="isSelling">
      <div class="summary-subtotal">
        <h5>Transaction Fee (9.5%)</h5>
        <h5>{{ fee() | currency: 'CAD' }}</h5>
      </div>

      <div class="summary-auth">
        <h5>Payment Processing (3%)</h5>
        <h5>{{ processing() | currency: 'CAD' }}</h5>
      </div>

      <div class="summary-shipping">
        <h5>Shipping</h5>
        <h5>{{ 0 | currency: 'CAD' }}</h5>
      </div>

      <div class="summary-total">
        <h5>Total payout</h5>
        <h5>{{ subtotal - fee() - processing() | currency: 'CAD' }}</h5>
      </div>
    </div>
  </div>

  <!--<div class="checkout-shipping">
    <fa-icon [icon]="['fas', 'home']"></fa-icon>
    <h3>Shipping Information</h3>

    <h6>First Name: <span *ngIf="shippingInfo.firstName != ''">{{ shippingInfo.firstName }}</span></h6>
    <h6>Last Name: <span *ngIf="shippingInfo.lastName != ''">{{ shippingInfo.lastName }}</span></h6>
    <h6>Address: <span *ngIf="shippingInfo.street != ''">{{ shippingInfo.street + ', ' + shippingInfo.city + ', ' + shippingInfo.province + ' ' + shippingInfo.postalCode + ', ' + shippingInfo.country}}</span></h6>

    <button class="btn edit-btn" (click)="editShipping()">Edit</button>
  </div>

  <div class="checkout-payment">
      <fa-icon [icon]="['fas', 'credit-card']"></fa-icon>
      <h3>Payment Information</h3>
  
      <h6>Payment Method: <span>Credit Card</span></h6>
      <h6>Visa ending in 9472</h6>
      <h6>Billing Address: <span>103 - 323 18 Ave SW, Calgary, AB T2S 0C4, CA</span></h6>
  
      <button class="btn edit-btn" (click)="editPayment()">Edit</button>
    </div>-->

  <div class="checkout-btns">
    <ngx-paypal *ngIf="!isSelling && !freePair" [config]="payPalConfig"></ngx-paypal>
    <button *ngIf="freePair" (click)="buyNow()" class="btn">Confirm</button>
    <button *ngIf="isSelling" (click)="sellNow()" class="btn">Confirm</button>
    <button class="btn back-btn" (click)="goBack()">Back</button>
  </div>
</section>

<app-footer></app-footer>