<section class="signup-body">
  <div class="signup-card">
      <img src="../../../assets/Negativepng.png" alt="NXTDROP, Inc. Logo Negative Symbol">

      <form>
        <input type="text" placeholder="First Name">
        <input type="text" placeholder="Last Name">
        <input type="text" placeholder="Username">
        <input type="password" placeholder="Password">
        <button type="submit" class="btn signup-btn">Done</button>
      </form>
  </div>
</section>

<app-footer></app-footer>