@import '../../base_styles/base';

section {
    height: calc(100vh - #{$footerHeight});
    background: $black;
    padding-top: $spacing-xlarge * 2;

    .signup-card {
        width: 90%;
        margin: 0 auto;
        padding: 8px;
        border-radius: 16px;
        background: linear-gradient(-50.23deg, $darkblue 65%, $green 95%);

        img {
            display: block;
            height: 40px;
            margin: 2.5px auto;
        }

        button {
            display: block;
            padding: 5px;
            border: none;
            border-radius: $spacing-xxsmall;
            font-size: $font-small;
            font-weight: $weight-black;
            margin: 5px auto;
            cursor: pointer;
            @include vendor(transition, all 0.25s ease-in-out);

            fa-icon {
                float: left;
                margin-left: 10px;
                font-size: $font-normal;
            }
        }

        .input-error {
            background: $inputError;
        }

        input {
            display: block;
            margin: $spacing-small auto;
            height: 25px;
            width: 90%;
            border: none;
            border-radius: $spacing-xxsmall;
            padding: $spacing-xsmall;
            letter-spacing: 0.5px;
        }

        .signup-btn {
            margin: $spacing-normal auto;
            width: 50vw;
            cursor: pointer;
            padding: $spacing-xsmall;

            &:hover {
                background: $white;
                color: $navyblue;
            }
        }
    }
}