@import '../../base_styles/base';

* {
    outline: none;
}

.main-container {
    display: grid;
    align-content: center;
}

.error-field {
    border: 1px solid $inputError!important;
}

.content-container {
    h3 {
        text-align: center;
        margin: $spacing-small 0;
    }

    h6 {
        text-align: center;
        width: 75%;
        margin: $spacing-small auto;
    }

    input {
        display: block;
        margin: $spacing-normal auto;
        padding: $spacing-small;
        border: 1px solid $lightgrey;
        border-radius: $spacing-xsmall;
        letter-spacing: 0.8px;
    }

    p {
        text-align: center;
    }

    button {
        display: block;
    }

    .send-btn {
        margin: $spacing-normal auto;
        padding: $spacing-xsmall;

        &:hover {
            background: $matteblue;
        }
    }

    .disabled {
        background: $lightgrey;
        cursor: not-allowed;

        &:hover {
            background: $lightgrey;
        }
    }
}

// MEDIA QUERIES

@media only screen and (min-width: 0px) and (max-width: 400px) {
    input {
        width: 80%;
        font-size: $font-xsmall;
    }

    p {
        font-size: $font-xxsmall;
    }

    button {
        width: 50%;
    }
}

@media only screen and (min-width: 400px) and (max-width: 800px) {
    input {
        width: 75%;
        font-size: $font-xsmall;
    }

    p {
        font-size: $font-xxsmall;
    }

    button {
        width: 45%;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
    input {
        width: 65%;
        font-size: $font-xsmall;
    }

    p {
        font-size: $font-xsmall;
    }

    button {
        width: 40%;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1800px) {
    input {
        width: 45%;
        font-size: $font-xsmall;
    }

    p {
        font-size: $font-xsmall;
    }

    button {
        width: 30%;
    }
}

@media only screen and (min-width: 1800px) and (max-width: 2000px) {
    input {
        width: 40%;
        font-size: $font-xsmall;
    }

    p {
        font-size: $font-xsmall;
    }

    button {
        width: 30%;
    }
}

@media only screen and (min-width: 2000px) {
    input {
        width: 35%;
        font-size: $font-xsmall;
    }

    p {
        font-size: $font-xsmall;
    }

    button {
        width: 25%;
    }
}