@import "../../base_styles/base";

* {
  outline: none;
}

.main-container {
  display: grid;
  align-content: center;
}

.error-field {
  border: 1px solid $inputError !important;
}

.content-container {
  h3 {
    text-align: center;
    margin: $spacing-small 0;
  }

  h6 {
    text-align: center;
    width: 75%;
    margin: $spacing-small auto;
  }

  input {
    display: block;
    margin: $spacing-normal auto;
    padding: $spacing-small;
    border: 1px solid $lightgrey;
    border-radius: $spacing-xsmall;
    letter-spacing: 0.8px;
  }

  p {
    text-align: center;
  }

  button {
    display: block;
    text-transform: uppercase;
  }

  .send-btn {
    margin: $spacing-normal auto;
    background: $black;

    &:hover {
      background: $matteblack;
    }
  }

  .error {
    margin: $spacing-normal auto;
    background: $inputError;
    color: $white;

    &:hover {
      background: $inputError;
      color: $white;
    }
  }

  .changed {
    margin: $spacing-normal auto;
    background: $white;

    fa-icon {
      color: $green;
    }
  }

  .disabled {
    background: $lightgrey;
    cursor: not-allowed;

    &:hover {
      background: $lightgrey;
    }
  }
}

// MEDIA QUERIES

@media only screen and (min-width: 0px) and (max-width: 400px) {
  input {
    width: 80%;
    font-size: 0.8rem;
  }

  p {
    font-size: 0.6rem;
  }

  button {
    font-size: 0.6rem;
    width: 60%;
    padding: $spacing-small;
  }
}

@media only screen and (min-width: 400px) and (max-width: 599.5px) {
  input {
    width: 70%;
    font-size: 0.8rem;
  }

  p {
    font-size: 0.6rem;
  }

  button {
    font-size: 0.6rem;
    width: 50%;
    padding: $spacing-small;
  }
}

@media only screen and (min-width: 600px) and (max-width: 799.5px) {
  input {
    width: 60%;
    font-size: 0.8rem;
  }

  p {
    font-size: 0.6rem;
  }

  button {
    font-size: 0.6rem;
    width: 40%;
    padding: $spacing-small;
  }
}

@media only screen and (min-width: 800px) and (max-width: 999.5px) {
  input {
    width: 50%;
    font-size: 0.8rem;
  }

  p {
    font-size: 0.6rem;
  }

  button {
    font-size: 0.6rem;
    width: 30%;
    padding: $spacing-small;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1199.5px) {
  input {
    width: 45%;
    font-size: 0.8rem;
  }

  p {
    font-size: 0.8rem;
  }

  button {
    font-size: 0.8rem;
    width: 30%;
    padding: $spacing-small;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1799.5px) {
  input {
    width: 30%;
    font-size: 0.8rem;
  }

  p {
    font-size: 0.8rem;
  }

  button {
    font-size: 0.8rem;
    width: 20%;
    padding: $spacing-small;
  }
}

@media only screen and (min-width: 1800px) and (max-width: 2000px) {
  input {
    width: 30%;
    font-size: 1rem;
  }

  p {
    font-size: 0.8rem;
  }

  button {
    font-size: 1rem;
    width: 20%;
    padding: $spacing-normal;
  }
}

@media only screen and (min-width: 2000px) {
  input {
    width: 30%;
    font-size: 1rem;
  }

  p {
    font-size: 0.8rem;
  }

  button {
    font-size: 1rem;
    width: 20%;
    padding: $spacing-normal;
  }
}
