<app-navbar></app-navbar>

<div class="main-container">
  <section class="content-container">
    <h3>Reset you password</h3>

    <input type="password" id="new-pwd" name="forget-pwd-input" placeholder="Password" (keyup)="pwdChanges()"
      [className]="errorPwd ? 'error-field' : ''" autocomplete="off">
    <input type="password" id="confirm-new-pwd" name="forget-pwd-input" placeholder="Confirm Password"
      (keyup)="pwdChanges()" [className]="errorPwd ? 'error-field' : ''" autocomplete="off">
    <p>Password must be 6 characters at least.</p>

    <button *ngIf="!loading && !error && !reset"
      [className]="!errorPwd && confPwd.length >= 6 && pwd.length >= 6 ? 'btn send-btn' : 'btn send-btn disabled'"
      (click)="resetPassword()">Reset Password</button>

    <button *ngIf="loading" class="btn send-btn">
      <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
    </button>

    <button *ngIf="error" class="btn error">Error</button>

    <button *ngIf="reset" class="btn changed">
      <fa-icon [icon]="['fas', 'check']"></fa-icon>
    </button>
  </section>
</div>

<app-footer></app-footer>