@import '../../base_styles/base';

h2 {
    text-align: center;
    margin: $spacing-normal;
}

input {
    display: block;
    padding: $spacing-xsmall;
    margin-bottom: $spacing-small;
    border-radius: $spacing-xsmall;
    border: 1px solid $lightgrey;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.settings-btn {
    width: 70%;
    margin: $spacing-normal auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5px;
}

.settings-paypal-btn {
    width: 60%;
    background: $black;
    padding: $spacing-xsmall;
    margin: 0 auto;
    display: block;
    border: none;
    border-radius: $spacing-xsmall;
    color: $white;
    letter-spacing: 2px;
    font-size: $font-xsmall;
    font-weight: $weight-black;
    cursor: pointer;

    &:hover {
        background: $matteblack;
    }
}

.divider {
    h2 {
        color: $black;
    }
}