<div class="main-container">
  <app-navbar></app-navbar>

  <h2>Edit Payout</h2>

  <input type="text" id="payout-routing" placeholder="Routing Number">
  <input type="text" id="payout-acc-number" placeholder="Account Number">
  <input type="text" id="payout-confirmation-acc-number" placeholder="Confirmation Account Number">

  <div class="divider">
    <h2>OR</h2>
  </div>

  <button class="settings-paypal-btn"><fa-icon [icon]="['fab', 'paypal']"></fa-icon> Link PayPal Account</button>

  <div class="settings-btn">
    <button class="settings-back-btn" routerLink="..">Back</button>
    <button class="settings-save-btn">Save Changes</button>
  </div>
</div>

<app-footer></app-footer>